<div class="mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row" *ngIf="attivita">
        <div class="col-6 v-center">
            <span class="modifyTitleStyle m-left">{{attivita.titolo}}</span>&nbsp;&nbsp;
        </div>
        <div class="col-6">
            <div class="row v-center float-right">
                <button type="button" class="btn btn-danger btn-icon btn-xs btnAnnulla mLeft12" placement="bottom"
                    ngbTooltip="Annulla le modifiche" (click)="cancel()">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Annulla</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                <button class="btn btn-success btn-icon btn-xs btnSave mLeft12" placement="bottom"
                    ngbTooltip="Modifica l'attività" (click)="save(myForm)">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Salva</span>
                        <span class="col-4 rightItem">
                            <i class="material-icons btnModificationIcon">save</i>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <hr class="hr modifyHr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline modifyShowContent">
        <div class="col-10">
            <span>
                <svg class="icon icon-sm fill-darkblue">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use>
                </svg>
                &nbsp;&nbsp;{{menuContent}}
            </span>
        </div>
        <div class="col-2"><svg class="icon float-right fill-darkblue pointer" (click)="menuContentShow()">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
            </svg></div>
    </div>
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>

    <div class="card-body modify-card-body modify-card-body-height" *ngIf="attivita">
        <span class="row v-center modal-title modalSubject">Dati Attività</span>
        <div class="row m16">
            <div class="col-12">
                <div class="row v-center form-group">
                    <div class="col-5">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivitaStato">
                        <label class="active">Stato</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <input disabled type="text" class="form-control" [(ngModel)]="modalita">
                        <label class="active">Modalità rendicontazione</label>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5"
                        [class.has-danger]="titoloInput.invalid && (titoloInput.dirty || titoloInput.touched)">
                        <input type="text" class="form-control" [(ngModel)]="titolo" id="titolo" #titoloInput="ngModel"
                            (keyup)="trimValue($event, 'titolo')" (focusout)="trimValue($event, 'trim')" required>
                        <label for="titolo" class="active">Titolo</label>
                        <div class="invalid-feedback" [class.d-block]="!titoloInput.value || forceTitoloErrorDisplay">
                            Campo necessario.</div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <div class="row v-center ">
                            <div class="col-1"><span>Dal:</span></div>
                            <div class="col-5">
                                <dp-date-picker #calendarStart [(ngModel)]="date.dataInizio"
                                    (ngModelChange)="changeDate($event)"
                                    [config]="datePickerConfig" theme="dp-material" id="dataInizio"></dp-date-picker>
                                <div class="invalid-feedback" [class.d-block]="!date.dataInizio || forceErrorInvalidInizioData">Data richiesta.</div>
                                <div class="invalid-feedback" [class.d-block]="date.dataInizio > date.dataFine">La data
                                    inizio deve essere anteriore alla data fine</div>
                                <div class="invalid-feedback" [class.d-block]="date.dataInizio < date.minInizio">La
                                    data iniziale non deve precedere il {{date.minInizio.format('DD-MM-YYYY')}}</div>                    
                                </div>
                            <div class="col-1"><span>Al:</span></div>
                            <div class="col-5">
                                <dp-date-picker #calendarEnd [(ngModel)]="date.dataFine" 
                                    (ngModelChange)="changeDate($event)"
                                    [config]="datePickerConfig" theme="dp-material" id="dataFine"></dp-date-picker>
                                <div class="invalid-feedback" [class.d-block]="!date.dataFine || forceErrorInvalidFineData">Data richiesta.</div>
                                <div class="invalid-feedback"
                                    [class.d-block]="!date.dataFine || date.dataFine < date.dataInizio">La data fine
                                    deve essere posteriore alla data inizio</div>
                                <div class="invalid-feedback" [class.d-block]="date.dataFine > date.maxFine">La
                                    data finale non deve eccedere il {{date.maxFine.format('DD-MM-YYYY')}}</div>                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5">
                        <input type="text" class="form-control" [(ngModel)]="attivita.descrizione" id="descrizione"
                            (focusout)="trimValue($event, 'trim')">
                        <label for="descrizione" *ngIf="attivita.descrizione" class="active">Descrizione</label>
                        <label for="descrizione" *ngIf="!attivita.descrizione">Descrizione</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <div class="row v-center">
                            <div class="col-1"><span>Dalle:</span></div>
                            <div class="col-3">
                                <select class="custom-select form-control" style="width: 90px;"
                                    [(ngModel)]="attivita.oraInizio" id="oraInizio" #oraInizioInput="ngModel" required>
                                    <option [value]="ora" *ngFor="let ora of orari">{{ora}}</option>
                                </select>
                                <div class="invalid-feedback" [class.d-block]="forceErrorDisplayOraInizio">
                                    Campo necessario.</div>
                                <div class="invalid-feedback"
                                    [class.d-block]="forceDalleAlleErrorDisplay || oraFineInput.value < oraInizioInput.value">
                                    L'ora di fine deve essere posteriore all'ora di inizio</div>
                            </div>
                            <div class="col-1"><span>Alle:</span></div>
                            <div class="col-3">
                                <select class="custom-select form-control" style="width: 90px;"
                                    [(ngModel)]="attivita.oraFine" id="oraFine" #oraFineInput="ngModel" required>
                                    <option [value]="ora" *ngFor="let ora of orari">{{ora}}</option>
                                </select>
                                <div class="invalid-feedback" [class.d-block]="forceErrorDisplayOraFine">
                                    Campo necessario.</div>
                                <div class="invalid-feedback"
                                    [class.d-block]="forceDalleAlleErrorDisplay || oraFineInput.value < oraInizioInput.value">
                                    L'ora di fine deve essere posteriore all'ora di inizio</div>
                            </div>
                            <div class="col-2"><span>Ore totali:</span></div>
                            <div class="col-2"
                                [class.has-danger]="oreTotaliInput.invalid && (oreTotaliInput.dirty || oreTotaliInput.touched)">
                                <input placeholder="Ora totale" [(ngModel)]="attivita.ore" type="number"
                                    #oreTotaliInput="ngModel"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 ||  event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                    onpaste="return false" />
                                <div class="invalid-feedback"
                                    [class.d-block]="!oreTotaliInput.value || forceOreErrorDisplay">
                                    Campo necessario.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivitaTipologia">
                        <label for="formatore" class="active">Tipologia</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5"
                        [class.has-danger]="schoolYearInput.invalid && (schoolYearInput.dirty || schoolYearInput.touched)">
                        <label class="active">Anno scolastico</label>
                        <select class="custom-select form-control" [(ngModel)]="schoolYear" id="schoolYear"
                            #schoolYearInput="ngModel" (change)="onChange($event.target.value)" 
                            [disabled]="!zeroStudent" required>
                            <option [value]="year" *ngFor="let year of schoolYears">{{year}}</option>
                        </select>
                        <div class="invalid-feedback" [class.d-block]="!schoolYear">
                            Campo necessario.</div>        
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5">
                        <input type="text" class="form-control" [(ngModel)]="attivita.formatore" id="formatore"
                            (focusout)="trimValue($event, 'trim')">
                        <label for="formatore" *ngIf="attivita.formatore" class="active">Formatore</label>
                        <label for="formatore" *ngIf="!attivita.formatore">Formatore</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <input type="text" class="form-control" [(ngModel)]="attivita.formatoreCF" id="formatoreCF"
                            (focusout)="trimValue($event, 'trim')">
                        <label for="formatoreCF" *ngIf="attivita.formatoreCF" class="active">Codice fiscale
                            formatore</label>
                        <label for="formatoreCF" *ngIf="!attivita.formatoreCF">Codice fiscale formatore</label>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5">
                        <ng-template #rtReferente let-riferente="result" let-term="term">
                            <div class="row">
                                <ngb-highlight [result]="riferente.nominativoDocente" [term]="term"></ngb-highlight>
                            </div>
                        </ng-template>
                        <input type="text" class="form-control" [(ngModel)]="riferente" value="riferente.nominativoDocente" id="referente" name="referente"
                            [ngbTypeahead]="getRiferente" [resultTemplate]="rtReferente" [inputFormatter]="formatterReferente" (selectItem)="selectedRiferente($event)">
                            <small *ngIf="searching" class="progress-spinner progress-spinner-active size-sm">
                                <span  class="sr-only">Caricamento...</span>
                            </small>
                        <label for="referente" *ngIf="riferente" class="active">Tutor scolastico</label>
                        <label for="referente" *ngIf="!riferente">Tutor scolastico</label>
                        <div class="invalid-feedback" [class.d-block]="forceReferenteScuolaErrorDisplay">Campo necessario.</div>
                        <div class="text-success text-semibold" *ngIf="forceSelectionMsg">Account tutor scolastico selezionato</div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivita.referenteScuolaCF"
                            id="referenteScuolaCF" (focusout)="trimValue($event, 'trim')">
                        <label for="referenteScuolaCF" *ngIf="attivita.referenteScuolaCF" class="active">Codice fiscale
                            tutor scolastico</label>
                        <label for="referenteScuolaCF" *ngIf="!attivita.referenteScuolaCF">Codice fiscale tutor
                            scolastico</label>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5"
                        [class.has-danger]="referenteEsternoInput.invalid && (referenteEsternoInput.dirty || referenteEsternoInput.touched)">
                        <input [disabled]="tipoInterna" type="text" class="form-control"
                            [(ngModel)]="attivita.referenteEsterno" id="referenteEsterno"
                            #referenteEsternoInput="ngModel" (keyup)="trimValue($event, 'esterno')"
                            (focusout)="trimValue($event, 'trim')">
                        <label for="referenteEsterno" *ngIf="attivita.referenteEsterno" class="active">Referente
                            esterno</label>
                        <label for="referenteEsterno" *ngIf="!attivita.referenteEsterno">Referente esterno</label>
                        <div class="invalid-feedback"
                            [class.d-block]="!tipoInterna && (!referenteEsternoInput.value || forceReferenteEsternoErrorDisplay)">
                            Campo necessario.</div>

                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <input [disabled]="tipoInterna" type="text" class="form-control"
                            [(ngModel)]="attivita.referenteEsternoCF" id="referenteEsternoCF"
                            (focusout)="trimValue($event, 'trim')">
                        <label for="referenteEsternoCF" *ngIf="attivita.referenteEsternoCF" class="active">Codice
                            fiscale referente esterno</label>
                        <label for="referenteEsternoCF" *ngIf="!attivita.referenteEsternoCF">Codice fiscale referente
                            esterno</label>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <ng-template #rt let-r="result" let-t="term">
                        <div class="row">
                            <ngb-highlight [result]="r.nome" [term]="t"></ngb-highlight>&nbsp; PIVA(
                            <ngb-highlight [result]="r.partita_iva" [term]="t"></ngb-highlight>)
                        </div>
                    </ng-template>
                    <div class="col-5"
                        [class.has-danger]="definizioneInput.invalid && (definizioneInput.dirty || definizioneInput.touched)">
                        <input [disabled]="tipoInterna" type="text" class="form-control" [(ngModel)]="azienda"
                            value="Azienda: {{attivita.nomeEnte}}" id="typeahead-basic" #definizioneInput="ngModel"
                            [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" required>
                        <small *ngIf="!tipoInterna && searchingAZ"
                            class="progress-spinner progress-spinner-active size-sm">
                            <span class="sr-only">Caricamento...</span>
                        </small>
                        <label *ngIf="!tipoInterna" for="typeahead-basic" class="active">Azienda</label>
                        <label *ngIf="tipoInterna">Azienda</label>
                        <div class="invalid-feedback"
                            [class.d-block]="!tipoInterna && (forceEnteDisplay || definizioneInput.invalid && (definizioneInput.dirty || definizioneInput.touched) )">
                            Campo necessario.</div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <ng-template #rtAddress let-place="result" let-term="term">
                            <div class="row">
                                <ngb-highlight [result]="place.name" [term]="term"></ngb-highlight>
                            </div>
                        </ng-template>
                        <input type="text" class="form-control" [(ngModel)]="place" value="place.name"
                            id="luogoSvolgimento" [ngbTypeahead]="getAddresses" [resultTemplate]="rtAddress"
                            [inputFormatter]="formatterAddress" (focusout)="trimValue($event, 'trim')">
                        <small *ngIf="searching" class="progress-spinner progress-spinner-active size-sm">
                            <span class="sr-only">Caricamento...</span>
                        </small>
                        <label for="luogoSvolgimento" *ngIf="attivita.luogoSvolgimento" class="active">Indirizzo svolgimento attività</label>
                        <label for="luogoSvolgimento" *ngIf="!attivita.luogoSvolgimento">Indirizzo svolgimento attività</label>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5">
                        <input type="text" pattern="[0-9]*" class="form-control" [(ngModel)]="attivita.referenteScuolaTelefono" id="formatoreTelefono"
                        #formatoreTelefonoInput="ngModel" (focusout)="trimValue($event, 'trim')"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0 ||  event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                        onpaste="return false">
                        <label for="formatoreTelefono" *ngIf="attivita.referenteScuolaTelefono" class="active">Tutor scolastico Telefono</label>
                        <label for="formatoreTelefono" *ngIf="!attivita.referenteScuolaTelefono">Tutor scolastico Telefono</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <input type="text" class="form-control" [(ngModel)]="attivita.referenteScuolaEmail" id="formatoreEmail"
                            (focusout)="trimValue($event, 'trim')">
                        <label for="formatoreEmail" *ngIf="attivita.referenteScuolaEmail" class="active">Tutor scolastico Email</label>
                        <label for="formatoreEmail" *ngIf="!attivita.referenteScuolaEmail">Tutor scolastico Email</label>
                    </div>      
                </div>
                <div class="row v-center form-group">
                    <div class="col-5">
                        <input [disabled]="tipoInterna" type="text" pattern="[0-9]*" class="form-control" [(ngModel)]="attivita.referenteEsternoTelefono" id="formatoreEsternoTelefono"
                        formatoreEsternoTelefonoInput="ngModel" (focusout)="trimValue($event, 'trim')"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0 ||  event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                        onpaste="return false">
                        <label for="formatoreEsternoTelefono" *ngIf="attivita.referenteEsternoTelefono" class="active">Tutor esterno Telefono</label>
                        <label for="formatoreEsternoTelefono" *ngIf="!attivita.referenteEsternoTelefono">Tutor esterno Telefono</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <input [disabled]="tipoInterna" type="text" class="form-control" [(ngModel)]="attivita.referenteEsternoEmail" id="formatoreEsternoEmail"
                            (focusout)="trimValue($event, 'trim')">
                        <label for="formatoreEsternoEmail" *ngIf="attivita.referenteEsternoEmail" class="active">Tutor esterno Email</label>
                        <label for="formatoreEsternoEmail" *ngIf="!attivita.referenteEsternoEmail">Tutor esterno Email</label>
                    </div>      
      
                </div>
            </div>
        </div>
    </div>
</div>