.custom_filter {
    position: absolute;
    right: 0px;
}


.filter_style{
    // font-size: large;
    position: relative;
    right: 15px;
    vertical-align: bottom;
    
}

.filter_input {
    position: relative;
    right: 20px;
}

.filter_button {
    position: relative;
    right: 20px;
    top: 5px;
}

.custom_tr {
    vertical-align: middle;
}


