<div class="mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row m-left" *ngIf="attivita">
        <div class="col-6 v-center">
            <span class="modifyTitleStyle">{{attivita.titolo}}</span>&nbsp;&nbsp;
            <span (click)="menuContentShow()" class="pointer">
                <svg *ngIf="!showContent" class="icon icon-primary icon-bg">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                </svg>
                <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon">
            </span>
        </div>
        <div class="col-6">
            <span class="float-right m-right">
                <button *ngIf="attivita.stato!='archiviata' && dataService.validateRoles(['FUNZIONE_STRUMENTALE','DIRIGENTE_SCOLASTICO'])"
                    class="btn btn-secondary btn-xs btn-icon py-1 pr-2 btnDelete mLeft12" placement="bottom"
                    ngbTooltip="Elimina questa attività" (click)="delete()">
                    <span class="row btnText">
                        <span class="col-10 v-center">Elimina attività</span>
                        <span class="col-2">
                            <svg class="icon icon-white icon-sm">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-delete"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                <button *ngIf="attivita.stato!='archiviata' && dataService.validateRoles(['FUNZIONE_STRUMENTALE','DIRIGENTE_SCOLASTICO']) && esperienze.length > 0"
                    class="btn btn-warning btn-xs btn-icon py-1 pr-2 btnArchivia mLeft12" placement="bottom"
                    ngbTooltip="Archivia questa attività" (click)="archivia()">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Archivia</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-box"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                <button *ngIf="individuale && attivita.stato!='archiviata' && dataService.validateRoles(['FUNZIONE_STRUMENTALE','DIRIGENTE_SCOLASTICO'])" class="btn btn-primary btn-sm btn-icon btnDuplica mLeft12"
                    placement="bottom" ngbTooltip="Crea una copia di questo attività" (click)="duplicaAA()">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Duplica</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-copy"></use>
                            </svg>
                        </span>
                    </span>
                </button>
            </span>
        </div>
    </div>
    <hr class="hr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use>
            </svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight"
                (click)="menuContentShow()">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
            </svg></div>
    </div>
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>
    <div class="card-body m-16" *ngIf="attivita">
        <div>
            <span class="title">Dati Attività</span><br />
            <label *ngIf="attivita.offertaId" class="font-weight-bold in_attesa">
                <span>Offerta associata: {{ attivita.titoloOfferta }}</span>&nbsp;&nbsp;
                <span *ngIf="dataService.validateRoles(['DIRIGENTE_SCOLASTICO', 'FUNZIONE_STRUMENTALE'])">
                    <a class="underline" [routerLink]="['/offerte/detail/', attivita.offertaId]">VEDI OFFERTA
                        ASSOCIATA</a>
                </span>
            </label>
            <br *ngIf="attivita.offertaId" />
            <button *ngIf="attivita.stato!='archiviata' && dataService.validateRoles(['FUNZIONE_STRUMENTALE','DIRIGENTE_SCOLASTICO'])" class="btn btn-primary v-center-inline" placement="bottom"
                ngbTooltip="Modifica i dati di quest’attività" (click)="modifica()">
                Modifica dati attività&nbsp;&nbsp;&nbsp;<i class="material-icons">edit</i></button>
        </div>
        <br>
        <div class="row">
            <span class="col-6">
                <span class="text-semibold">Stato:&nbsp;</span>
                <span class="{{attivita.stato}}">{{getStatoNome(attivita.stato)}}</span>
            </span>
            <span class="">
                <span class="text-semibold">Modalità rendicontazione:&nbsp;</span>
                <span>{{ isRendicontazioneOre(attivita) }}</span>
            </span> 
        </div>
        <div class="p-1 middle-div row">
            <div class="col-6">
                <span class="row"><span class="text-semibold">Titolo:&nbsp;</span>{{attivita.titolo}}</span>
                <span class="row"><span class="text-semibold">Descrizione:&nbsp;</span>{{attivita.descrizione}}</span>
                <span class="row"><span
                        class="text-semibold">Tipologia:&nbsp;</span>{{ getTipologiaString(attivita.tipologia) }}</span>
                <span *ngIf="!tipoInterna" class="row"><span class="text-semibold">Ente:&nbsp;</span><a [routerLink]="" (click)="routeEntity()">{{ attivita.nomeEnte }}</a></span>
                <span class="row"><span class="text-semibold">Formatore:&nbsp;</span>{{attivita.formatore}}</span>
                <span class="row"><span class="text-semibold">Tutor
                        scolastico:&nbsp;</span>{{attivita.referenteScuola}}</span>
                <span class="row"><span class="text-semibold">Tutor
                        scolastico Telefono:&nbsp;</span>{{attivita.referenteScuolaTelefono}}</span>
                <span *ngIf="!tipoInterna" class="row"><span class="text-semibold">Tutor
                        esterno:&nbsp;</span>{{attivita.referenteEsterno}}</span>
                <span *ngIf="!tipoInterna" class="row"><span class="text-semibold">Tutor
                        esterno Telefono:&nbsp;</span>{{attivita.referenteEsternoTelefono}}</span>        
            </div>
            <div class="col-6">
                <span class="row"><span
                        class="text-semibold">Dal:&nbsp;</span>{{attivita.dataInizio | date: 'dd/MM/yyyy'}} &nbsp;<span
                        class="text-semibold">Al:&nbsp;</span>{{attivita.dataFine | date: 'dd/MM/yyyy'}}</span>
                <span class="row"><span class="text-semibold">Dalle:&nbsp;</span>{{attivita.oraInizio}} &nbsp; <span
                        class="text-semibold">Alle:&nbsp;</span>{{attivita.oraFine}}</span>
                <span class="row"><span class="text-semibold">Anno
                        accademico:&nbsp;</span>{{ attivita.annoScolastico }}</span>
                <span class="row"><span
                        class="text-semibold">Indirizzo:&nbsp;</span>{{ attivita.luogoSvolgimento }}</span>
                <span class="row"><span class="text-semibold">CF Formatore:&nbsp;</span>{{attivita.formatoreCF}}</span>
                <span class="row"><span class="text-semibold">CF tutor
                        scolastico:&nbsp;</span>{{attivita.referenteScuolaCF}}</span>
                <span class="row"><span class="text-semibold">Tutor
                        scolastico Email:&nbsp;</span>{{attivita.referenteScuolaEmail}}</span>
                <span *ngIf="!tipoInterna" class="row"><span class="text-semibold">CF tutor
                    esterno:&nbsp;</span>{{attivita.referenteEsternoCF}}</span>
                <span *ngIf="!tipoInterna" class="row"><span class="text-semibold">Tutor
                    esterno Email:&nbsp;</span>{{attivita.referenteEsternoEmail}}</span>
                <span class="row"><span class="text-semibold">Ore totali:&nbsp;</span>{{attivita.ore}}</span>
            </div>
        </div>
        <br />
        <div class="title">
            Studenti Associati<br />
            <button *ngIf="!attivita.rendicontazioneCorpo && attivita.stato=='archiviata' && !attivita.tutorClasse"
                class="btn btn-primary v-center-inline" placement="bottom" ngbTooltip="Vedi le presenze e i diari dell’attività"
                (click)="gestionePresenze()">
                Vedi presenze studenti&nbsp;&nbsp;&nbsp;<i class="material-icons">edit</i></button>
            <button *ngIf="!attivita.rendicontazioneCorpo && attivita.stato!='archiviata' && !zeroStudent && !attivita.tutorClasse"
                class="btn btn-primary v-center-inline" placement="bottom"
                ngbTooltip="Valida le presenze e i diari dell’attività" (click)="gestionePresenze()">
                Gestisci presenze studenti&nbsp;&nbsp;&nbsp;<i class="material-icons">edit</i></button>
            <button *ngIf="!attivita.rendicontazioneCorpo && attivita.stato!='archiviata' && zeroStudent && !attivita.tutorClasse"
                class="btn v-center-inline btnZeroStudent" placement="bottom"
                ngbTooltip="Associa almeno uno studente all'attività!">
                Gestisci presenze studenti&nbsp;&nbsp;&nbsp;<i class="material-icons">edit</i></button>
            <button *ngIf="attivita.rendicontazioneCorpo && !attivita.tutorClasse" class="btn btn-primary v-center-inline" placement="bottom"
                ngbTooltip="Valida, inserisci o modifica le ore svolte" (click)="modificaOreStudenti()">
                Modifica Ore Studenti&nbsp;&nbsp;&nbsp;<i class="material-icons">edit</i></button>&nbsp;&nbsp;
            <button *ngIf="attivita.stato!='archiviata' && dataService.validateRoles(['FUNZIONE_STRUMENTALE','DIRIGENTE_SCOLASTICO'])"
                class="btn btn-primary v-center-inline" placement="bottom"
                ngbTooltip="Associa o rimuovi studenti da quest’attività" (click)="updateStudentiAssociate()">
                Modifica studenti associati&nbsp;&nbsp;&nbsp;<i class="material-icons">edit</i></button>
        </div>
        <div *ngIf="esperienze.length > 0">
            <div class="table list-group">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CF</th>
                            <th>Classe</th>
                            <th *ngIf="attivita.rendicontazioneCorpo">Ore svolte</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let esp of esperienze" [routerLink]="['/studenti/list/detail/', esp.studenteId]">
                            <td>{{esp.nominativoStudente}}</td>
                            <td>{{esp.cfStudente}}</td>
                            <td>{{esp.classeStudente}}</td>
                            <td *ngIf="attivita.rendicontazioneCorpo">{{esp.oreRendicontate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="title">
            Documenti allegati<br />
            <button (click)="openDocumentUpload()" *ngIf="attivita.stato!='archiviata'"
                class="btn btn-primary v-center-inline btn-icon" placement="right"
                ngbTooltip="Allega un nuovo documento all’attività (dimensione massima 10MB)">
                Carica file&nbsp;&nbsp;&nbsp;
                <svg class="icon icon-white icon-sm">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-upload"></use>
                </svg>
            </button>
            &nbsp;
            <button (click)="generaProgettoFormativo()" *ngIf="attivita.stato!='archiviata' && isTiro()"
                class="btn btn-primary v-center-inline btn-icon" placement="right"
                ngbTooltip="Scarica un modello di Progetto Formativo precompilato con i dati già presenti in EDIT">
                Genera progetto formativo&nbsp;&nbsp;&nbsp;
                <svg class="icon icon-white icon-sm">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-download"></use>
                </svg>
            </button>
        </div>
        <div class="table list-group" *ngIf="documenti && documenti.length > 0">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th width="30%">Nome file</th>
                        <th width="30%">Tipologia</th>
                        <th width="30%">Data caricamento</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doc of documenti">
                        <td><a [routerLink]="" (click)="downloadDoc(doc)">{{doc.nomeFile}}</a></td>
                        <td>{{setDocType(doc.tipo)}}</td>
                        <td>{{doc.dataUpload | date: 'dd/MM/yy' }}</td>
                        <td>
                            <div class='btn btn-primary btn-icon btn-xs float-right'
                                *ngIf="attivita.stato!='archiviata'">
                                <svg class="icon icon-white icon-sm" (click)="deleteDoc(doc)">
                                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-delete"></use>
                                </svg>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div *ngIf="attivita && isTiro() && this.esperienze[0] && ( attivita.stato=='archiviata' || isValutazioneActive() )">
        <div class="title">Valutazioni</div>
        <div class="list-group">
             <table class="table table-hover">
                <thead *ngIf="valEsperienzaTiro || valCompetenzeTiro">
                    <tr>
                        <th></th>
                        <th>Data compilazione</th>
                        <th>Compilabile da</th>
                        <th>Esito</th>
                        <th>Stato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="valEsperienzaTiro">
                        <td class="pointer">
                            <span class="align-middle" onclick="return false;"
                                ngbTooltip="Visualizza la valutazione dell’esperienza fatta dallo studente" placement="right">
                                <a [routerLink]="" (click)="routeValutazioneEsperienza()">Valutazione esperienza</a>
                            </span>
                        </td>
                        <td>
                            <span class="align-middle">{{ setDate(valEsperienzaTiro.ultimaModifica) }}</span>
                        </td>
                        <td>
                            <span class="align-middle">{{ esperienze[0].nominativoStudente }}</span>
                        </td>
                        <td>
                            <span class="align-middle">{{ setMedia(valEsperienzaTiro.media) }}</span>
                        </td>
                        <td><span class="align-middle" [ngStyle]="styleStatoVal(valEsperienzaTiro)">{{ setStatoValutazione(valEsperienzaTiro) }}</span>
                        </td>
                    </tr>
                    <tr *ngIf="valCompetenzeTiro">
                        <td class="pointer">
                            <span class="align-middle" onclick="return false;"
                                ngbTooltip="Visualizza la valutazione fatta dall’ente sull’acquisizione delle competenze associate all’attività"
                                placement="right">
                                <a [routerLink]="" (click)="routeValutazioneCompetenze()">Valutazione competenze</a>
                            </span>
                        </td>
                        <td>                            
                            <span class="align-middle">{{ setDate(valCompetenzeTiro.ultimaModifica) }}</span>
                        </td>
                        <td class="pointer">
                            <span class="align-middle">{{ ente.nome }}</span>
                        </td>
                        <td class="pointer">
                            <span class="align-middle">{{ setEsitoCompetenze(valCompetenzeTiro) }}</span>                            
                        </td>
                        <td class="pointer">
                            <span class="align-middle" [ngStyle]="styleStatoValCompetenza(valCompetenzeTiro)">{{ setStatoValutazioneCompetenze(valCompetenzeTiro) }}</span>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
    <br />
    </div>
    <div *ngIf="attivita && dataService.validateRoles(['FUNZIONE_STRUMENTALE','DIRIGENTE_SCOLASTICO'])
    && (attivita.tipologia == 7 || attivita.tipologia == 10)">
        <div class="title">Convenzioni</div>
        <div class="list-group" *ngIf="convenzioni && convenzioni.length > 0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome convenzione</th>
                        <th>File convenzione</th>
                        <th>Data inizio validità</th>
                        <th>Data fine validità</th>
                        <th>Ente di riferimento</th>
                        <th>Stato convenzione</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let conv of convenzioni">
                        <!-- Nome -->
                        <td>
                            <span class="align-middle">{{ conv.nome }}</span>
                        </td>
                        <!-- File convenzione -->
                        <td class="pointer" onclick="return false;">
                            <span class="align-middle"><a [routerLink]="" (click)="downloadConvenzioneDoc(conv)">{{conv.nomeFile}}</a></span>
                        </td>
                        <!-- Data inizio -->
                        <td>
                            <span class="align-middle">{{ conv.dataInizio | date:'dd/MM/yyyy' }}</span>
                        </td>
                        <!-- Data fine -->
                        <td>
                            <span class="align-middle" [ngStyle]="styleOptionConvenzione(conv)">{{ conv.dataFine | date:'dd/MM/yyyy' }}</span>
                        </td>
                        <td class="pointer">
                            <span class="align-middle"><a [routerLink]="" (click)="routeEntity()">{{ conv.nomeEnte }}</a></span>
                        </td>
                        <!-- stato -->
                        <td>
                            <span class="align-middle" [ngStyle]="styleOptionConvenzione(conv)">{{ setStatoConvenzione(conv)
                                }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row p-1" *ngIf="!convenzioni?.length && ente">
            <div class="warning-div col-xl-12">
                <span>La convenzione con l’ente <a class="text-bold" [routerLink]="['/enti/detail/', ente.id]">{{ente.nome}}</a> è <span
                    class="text-bold revisione">ASSENTE</span>. L’ente non può visualizzare i dati degli studenti di
                    questo istituto sul suo profilo EDIT.<br>
                    Puoi comunque creare e gestire attività presso queste ente, sia tramite il portale scuola che la webapp studenti - ma senza la collaborazione diretta dell’ente tramite il suo profilo EDIT.<br> 
                    Per permettere all’ente di collaborare con la gestione dell’attività tramite la sua interfaccia EDIT inserisci una convenzione valida nella pagina profilo dell’ente.
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="title">
        Competenze associate<br />
        <button *ngIf="attivita && attivita.stato!='archiviata'" class="btn btn-primary v-center-inline" placement="right"
            ngbTooltip="Aggiungi, modifica o rimuovi competenze associate" (click)="updateCompetenzePiano()">
            Modifica competenze&nbsp;&nbsp;&nbsp;<i class="material-icons">edit</i></button>
    </div>
    <div *ngIf="attivita && atttivitaCompetenze[0]">
        <div class="table list-group">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th width="20%">Creato da</th>
                        <th width="60%">Definizione</th>
                        <th *ngIf="isTiro()" width="20%">Valutazione ente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let competenza of atttivitaCompetenze">
                        <td>{{ competenza.ownerName }}</td>
                        <td>{{ competenza.titolo }}</td>
                        <td *ngIf="isTiro() && valCompetenzeTiro" [ngStyle]="styleLabel(competenza)">{{ setLabel(competenza) }}</td>
                        <td *ngIf="isTiro() && !valCompetenzeTiro">-</td>                    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>