.list-container{
    margin-top: 40px;
    >.row {
        margin: 0px;
    }
    .card-body {
        >.row {
            align-items: center;
            .filter-data {
                span {
                    position: absolute;
                    right: 20px;
                    bottom: 0px;
                    font-size: 15px;
                }
            }
        }
        button {
            span {
                margin: 4px;
            }
        }
        .btnZeroStudent{
            background-color: #E7EAED;
            color: white;
        }
    }
    .list-group {
        margin-top: 20px;
        .row {
            align-items: center;
        }
        .title {
            font-size: 18px;
            font-weight: bold;
        }
        .content {
            font-size: 20px;
        }
    }
    .menu-content {
        border-bottom: 10px solid #3DBBD2;
    }
    .middle-table {
        position: relative;
        max-width: 50%;        
        left: 20%;
    }
    .title{
        text-align: left;
        letter-spacing: 0;
        color: #5A6772;
        opacity: 1;
        font-size: larger;
        font-weight: bold;
    }
    .underline {
       text-decoration: underline
    }
    .warning-div {
        background: #FFFFFF;
        border: 3px solid #FF9700;
        box-sizing: border-box;
    }
}