.card{
    border: 0px solid rgba(0, 0, 0, .125);
}
.broderRight{
    border-right: 2.5px solid #393939;
}

.broderLeft{
    border-left: 2.5px solid #393939;
}
.iconPrimaryColor {
    fill: #0066CC!important;
}
.iconDangerColor {
    fill: #F83E5A!important;
}
.row-fixed-height {
    display: flex; /* equal height of the children */
    height: 80px;
    overflow-y: auto;
}