<div class=" mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row" *ngIf="offerta">
        <div class="col-6 v-center">
            <span class="modifyTitleStyle m-left">{{offerta.titolo}}</span>&nbsp;&nbsp;
            <span (click)="menuContentShow()">
                <svg *ngIf="!showContent" class="icon icon-primary icon-bg pointer">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                </svg>
                <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon pointer">
            </span>
        </div>
        <div class="col-6">
            <span class="row v-center float-right m0">
                <button type="button" class="btn btn-danger btn-icon btn-xs btnAnnulla mLeft12"
                    [routerLink]="['../../']" placement="bottom" ngbTooltip="Annulla le modifiche">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Annulla</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                <button *ngIf="attachedIstituti" class="btn btn-success btn-icon btn-xs btnSave mLeft12"
                    (click)="addIstituti()" placement="bottom" ngbTooltip="Salva le modifiche">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Salva</span>
                        <span class="col-4 rightItem">
                            <i class="material-icons btnModificationIcon">save</i>
                        </span>
                    </span>
                </button>
            </span>
        </div>
    </div>
    <hr class="hr modifyHr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use>
            </svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight"
                (click)="menuContentShow()">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
            </svg></div>
    </div>
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>
    <br>
    <div *ngIf="attachedIstituti">
        <cm-istituti-selector [attachedIstituti]="attachedIstituti" [offertaDataInizio] = "offerta.dataInizio" [offertaDataFine] = "offerta.dataFine"
            (onNewIstitutiAddedListener)="addNewIstituti($event)"></cm-istituti-selector>
    </div>
</div>