.card-header {
    font-size: 18px;
}
.card-body {
    .row {
        padding: 8px;
        align-items: center;

        .detail-label{
            font-size: 18px;
            font-weight: bold;

        }
        .advice-label {
            color: blue;
        }
        input {
            width: 100%;
            padding-right: 20px;
        }
        textarea {
            width: 100%;
            padding-right: 20px;          
        }
        span{
            position: absolute;
            right: 20px;
            bottom: 0px;
            font-size: 15px;
        }
    }
}

.custom_select {
    width: inherit;
  }

.right {
    position: absolute;
    right: 0px;
}
  