<div class="mb-3 list-container md-margin">
    <div class="row">
        <div class="col-4">
            <div class="row v-center">
                <span class="title m-left2">{{title}}</span>&nbsp;&nbsp;
                <span (click)="menuContentShow()">
                    <svg *ngIf="!showContent" class="icon icon-primary icon-bg pointer">
                        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                    </svg>
                    <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon pointer">
                </span>
            </div>
        </div>
        <div class="col-8">
            <button *ngIf="dataService.validateRoles(['DIRIGENTE_SCOLASTICO', 'FUNZIONE_STRUMENTALE'])" class="btn btn-success btn-icon float-right btnCreate m-right mTop10" (click)="openPrimoModalCreateAttivita()">
                <span class="row btnCreateText">
                    <span class="col-8 m-left18" placement="bottom" ngbTooltip="Crea una nuova attività">Crea
                        attività</span>
                    <span class="col-4">
                        <svg class="icon icon-white icon-sm btnIcon">
                            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-plus-circle"></use>
                        </svg>
                    </span>
                </span>
            </button>
        </div>
    </div>
    <hr class="hr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use>
            </svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight"
                (click)="menuContentShow()">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
            </svg></div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-5">
            <div class="row form-group" [ngStyle]="{'margin-top':'0'}">
                <input type="text" id="cercaAttivita" class="col-10 form-control" [ngStyle]="customSearchOption()" [(ngModel)]="filtro.titolo"
                    (keyup.enter)="cerca()">
                <label *ngIf="!filtro.titolo" for="cercaAttivita">Cerca titolo, CF, cognome o classe</label>
                <it-button class="col-2 v-center-inline" (click)="cerca()">
                    <svg class="icon icon-primary">
                        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-search"></use>
                    </svg>
                </it-button>    
            </div>
        </div>
        <div class="col-3">
            <select class="custom-select form-control" [ngStyle]="customTipologiaOption()" [(ngModel)]="tipologia"
                (ngModelChange)="selectTipologiaFilter()">
                <option selected="selected">Tipologia</option>
                <option [value]="tipologia.id" *ngFor="let tipologia of tipologie">{{tipologia.titolo}}</option>
            </select>
        </div>
        <div class="col-2">
            <select class="custom-select form-control" [ngStyle]="customAnnoOption()" [(ngModel)]="anno"
                (ngModelChange)="selectAnnoFilter()">
                <option selected="selected">Anno scolastico</option>
                <option [value]="anno" *ngFor="let anno of anni">{{anno}}</option>
            </select>
        </div>
        <div class="col-2">
            <select class="float-right custom-select form-control" [ngStyle]="customStatoOption()" [(ngModel)]="stato"
                (ngModelChange)="selectStatoFilter()">
                <option [ngValue]="undefined">Stato</option>
                <option [ngValue]="stato.value" *ngFor="let stato of stati">{{stato.name}}</option>
            </select>
        </div>
    </div>
    <br />
    <div class="table list-group" *ngIf="attivitaAAs && attivitaAAs.length">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Titolo</th>
                    <th>Assegnato a</th>
                    <th>Tipologia</th>
                    <th>Ente</th>
                    <th>Periodo</th>
                    <th>Stato</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aa of attivitaAAs" (click)="openDetail(aa)">
                    <!-- Titolo -->
                    <td class="pointer">
                        <span #tooltipTitolo="ngbTooltip" placement="right" ngbTooltip="{{aa.toolTipRiga}}"
                            (mouseenter)="showTipRiga($event, aa, tooltipTitolo);" class="align-middle"
                            (click)="openDetail(aa)">{{ aa.titolo }}
                        </span>
                    </td>
                    <!-- Assegnato a -->
                    <td class="pointer">
                        <span #tooltipAssegnato="ngbTooltip" placement="right" ngbTooltip="{{aa.toolTipRiga}}"
                            (mouseenter)="showTipRiga($event, aa, tooltipAssegnato);" class="align-middle"
                            (click)="openDetail(aa)">{{setAssegnatoLabel(aa)}}
                        </span>
                    </td>
                    <!-- Tipologia -->
                    <td class="pointer">
                        <span #tooltipTipologia="ngbTooltip" placement="bottom" ngbTooltip="{{aa.toolTipRiga}}"
                            (mouseenter)="showTipRiga($event, aa, tooltipTipologia);" class="align-middle"
                            (click)="openDetail(aa)">{{ getTipologia(aa.tipologia).titolo }}
                        </span>
                    </td>
                    <!-- Ente -->
                    <td class="pointer">
                        <span #tooltipEnte="ngbTooltip" placement="bottom" ngbTooltip="{{aa.toolTipRiga}}"
                            (mouseenter)="showTipRiga($event, aa, tooltipEnte);" class="align-middle"
                            (click)="openDetail(aa)">{{ aa.nomeEnte }}
                        </span>
                    </td>
                    <!-- Periodo -->
                    <td class="pointer">
                        <span #tooltipPeriodo="ngbTooltip" placement="bottom" ngbTooltip="{{aa.toolTipRiga}}"
                            (mouseenter)="showTipRiga($event, aa, tooltipPeriodo);" class="align-middle"
                            (click)="openDetail(aa)">{{ aa.dataInizio | date: 'dd/MM/yyyy'}} -
                            {{ aa.dataFine | date: 'dd/MM/yyyy'}}
                        </span>
                    </td>
                    <!-- Stato -->
                    <td class="pointer">
                        <span #tooltipStato="ngbTooltip" placement="bottom" ngbTooltip="{{aa.toolTipoStatoRiga}}"
                            (mouseenter)="showTipStatoRiga($event, aa, tooltipStato);"
                            (mouseleave)="hideTipStatoRiga($event, aa, tooltipStato);" class="align-middle {{aa.stato}}"
                            (click)="openDetail(aa)">
                            {{getStatoNome(aa.stato) }}
                            <div *ngIf="aa.fetchingToolTipRiga && (aa.toolTipoStatoRiga == null || aa.toolTipoStatoRiga=='')"
                                class="progress-spinner progress-spinner-active size-sm">
                                <span class="sr-only">Caricamento...</span>
                            </div>
                        </span>
                    </td>
                    <td class="pointer">
                        <span *ngIf="aa.stato=='in_attesa' && !aa.tutorClasse" class="align-middle"></span>
                        <span *ngIf="(aa.stato=='revisione' || aa.stato=='in_corso') && !aa.tutorClasse" class="align-middle">
                            <span *ngIf="!aa.rendicontazioneCorpo" #tooltipBotton="ngbTooltip" placement="bottom" ngbTooltip="{{aa.toolTipButton}}"
                                (mouseenter)="showTipButton($event, aa, tooltipBotton);"
                                (mouseleave)="hideTipButton($event, aa, tooltipStato);">
                                <div class='btn btn-primary btn-icon btn-xs' (click)="gestionePresenze(aa)">
                                    <svg class="icon icon-white icon-sm">
                                        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-note"></use>
                                    </svg>
                                </div>
                                <div *ngIf="aa.fetchingToolTipButton && (aa.toolTipButton == null || aa.toolTipButton=='')"
                                    class="progress-spinner progress-spinner-active size-sm">
                                    <span class="sr-only">Caricamento...</span>
                                </div>
                            </span>
                            <span *ngIf="aa.rendicontazioneCorpo" placement="bottom" ngbTooltip="Attività con rendicontazione a corpo">
                                <div class='btn btn-primary btn-icon btn-xs' (click)="gestionePresenze(aa)">
                                    <svg class="icon icon-white icon-sm">
                                        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-note"></use>
                                    </svg>
                                </div>
                            </span>
                        </span>
                        <span *ngIf="aa.stato=='archiviata'" placement="bottom" ngbTooltip="archiviata"
                            class="align-middle" (click)="openDetail(aa)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="font-14 text-center font-weight-bold">
        <div class="row" *ngIf="!attivitaAAs?.length && filterSearch">
            <div class="col-xl-12 text-center errorIconPaddingTop">
                <svg class="icon icon-danger icon-xl">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-error"></use>
                </svg>
            </div>
            <div class="col-xl-12 text-center">
                <span class="searchError">Nessun risultato: modifica i tuoi criteri di ricerca</span>
            </div>
            <div class="col-sm-12 text-center">
                <button type="button" class="btn" (click)='refreshAttivita()'>
                    <span class="resetFilterBtn">
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <svg class="icon icon-danger">
                                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close"></use>
                                </svg>
                            </div>
                            <div class="col-sm-10 ">Resetta filtri</div>
                        </div>
                    </span>
                </button>
            </div>
        </div>
        <div class="row" *ngIf="!attivitaAAs?.length && !filterSearch">
            <div class="col-xl-12 text-center errorIconPaddingTop">
                <svg class="icon icon-lightGrey icon-xl">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-error"></use>
                </svg>
            </div>
            <div class="col-xl-12 text-center">
                <span class="searchError">Questa lista è vuota</span>
            </div>
            <div class="col-sm-12 text-center searchErrorMsg text-semibold">Se sei autorizzato, puoi creare nuove attività con il pulsante
                verde in alto a destra.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <cm-pagination [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"
            #cmPagination></cm-pagination>
    </div>
</div>