.details-image {
    height:100px;width:100px;margin-top:10px;
}

.custom_label {
    font-weight: normal;
}

.max-width {
    max-width: 50%
}


.eval_label {
    font-size:18px;
    font-weight:bold;
}

.label_75 {
    font-weight: normal;
    font-size:14px; 
    max-width: 70ch;
    text-align: justify
}

.padding {
    padding-left: 15px;
    padding-top: 10px;
}

.right {
    text-align: right;
}

