.details-image {
    height:100px;width:100px;margin-top:10px;
}

.custom_label {
     font-weight: normal;
}

.eval_label {
    font-size:18px;
    font-weight:bold;
}

.custom_select {
    color: grey;
    padding-right: 10px;
  
}

.label_75 {
    font-weight: normal;
    font-size:14px; 
    max-width: 70ch;
    text-align: justify
}