<div class="mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row" *ngIf="attivita">
        <div class="col-6 v-center">
            <span class="modifyTitleStyle m-left">{{attivita.titolo}}</span>&nbsp;&nbsp;
        </div>
        <div class="col-6">
            <div class="row v-center float-right">
                <button type="button" class="btn btn-danger btn-icon btn-xs btnAnnulla mLeft12" placement="bottom"
                    ngbTooltip="Annulla le modifiche" (click)="cancel()">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Annulla</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                <button class="btn btn-success btn-icon btn-xs btnSave mLeft12" placement="bottom"
                    ngbTooltip="Modifica l'attività" (click)="save()">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Salva</span>
                        <span class="col-4 rightItem">
                            <i class="material-icons btnModificationIcon">save</i>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <hr class="hr modifyHr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline modifyShowContent">
        <div class="col-10">
            <span>
                <svg class="icon icon-sm fill-darkblue">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use>
                </svg>
                &nbsp;&nbsp;{{menuContent}}
            </span>
        </div>
        <div class="col-2"><svg class="icon float-right fill-darkblue pointer" (click)="menuContentShow()">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
            </svg></div>
    </div>
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>

    <div class="card-body modify-card-body modify-card-body-height" *ngIf="attivita">
        <span class="row v-center modal-title modalSubject">Dati Attività</span>
        <div class="row m16">
            <div class="col-12">
                <div class="row v-center form-group">
                    <div class="col-5">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivitaStato">
                        <label class="active disabled">Stato</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <input disabled type="text" class="form-control" [(ngModel)]="modalita">
                        <label class="active">Modalità rendicontazione</label>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5"
                        [class.has-danger]="titoloInput.invalid && (titoloInput.dirty || titoloInput.touched)">
                        <input disabled type="text" class="form-control" [(ngModel)]="titolo" id="titolo"
                            #titoloInput="ngModel" (keyup)="trimValue($event, 'titolo')"
                            (focusout)="trimValue($event, 'trim')" required>
                        <label for="titolo" class="active disabled">Titolo</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <div class="row v-center ">
                            <div class="col-1 disabled"><span>Dal:</span></div>
                            <div class="col-5">
                                <dp-date-picker disabled #calendarStart [(ngModel)]="date.dataInizio"
                                    [displayDate]="date.dataInizio" [config]="datePickerConfig" theme="dp-material"
                                    id="dataInizio"></dp-date-picker>
                            </div>
                            <div class="col-1 disabled"><span>Al:</span></div>
                            <div class="col-5">
                                <dp-date-picker disabled #calendarEnd [(ngModel)]="date.dataFine"
                                    [displayDate]="date.dataFine" [config]="datePickerConfig" theme="dp-material"
                                    id="dataFine"></dp-date-picker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5 disabled">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivita.descrizione"
                            id="descrizione" (focusout)="trimValue($event, 'trim')">
                        <label for="descrizione" *ngIf="attivita.descrizione" class="active">Descrizione</label>
                        <label for="descrizione" *ngIf="!attivita.descrizione">Descrizione</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <div class="row v-center">
                            <div class="col-1 disabled"><span>Dalle:</span></div>
                            <div class="col-3"><input disabled placeholder="Ora inizio" [(ngModel)]="attivita.oraInizio"
                                    type="text" pattern="[0-9][0-9]" minlength="1" maxlength="2"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 ||  event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                    onpaste="return false" #dalleInput="ngModel" />
                            </div>
                            <div class="col-1 disabled"><span>Alle:</span></div>
                            <div class="col-3"><input disabled placeholder="Ora fine" [(ngModel)]="attivita.oraFine"
                                    type="text" pattern="[0-9][0-9]" minlength="1" maxlength="2"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 ||  event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                    onpaste="return false" #alleInput="ngModel" />
                            </div>
                            <div class="col-2 disabled"><span>Ore totali:</span></div>
                            <div class="col-2"
                                [class.has-danger]="oreTotaliInput.invalid && (oreTotaliInput.dirty || oreTotaliInput.touched)">
                                <input disabled placeholder="Ora totale" [(ngModel)]="attivita.ore" type="number"
                                    #oreTotaliInput="ngModel"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 ||  event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                    onpaste="return false" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivitaTipologia">
                        <label for="formatore" class="active disabled">Tipologia</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivita.annoScolastico">
                        <label class="active disabled">Anno accademico</label>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5 disabled">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivita.luogoSvolgimento"
                            id="indirizzo" (focusout)="trimValue($event, 'trim')">
                        <label for="indirizzo" *ngIf="attivita.luogoSvolgimento" class="active">Indirizzo</label>
                        <label for="indirizzo" *ngIf="!attivita.luogoSvolgimento">Indirizzo</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5 disabled">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivita.nomeIstituto"
                            id="nomeIstituto" (focusout)="trimValue($event, 'trim')">
                        <label for="nomeIstituto" *ngIf="attivita.nomeIstituto" class="active">Istituto</label>
                        <label for="nomeIstituto" *ngIf="!attivita.nomeIstituto">Istituto</label>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5 disabled">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivita.formatore" id="formatore"
                            (focusout)="trimValue($event, 'trim')">
                        <label for="formatore" *ngIf="attivita.formatore" class="active">Formatore</label>
                        <label for="formatore" *ngIf="!attivita.formatore">Formatore</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5 disabled">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivita.formatoreCF"
                            id="formatoreCF" (focusout)="trimValue($event, 'trim')">
                        <label for="formatoreCF" *ngIf="attivita.formatoreCF" class="active">CF formatore</label>
                        <label for="formatoreCF" *ngIf="!attivita.formatoreCF">CF formatore</label>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5 disabled"
                        [class.has-danger]="referenteScuolaInput.invalid && (referenteScuolaInput.dirty || referenteScuolaInput.touched)">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivita.referenteScuola"
                            id="referenteScuola" #referenteScuolaInput="ngModel"
                            (keyup)="trimValue($event, 'scolastico')" (focusout)="trimValue($event, 'trim')" required>
                        <label for="referenteScuola" *ngIf="attivita.referenteScuola" class="active">Tutor
                            scolastico</label>
                        <label for="referenteScuola" *ngIf="!attivita.referenteScuola">Tutor scolastico</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5 disabled">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivita.referenteScuolaCF"
                            id="referenteScuolaCF" (focusout)="trimValue($event, 'trim')">
                        <label for="referenteScuolaCF" *ngIf="attivita.referenteScuolaCF" class="active">CF referente
                            scolastico</label>
                        <label for="referenteScuolaCF" *ngIf="!attivita.referenteScuolaCF">CF referente
                            scolastico</label>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5"
                        [class.has-danger]="referenteEsternoInput.invalid && (referenteEsternoInput.dirty || referenteEsternoInput.touched)">
                        <input type="text" class="form-control" [(ngModel)]="attivita.referenteEsterno"
                            id="referenteEsterno" #referenteEsternoInput="ngModel"
                            (keyup)="trimValue($event, 'esterno')" (focusout)="trimValue($event, 'trim')">
                        <label for="referenteEsterno" *ngIf="attivita.referenteEsterno" class="active">Tutor
                            aziendale</label>
                        <label for="referenteEsterno" *ngIf="!attivita.referenteEsterno">Tutor aziendale</label>
                        <div class="invalid-feedback"
                            [class.d-block]="(!referenteEsternoInput.value || forceReferenteEsternoErrorDisplay)">
                            Campo necessario.</div>

                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <input type="text" class="form-control" [(ngModel)]="attivita.referenteEsternoCF"
                            id="referenteEsternoCF" (focusout)="trimValue($event, 'trim')">
                        <label for="referenteEsternoCF" *ngIf="attivita.referenteEsternoCF" class="active">CF tutor
                            aziendale</label>
                        <label for="referenteEsternoCF" *ngIf="!attivita.referenteEsternoCF">CF tutor aziendale</label>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-5">
                        <input type="text" pattern="[0-9]*" minlength="12" maxlength="15" class="form-control"
                            [(ngModel)]="attivita.referenteEsternoTelefono" id="referenteEsternoTelefono"
                            #referenteEsternoTelefonoInput="ngModel" (focusout)="trimValue($event, 'trim')"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0 ||  event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                            onpaste="return false">
                        <label for="referenteEsternoTelefono" *ngIf="attivita.referenteEsternoTelefono"
                            class="active">Telefono tutor aziendale</label>
                        <label for="referenteEsternoTelefono" *ngIf="!attivita.referenteEsternoTelefono">Telefono tutor
                            aziendale</label>
                        <div class="invalid-feedback"
                            [class.d-block]="referenteEsternoTelefonoInput.invalid && (referenteEsternoTelefonoInput.dirty || referenteEsternoTelefonoInput.touched)">
                            Campo necessario (12 numeri).</div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5 disabled">
                        <input disabled type="text" class="form-control" [(ngModel)]="attivita.referenteScuolaTelefono"
                            id="referenteScuolaTelefono" (focusout)="trimValue($event, 'trim')">
                        <label for="referenteScuolaTelefono" *ngIf="attivita.referenteScuolaTelefono"
                            class="active">Telefono tutor scolastico</label>
                        <label for="referenteScuolaTelefono" *ngIf="!attivita.referenteScuolaTelefono">Telefono tutor
                            scolastico:</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>