
.modal-cartella {
   
    .modal-header {
        background: #7FB2E5 0% 0% no-repeat padding-box;
        border-radius: 5px 5px 0px 0px;
        padding-top: 20px !important;
        padding-bottom: 6px;

        .modal-title {
            text-align: left;
            font-family: Titillium Web;
            font-size: 30px;
            font-weight: bold;
            color: #393939;
            opacity: 1;

            .titleName{
                color: #ffffff;
            }
            
        }
     
    }

    .modal-body {
        padding: 30px;   
        background-color: #ffffff;

        .modal-title {
            font-size: larger;
            font-weight: bold;
        }

        .v-line{
            border-left: 5px solid #D97E00;
            height: 90%;
            position: absolute;
            left: 7%;
            margin-left: 0px;
            top: 0;
        }

        .help-text{
            text-align: left;
            font-family: Titillium Web;
            font-size: 18px;
            margin-left: -5%;
        }
        .message-row{
            background-color: #F0F6FC;
            padding: 1%;
        }
        .message-row-text{
            text-align: left;
            font-family: Titillium Web;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0;
            color: #393939;
            opacity: 1;
        }
    }

    .text-orange {
        color: #D97E00;
        fill: #D97E00;
    }

    .table {
        font-size: .88889rem!important;
        table-layout:fixed;
    }
    .table td {
        width: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .validRow{
        background-color: #F0F6FC;
        color: #0066CC;
        font-weight: 600;
    }
    .canceledRow{
        color: #707070;
    }
    .stato-text{
        font-weight: bold;
    }

    ul {
        margin: 0;
        padding: 3;
        font-size: .88889rem;;
      }

}