front-end/azienda/node_modules/*
front-end/azienda/www/*
front-end/azienda/dist/*
front-end/azienda/package-lock.json
front-end/login/node_modules/*
front-end/login/www/*
front-end/login/dist/*
front-end/login/package-lock.json
front-end/scuola/node_modules/*
front-end/scuola/www/*
front-end/scuola/dist/*
front-end/scuola/package-lock.json
front-end/studente/node_modules/*
front-end/studente/www/*
front-end/studente/dist/*
front-end/studente/package-lock.json
front-end/ruoli/node_modules/*
front-end/ruoli/node/*
front-end/ruoli/www/*
front-end/ruoli/dist/*
front-end/ruoli/package-lock.json
front-end/registrazione-ente/node_modules/*
front-end/registrazione-ente/node/*
front-end/registrazione-ente/www/*
front-end/registrazione-ente/dist/*
front-end/registrazione-ente/package-lock.json

back-end/bin/
back-end/**/target/
back-end/tmp/
back-end/.classpath
back-end/.project
back-end/.settings/
back-end/.externalToolBuilders/org.eclipse.wst.common.project.facet.core.builder.launch
**/segments_1/home/ffais/work/API-Manager/dockerfiles/apim/files
**/write.lock
**/segments_*
**/_*.*
**/.cfs
**/.cfs
it.smartcommunitylab.cartella.asl.model.Competenza/_nt_Lucene50_0.doc
front-end/azienda/data/dataset/*
src/main/resources/templates/
front-end/azienda/node/
front-end/scuola/node/
front-end/studente/node/
front-end/login/node/
front-end/ruoli/node/
**/front-end/*.lock
front-end/scuola/.project
front-end/scuola/.settings
front-end/scuola/.classpath
front-end/azienda/.project
front-end/azienda/.settings
front-end/azienda/.classpath
front-end/studente/.project
front-end/studente/.settings
front-end/studente/.classpath
front-end/login/.project
front-end/login/.settings
front-end/login/.classpath
front-end/ruoli/.project
front-end/ruoli/.settings
front-end/ruoli/.classpath
front-end/scuola/bin
front-end/azienda/bin
front-end/studente/bin
front-end/login/bin
front-end/ruoli/bin
front-end/registrazione-ente/.project
front-end/registrazione-ente/.settings
front-end/registrazione-ente/.classpath
front-end/registrazione-ente/bin

**/front-end/*/.vscode/settings.json
**/front-end/*/target/
docker-props/
