<div class="modal-cartella">
    <div class="modal-header">
        <div class="row modal-title">
            <span>Crea nuova attività</span>
        </div>
    </div>

    <div class="modal-body">
        <div class="row v-center">
            <div class="col-2"></div>
            <div class="col-4">
              <div class="card-wrapper">
                <div class="card" (click)="create(1)">
                  <div class="card-body">
                    <br>
                    <h5 class="card-title primary-color">Crea nuova attività a partire da un’offerta</h5>
                    <br><br>
                    <p class="card-text">Cerca tra le offerte già disponibili e crea un’attività con i parametri di una specifica offerta (es: tirocinio FBK)</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card-wrapper">
                <div class="card" (click)="create(2)">
                  <div class="card-body">
                    <br>
                    <h5 class="card-title primary-color">Crea nuova attività</h5>
                    <br><br><br>
                    <p class="card-text">Crea una nuova attività da zero, senza far riferimento ad offerte già inserite nel sistema</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>