
.list-container{
    margin-top: 40px;
    padding: 12px;

    >.row {
        margin: 0px;
    }

    .btn-txt {
        color: white;
        font-size: 16px;
    }

    .fill-darkblue {
        fill: #06c;
    }

    .title{
        text-align: left;
        letter-spacing: 0;
        color: #5A6772;
        opacity: 1;
        font-size: 35px;
        font-weight: bold;
    }

    .table-head {
        white-space: nowrap;
        font-size: larger;
    }
    

}

