<div class="mb-3 list-container md-margin">
    <div class="row" *ngIf="istituto">
        <div class="col-12">
            <div class="row v-center">
                <span class="title font-30 m-left2">{{istituto.name}}</span>&nbsp;&nbsp;
                <span (click)="menuContentShow()">
                    <svg *ngIf="!showContent" class="icon icon-primary icon-bg pointer">
                        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                    </svg>
                    <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon pointer">
                </span>
            </div>
        </div>
    </div>
    <hr class="hr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use>
            </svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight"
                (click)="menuContentShow()">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
            </svg></div>
    </div>
    <br />
    <br />
    <div class="card-body m-16" *ngIf="istituto">
        <div class="title">
            Dati istituto <br />
            <button *ngIf="this.dataService.validateRoles(['FUNZIONE_STRUMENTALE','DIRIGENTE_SCOLASTICO'])" class="btn btn-primary v-center-inline" placement="bottom"
                ngbTooltip="Modifica i dati di questo istituto" (click)="modifica()">
                Modifica dati istituto&nbsp;&nbsp;&nbsp;<i class="material-icons">edit</i></button>
        </div>
        <br>
        <div class="p-1 middle-div row">
            <div class="col-6">
                <span class="row"><span class="text-semibold">Nome:&nbsp;</span>{{istituto.name}}</span>
                <span class="row"><span class="text-semibold">Indirizzo:&nbsp;</span>{{istituto.address}}</span>
                <span class="row"><span class="text-semibold">P.IVA/CF:&nbsp;</span>{{istituto.cf}}</span>
                <span class="row"><span class="text-semibold">Nome RDP:&nbsp;</span>{{istituto.rdpName}}</span>
                <span class="row"><span class="text-semibold">Indirizzo RDP:&nbsp;</span>{{istituto.rdpAddress}}</span>
                <span class="row"><span class="text-semibold">Informativa privacy:&nbsp;</span><a href="{{istituto.privacyLink}}" target="_blank">{{istituto.privacyLink}}</a></span>
            </div>
            <div class="col-6">
                <span class="row"><span class="text-semibold">Telefono:&nbsp;</span>{{istituto.phone}}</span>
                <span class="row"><span class="text-semibold">PEC:&nbsp;</span>{{istituto.pec}}</span>
                <span class="row"><span class="text-semibold">Mail:&nbsp;</span>{{istituto.email}}</span>
                <span class="row"><span class="text-semibold">Telefono/Fax RDP:&nbsp;</span>{{istituto.rdpPhoneFax}}</span>
                <span class="row"><span class="text-semibold">Email RDP:&nbsp;</span>{{istituto.rdpEmail}}</span>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="title">
                Dashboard <br />
            </div>
        </div>
        <div class="row">
            <i>Puoi visualizzare i dati dell'intero istituto o delle singole classi. Seleziona l'opzione che preferisci.</i>
        </div>
        <div class="row">
            <div class="form-check form-check-inline">
                <input name="gruppo2" type="radio" id="radio4" [checked]="classeReport"
                    (change)="onFilterChange($event)" checked>
                <label for="radio4">Visualizza dati classe</label>
            </div>
            <div class="form-check form-check-inline" *ngIf="dataService.validateRoles(['FUNZIONE_STRUMENTALE','DIRIGENTE_SCOLASTICO'])">
                <input name="gruppo2" type="radio" id="radio5" (change)="onFilterChange($event)">
                <label for="radio5">Visualizza dati istituto</label>
            </div>
        </div>
        <div class="row v-center form-group" *ngIf="classeReport">
            <div class="col-2">Seleziona classe:</div> 
            <div class="col-4">
                <select class="custom-select form-control" style="width: 300px;" [(ngModel)]="classe"
                    (ngModelChange)="selectClasseFilter()">
                    <!-- <option selected="selected">Classi</option> -->
                    <option [value]="classe" *ngFor="let classe of classi">{{classe}}</option>
                </select>
            </div>
        </div>
        <br />
        <br />
        <div *ngIf="(showDashboard && !classeReport) || (showDashboard && classeReport && classe)">
            <div class="row">
                <div class="title">
                    Tipologie Attività <br />
                </div>
            </div>
            <div class="row" *ngIf="classeReport">
                <i>Questo grafico mostra la distribuzione delle tipologie di attività dei componenti della classe selezionata rispetto 
                    al loro percorso formativo fino a qui svolto. Nei tre box a destra trovi invece il numero di attvità per stato.</i>
            </div>
            <div class="row" *ngIf="!classeReport">
                <i>Questo grafico mostra la distribuzione delle tipologie di attività svolte nell'attuale anno scolastico. 
                    Nei tre box a destra trovi invece il numero di attvità per stato.</i>
            </div>
            <br/>
            <div class="row">
                <div class="col-6">
                    <div class="chartjs-container">
                        <canvas  
                        width="480"
                        height="380" 
                        baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [options]="pieChartOptions"
                        [plugins]="pieChartPlugins"
                        [colors]="pieChartColors"
                        [legend]="pieChartLegend">
                        </canvas>
                    </div>
                </div>
                <div class="col-4">
                    <div class="float-right">
                        <br />
                        <br />
                        <div class="row">
                            <button class="btn btn-rectangle v-center-inline rectangle-in_corso" (click)="listAttivita('in_corso')">
                                {{ numeroAttivitaInCorso }} Attività
                                <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in corso&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </button>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <button class="btn btn-rectangle v-center-inline rectangle-da_revisionare"
                                (click)="listAttivita('revisione')">
                                {{ numeroAttivitaInRevisione }} Attività
                                <br />
                                da revisionare
                            </button>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <button class="btn btn-rectangle v-center-inline rectangle-in_attesa" (click)="listAttivita('in_attesa')">
                                {{ numeroAttivitaInAttesa }} Attività
                                <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in attesa&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </button>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <br />
        <br />
        <div *ngIf="classeReport && showDashboard && classe">
            <div class="title">
                Ore studenti <br />
            </div>
            <div class="row">
                <i>Ogni barra dell'istogramma rappresenta il numero di ore <strong>validate</strong> svolte per studente. 
                    In blu le attività esterne, in verde quelle interne. Passando il mouse sulla barra vengono mostrati i dati puntuali.</i>
            </div>
            <div class="row">
               <canvas baseChart
               width="1500"
               height="380" 
               [datasets]="barChartClasseData"
               [labels]="barChartClasseLabels"
               [options]="barChartClasseOptions"
               [plugins]="barChartClassePlugins"
               [legend]="barChartClasseLegend"
               [chartType]="barChartClasseType">
               </canvas>
            </div>
        </div>
        <div *ngIf="!classeReport && showDashboard">
            <div class="title">
                Media ore per classe <br />
            </div>
            <div class="row">
                <i>Ogni barra dell'istogramma rappresenta la media delle ore <strong>validate</strong> per ciascuna classe. 
                    Passando il mouse sulla barra vengono mostrati i dati puntuali.</i>
            </div>
            <div>
                <canvas baseChart
                width="1500"
                height="380" 
                [datasets]="barChartIstitutoData"
                [labels]="barChartIstitutoLabels"
                [options]="barChartIstitutoOptions"
                [plugins]="barChartIstitutoPlugins"
                [legend]="barChartIstitutoLegend"
                [chartType]="barChartIstitutoType">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!showDashboard">
        <div class="col-xl-12 text-center errorIconPaddingTop">
            <svg class="icon icon-lightGrey icon-xl">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-error"></use>
            </svg>
        </div>
        <div class="col-xl-12 text-center">
            <span class="searchError">Non ci sono dati da visualizzare!</span>
        </div>
    </div>
    <br>
    <div *ngIf="this.dataService.validateRoles(['FUNZIONE_STRUMENTALE','DIRIGENTE_SCOLASTICO'])">
        <div class="title">
            Account abilitati <br />
            <button class="btn btn-primary v-center-inline" (click)="aggiungiAccount()">
                Aggiungi account&nbsp;&nbsp;&nbsp;
                <svg class="icon icon-white icon-sm btnModificationIcon">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-plus-circle"></use>
                </svg>
            </button>
        </div>
        <br>
        <div class="list-group" *ngIf="registeredDocenti && registeredDocenti.length > 0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Indirizzo email</th>
                        <th>Nome</th>
                        <th>Codice fiscale</th>
                        <th>Classe associate</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ruolo of registeredDocenti">
                        <!-- Indirizzo email -->
                        <td class="pointer">
                            <span class="align-middle color-blu text-underline">{{ ruolo.emailDocente }}</span>
                        </td>
                        <!-- Nome -->
                        <td class="pointer">
                            <span class="align-middle">{{ ruolo.nominativoDocente }}</span>
                        </td>
                        <!-- cf -->
                        <td class="pointer">
                            <span class="align-middle">{{ ruolo.cfDocente }}</span>
                        </td>
                        <!-- classi -->
                        <td class="pointer">
                            <span class="align-middle">{{ ruolo.classi }}</span>
                        </td>
                        <!-- associa classe -->
                        <td class="pointer">
                            <div class="btn btn-primary btn-icon btn-xs float-right" placement="right-bottom"
                                ngbTooltip="Modifica o elimina gli classi associati su questo account"
                                (click)="modificaStudenti(ruolo)">
                                Studenti associati&nbsp;&nbsp;&nbsp;
                                <svg class="icon icon-white icon-sm btnModificationIcon">
                                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-pencil">
                                    </use>
                                </svg>
                            </div>
                        </td>
                        <!-- delete -->
                        <td class="pointer">
                            <div class='btn btn-danger btn-icon btn-xs float-right' (click)="deleteDocente(ruolo)">
                                Elimina&nbsp;&nbsp;&nbsp;
                                <svg class="icon icon-white icon-sm">
                                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-delete"></use>
                                </svg>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>

</div>