<div class="modal-cartella">
    <div class="modal-header">
        <div class="row modal-title">
            <span>Seleziona la tipologia di documento da caricare</span>
        </div>
    </div>
    <div class="modal-body">
        <div class="row v-center">
            <div class="col-3">
                <div class="card-wrapper">
                    <div class="card" (click)="create(1)">
                        <div id="1" class="card-body">
                            <h5 class="card-title primary-color">Piano formativo</h5>
                            <p class="card-text txtFont">Il piano formativo è il documento che descrive le specificità
                                del percorso relativo al
                                tirocinio in oggetto.
                            </p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span>
                                    <br />Scuola<br>Ente
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card-wrapper">
                    <div class="card" (click)="create(2)">
                        <div id="2" class="card-body">
                            <h5 class="card-title primary-color">Convenzione</h5>
                            <p class="card-text txtFont">La convenzione è il documento che specifica il rapporto tra
                                istituto, ente e ragazzo.
                            </p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span>
                                    <br />Scuola<br>Ente
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card-wrapper">
                    <div class="card" (click)="create(3)">
                        <div id="3" class="card-body">
                            <h5 class="card-title primary-color">Altro</h5>
                            <p class="card-text txtFont">Se vuoi condividere un documento rapidamente puoi scegliere
                                questa opzione.</p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span>
                                    <br />Scuola<br />Ente<br />Studente
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card-wrapper">
                    <div class="card" (click)="create(4)">
                        <div id="4" class="card-body">
                            <h5 class="card-title primary-color">Valutazione studente</h5>
                            <p class="card-text txtFont">Il documento di valutazione compilato dall’ente sullo studente
                                coinvolto. Se l’ente non ha un profilo attivo, è possibile per la scuola caricarlo qui.
                            </p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span>
                                    <br />Scuola<br />Ente
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>