<div class="modal-cartella">
    <div class="modal-header">
        <div class="row modal-title">
            <span>Seleziona la tipologia di documento da caricare</span>
        </div>
    </div>
    <div class="modal-body">
        <div class="row v-center">
            <div class="col-2"></div>
            <div class="col-3">
                <div class="card-wrapper" *ngIf="docTypes[0]">
                    <div class="card" (click)="create(docTypes[0].id)">
                        <div id="{{docTypes[0].id}}" class="card-body">
                            <h5 class="card-title">{{ docTypes[0].titolo }}</h5>
                            <p class="card-text txtFont">{{ docTypes[0].descr }}
                            </p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span><br />
                                    <span *ngFor="let v of docTypes[0].visibile">
                                        {{ v }} <br />
                                    </span>
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-3">
                <div class="card-wrapper" *ngIf="docTypes[1]">
                    <div class="card" (click)="create(docTypes[1].id)">
                        <div id="{{docTypes[1].id}}" class="card-body">
                            <h5 class="card-title">{{ docTypes[1].titolo }}</h5>
                            <p class="card-text txtFont">{{ docTypes[1].descr }}</p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span><br />
                                    <span *ngFor="let v of docTypes[1].visibile">
                                        {{ v }} <br />
                                    </span>
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-3">
                <div class="card-wrapper" *ngIf="docTypes[2]">
                    <div class="card" (click)="create(docTypes[2].id)">
                        <div id="{{docTypes[2].id}}" class="card-body">
                            <h5 class="card-title ">{{ docTypes[2].titolo }}</h5>
                            <p class="card-text txtFont">{{ docTypes[2].descr }}</p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span><br />
                                    <span *ngFor="let v of docTypes[2].visibile">
                                        {{ v }} <br />
                                    </span>
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-3">
                <div class="card-wrapper" *ngIf="docTypes[3]">
                    <div class="card" (click)="create(docTypes[3].id)">
                        <div id="{{docTypes[3].id}}" class="card-body">
                            <h5 class="card-title ">{{ docTypes[3].titolo }}</h5>
                            <p class="card-text txtFont">{{ docTypes[3].descr }}</p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span><br />
                                    <span *ngFor="let v of docTypes[3].visibile">
                                        {{ v }} <br />
                                    </span>
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <br />
        <div class="row" *ngIf="optionSelected">
            <div class="col-2"></div>
            <div class="m-10">
                <label class="btn btn-primary v-center-inline btn-icon" placement="right"
                    ngbTooltip="Allega un nuovo documento all’attività. Dimensione massima 10 MB">
                    Scegli file da dispositivo&nbsp;&nbsp;&nbsp;
                    <svg class="icon icon-white icon-sm">
                        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-upload"></use>
                    </svg>
                    <input #fileInput type="file" hidden (click)="fileInput.value = null" value=""
                        (change)="uploadDocument($event)">
                </label>
                <div class="invalid-feedback" [class.d-block]="forceFileErrorDisplay">
                    ATTENZIONE: il file caricato è di dimensioni superiori al limite massimo di 10 MB. Caricare un file di dimensioni inferiori.
                </div>            
            </div>
        </div>
        <div *ngIf="fileSelected">
            <span class="row file-title">
                <span class="col-2"></span>
                <span class="m-10">File selezionato: {{ selectedFileName }}</span>
            </span>
            <br />
            <div class="text-center">
                <button class="btn btn-success btn-icon btn-xs btnSave m-top22" placement="bottom"
                    ngbTooltip="Crea una nuova attività" (click)="carica()">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Carica file</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-check"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-danger btn-icon btn-xs btnAnnulla m-top22" placement="bottom"
                    ngbTooltip="Annulla la creazione" (click)="activeModal.close('Close click')">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Annulla</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                            </svg>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>