
.modal-cartella {   
    .modal-header {
        background: #7FB2E5 0% 0% no-repeat padding-box;
        border-radius: 5px 5px 0px 0px;
        .modal-title {
            font-family: Titillium Web;
            font-size: 25px;
            font-weight: bold;
        }     
    }
    .modal-body {
        .card-wrapper {
            margin: 10px;
        }
        .card-body{
            top: 296px;
            left: 1065px;
            height: 350px;
            .txtFont{
                font-family: Titillium Web !important;
            }
        }
        .card-title {
            font-family: Titillium Web;
            font-size: larger;
            font-weight: bold;
            color: #7FB2E5
        }
        .card-text {
            font-family: Titillium Web;
            color: #707070;
        }
        .position-visible{
            top: 70%;
            position: absolute;
        }
        .active {
            border: 1px solid#7FB2E5;
            background-color: #F0F6FC;
            .card-title{
                color: #0066CC;
            }
        }
        padding: 30px;   
        left: 50px;
    }
    .card {
        font-family: Titillium Web !important;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
        cursor: pointer;
    }
    .card:after{
        margin-top: 0px;
    }
    .file-title {
        font-family: Titillium Web;
        font-size: 25px;
        font-weight: bold; 
        color: #707070
    }
    .disabled {
        .card-body {
            background-color: #E0E0E0;
            pointer-events: none;
        }
        .card {
            background-color: #E0E0E0;
            pointer-events: none;
        }
        .card-wrapper {
            background-color: #E0E0E0;
            pointer-events: none;
        }        
    }
    .m-10 {
        margin: 10px;
    }
}