<div class="modal-cartella">
    <div class="modal-header">
        <div class="row modal-title">
            <span>Seleziona la tipologia di documento da caricare</span>
        </div>
    </div>
    <div class="modal-body">
        <div class="row v-center">
            <div class="col-3">
                <div class="card-wrapper">
                    <div class="card" (click)="create(1)">
                        <div id="1" class="card-body">
                            <h5 class="card-title">Piano formativo</h5>
                            <p class="card-text txtFont">Il piano formativo è il documento che descrive le specificità
                                del percorso relativo al
                                tirocinio in oggetto.
                            </p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span>
                                    <br />Scuola<br>Ente
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card-wrapper">
                    <div class="card" (click)="create(2)">
                        <div id="2" class="card-body">
                            <h5 class="card-title">Convenzione</h5>
                            <p class="card-text txtFont">La convenzione è il documento che specifica il rapporto tra
                                istituto, ente e ragazzo.
                            </p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span>
                                    <br />Scuola<br>Ente
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div [class.disabled]="!attivitaIndividuale" class="col-3">
                <div class="card-wrapper">
                    <div class="card" (click)="create(3)">
                        <div id="3" class="card-body">
                            <h5 class="card-title ">Valutazione studente</h5>
                            <p class="card-text txtFont">Il documento di valutazione compilato dall’ente sullo studente
                                coinvolto. Se l’ente non ha un profilo attivo, è possibile per la scuola caricarlo qui.
                            </p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span>
                                    <br />Scuola<br />Ente
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card-wrapper">
                    <div class="card" (click)="create(4)">
                        <div id="4" class="card-body">
                            <h5 class="card-title">Altro</h5>
                            <p class="card-text txtFont">Se vuoi condividere un documento rapidamente puoi scegliere
                                questa opzione.</p>
                            <span class="position-visible">
                                <p class="card-text"><span class="text-bold">Visibile da:</span>
                                    <br />Scuola<br />Ente<br />Studente
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" *ngIf="optionSelected">
            <label class="btn btn-primary v-center-inline btn-icon" placement="right"
                ngbTooltip="Allega un nuovo documento all’attività">
                Scegli file da dispositivo&nbsp;&nbsp;&nbsp;
                <svg class="icon icon-white icon-sm">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-upload"></use>
                </svg>
                <input #fileInput type="file" hidden (click)="fileInput.value = null" value=""
                    (change)="uploadDocument($event)">
            </label>
        </div>
        <br />
        <div *ngIf="fileSelected">
            <span class="row file-title">File selezionato: {{ selectedFileName }} </span>
            <br />
            <br />
            <div class="text-center">
                <button class="btn btn-success btn-icon btn-xs btnSave m-top22" placement="bottom"
                    ngbTooltip="Crea una nuova attività" (click)="carica()">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Carica file</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-check"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-danger btn-icon btn-xs btnAnnulla m-top22" placement="bottom"
                    ngbTooltip="Annulla la creazione" (click)="activeModal.close('Close click')">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Annulla</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                            </svg>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>