<div class="mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row" *ngIf="piano">
        <div class="col-6 v-center">
            <span class="modifyTitleStyle m-left">Piano alternanza {{piano.corsoDiStudio}}</span>
        </div>
        <div class="col-6">
            <span class="row v-center float-right m0">
                <button type="button" class="btn btn-danger btn-icon btn-xs btnAnnulla mLeft12" [routerLink]="['../../']" placement="bottom"  ngbTooltip="Annulla le modifiche">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Annulla</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                <button *ngIf="attachedCompetenze" class="btn btn-success btn-icon btn-xs btnSave mLeft12" (click)="addCompetenze()" placement="bottom"  ngbTooltip="Salva le modifiche">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Salva</span>
                        <span class="col-4 rightItem">
                            <i class="material-icons btnModificationIcon">save</i>
                        </span>
                    </span>
                </button>
            </span>
        </div>
    </div>
    <hr class="hr modifyHr"/>
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>
    <br>
    <div *ngIf="attachedCompetenze">
        <cm-skills-selector [attachedCompetenze]="attachedCompetenze" [addButtonText]="addCompetenzeBtnText"
            (onNewCompetenzeAddedListener)="addNewCompetenze($event)"></cm-skills-selector>
    </div>
</div>