<div class="mb-3 list-container md-margin">
  <div class="row">
    <div class="col-4">
      <div class="row v-center">
        <span class="title m-left2">{{titolo}}</span>&nbsp;&nbsp;
        <span (click)="menuContentShow()">
          <svg *ngIf="!showContent" class="icon icon-primary icon-bg pointer">
            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
          </svg>
          <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon pointer">
        </span>
      </div>
    </div>
  </div>
  <hr class="hr" />
  <div *ngIf="showContent" class="row rectangle v-center-inline">
    <div class="col-1 helpMessageIcon-mRight">
      <svg class="icon icon-sm fill-darkblue">
        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use>
      </svg>
    </div>
    <div class="col-10 helpMessage-mLeft">
      <span>{{menuContent}}</span>
    </div>
    <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight"
        (click)="menuContentShow()">
        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
      </svg></div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-4 v-center-inline">
      <div class="form-group center-formGroup">
        <input type="text" id="cercaStudenti" class="form-control search-input" [(ngModel)]="filtro.text"
          (keyup.enter)="cerca()">
        <label for="cercaStudenti">Cerca studente o classe</label>
      </div>
      <it-button class="v-center-inline" (click)="cerca()">
        <svg class="icon icon-primary">
          <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-search"></use>
        </svg>
      </it-button>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
  </div>
  <br />
  <div class="table list-group" *ngIf="studenti && studenti.length">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Classe</th>
          <th>Studente</th>
          <th>3º anno</th>
          <th>4º anno</th>
          <th>5º anno</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let studente of studenti" (click)="openDetail(studente)">
          <td class="pointer">
            <span #tooltip="ngbTooltip" placement="right" ngbTooltip="{{studente.toolTipRiga}}"
              (mouseenter)="showTipRiga($event, studente, '3');">
              {{studente.classe}}
            </span>
          </td>
          <td class="pointer">
            <span #tooltip="ngbTooltip" placement="bottom" ngbTooltip="{{studente.toolTipRiga}}"
              (mouseenter)="showTipRiga($event, studente, '3');">
              {{studente.cognomeNome}}
            </span>
          </td>
          <td class="pointer">
            <p class="ngbpBar">
              <ngb-progressbar type="{{studente.oreSvolteTerza.pgBType}}" height="35px"
                [value]="studente.pianoId ? studente.oreSvolteTerza.hours : 100"
                [max]="studente.pianoId ? studente.oreSvolteTerza.total : 100" class="text-center align-middle"
                #tooltip="ngbTooltip" placement="bottom" ngbTooltip="{{studente.toolTipRiga}}"
                (mouseenter)="showTipRiga($event, studente, '3');">
                <!-- {{studente.oreSvolteTerza.hours}} / {{studente.oreSvolteTerza.total}} -->
                <span class="ngbpBar-text-complete"
                  *ngIf="studente.pianoId && studente.oreSvolteTerza.hours >= studente.oreSvolteTerza.total && studente.oreSvolteTerza.total != 0">
                  {{studente.oreSvolteTerza.hours}} / {{studente.oreSvolteTerza.total}} h
                </span>
                <span class="ngbpBar-text-notComplete"
                  *ngIf="studente.pianoId && (studente.oreSvolteTerza.hours < studente.oreSvolteTerza.total ||  studente.oreSvolteTerza.total == 0)">
                  {{studente.oreSvolteTerza.hours}} / {{studente.oreSvolteTerza.total}} h
                </span>
                <span class="ngbpBar-text-notComplete" *ngIf="!studente.pianoId">
                  {{studente.oreSvolteTerza.hours}} h
                </span>
              </ngb-progressbar>
            </p>
          </td>
          <td>
            <p class="ngbpBar">
              <ngb-progressbar type="{{studente.oreSvolteQuarta.pgBType}}" height="35px"
                [value]="studente.pianoId ? studente.oreSvolteQuarta.hours : 100"
                [max]="studente.pianoId ? studente.oreSvolteQuarta.total : 100" class="text-center align-middle"
                #tooltip="ngbTooltip" placement="bottom" ngbTooltip="{{studente.toolTipRiga}}"
                (mouseenter)="showTipRiga($event, studente, '4');">
                <!-- {{studente.oreSvolteQuarta.hours}} / {{studente.oreSvolteQuarta.total}} -->
                <span class="ngbpBar-text-complete"
                  *ngIf="studente.pianoId && studente.oreSvolteQuarta.hours >= studente.oreSvolteQuarta.total && studente.oreSvolteQuarta.total != 0">
                  {{studente.oreSvolteQuarta.hours}} / {{studente.oreSvolteQuarta.total}} h
                </span>
                <span class="ngbpBar-text-notComplete"
                  *ngIf="studente.pianoId && (studente.oreSvolteQuarta.hours < studente.oreSvolteQuarta.total ||  studente.oreSvolteQuarta.total == 0)">
                  {{studente.oreSvolteQuarta.hours}} / {{studente.oreSvolteQuarta.total}} h
                </span>
                <span class="ngbpBar-text-notComplete" *ngIf="!studente.pianoId">
                  {{studente.oreSvolteQuarta.hours}} h
                </span>
              </ngb-progressbar>
            </p>
          </td>
          <td>
            <p class="ngbpBar">
              <ngb-progressbar type="{{studente.oreSvolteQuinta.pgBType}}" height="35px"
                [value]="studente.pianoId ? studente.oreSvolteQuinta.hours : 100"
                [max]="studente.pianoId ? studente.oreSvolteQuinta.total : 100" class="text-center align-middle"
                #tooltip="ngbTooltip" placement="bottom" ngbTooltip="{{studente.toolTipRiga}}"
                (mouseenter)="showTipRiga($event, studente, '5');">
                <span class="ngbpBar-text-complete"
                  *ngIf="studente.pianoId && studente.oreSvolteQuinta.hours >= studente.oreSvolteQuinta.total && studente.oreSvolteQuinta.total != 0">
                  {{studente.oreSvolteQuinta.hours}} / {{studente.oreSvolteQuinta.total}} h
                </span>
                <span class="ngbpBar-text-notComplete"
                  *ngIf="studente.pianoId && (studente.oreSvolteQuinta.hours < studente.oreSvolteQuinta.total ||  studente.oreSvolteQuinta.total == 0)">
                  {{studente.oreSvolteQuinta.hours}} / {{studente.oreSvolteQuinta.total}} h
                </span>
                <span class="ngbpBar-text-notComplete" *ngIf="!studente.pianoId">
                  {{studente.oreSvolteQuinta.hours}} h
                </span>
              </ngb-progressbar>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="font-14 text-center font-weight-bold">
    <div class="row" *ngIf="!studenti?.length && filterSearch">
      <div class="col-xl-12 text-center errorIconPaddingTop">
        <svg class="icon icon-danger icon-xl">
          <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-error"></use>
        </svg>
      </div>
      <div class="col-xl-12 text-center">
        <span class="searchError">Nessun risultato: modifica i tuoi criteri di ricerca</span>
      </div>
      <div class="col-sm-12 text-center">
        <button type="button" class="btn" (click)='refreshStudenti()'>
          <span class="resetFilterBtn">
            <div class="row">
              <div class="col-sm-2 text-center">
                <svg class="icon icon-danger">
                  <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close"></use>
                </svg>
              </div>
              <div class="col-sm-10 ">Resetta filtri</div>
            </div>
          </span>
        </button>
      </div>
    </div>
    <div class="row" *ngIf="!studenti?.length && !filterSearch">
      <div class="col-xl-12 text-center errorIconPaddingTop">
        <svg class="icon icon-lightGrey icon-xl">
          <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-error"></use>
        </svg>
      </div>
      <div class="col-xl-12 text-center">
        <span class="searchError">Questa lista è vuota</span>
      </div>
      <div class="col-sm-12 text-center searchErrorMsg text-semibold">Controlla la tua connessione e ricarica la pagina.
        Contatta l'assistenza se il problema persiste.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <cm-pagination [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)" #cmPagination>
    </cm-pagination>
  </div>
</div>