<div class="mb-3 list-container md-margin">
    <div class="row">
        <div class="col-4">
            <div class="row v-center">
                <span class="title m-left2">Lista enti</span>&nbsp;&nbsp;
                <span (click)="menuContentShow()">
                    <svg *ngIf="!showContent" class="icon icon-primary icon-bg pointer">
                        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                    </svg>
                    <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon pointer">
                </span>
            </div>
        </div>
        <div class="col-8">
            <button class="btn btn-success btn-icon float-right btnSave m-right mTop10" (click)="openCreate()">
                <span class="row btnCreateText">
                    <span class="col-8 m-left12" placement="bottom" ngbTooltip="Crea nuovo ente">Aggiungi ente</span>
                    <span class="col-4">
                        <svg class="icon icon-white icon-sm btnIcon m-left14">
                            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-plus-circle"></use>
                        </svg>
                    </span>
                </span>
            </button>
        </div>
    </div>
    <hr class="hr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use>
            </svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight"
                (click)="menuContentShow()">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
            </svg></div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-4 v-center-inline">
            <div class="form-group center-formGroup">
                <input type="text" id="cercaPiani" class="form-control search-input" [(ngModel)]="filtro"
                    (keyup.enter)="cerca()">
                <label for="cercaPiani">Cerca ente o partita IVA</label>
            </div>
            <it-button class="v-center-inline" (click)="cerca()">
                <svg class="icon icon-primary">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-search"></use>
                </svg>
            </it-button>
        </div>
    </div>
    <br />
    <div class="table list-group" *ngIf="enti && enti.length">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Partita IVA</th>
                    <th>Ente</th>
                    <th>Indirizzo</th>
                    <th>Telefono</th>
                    <th>Mail</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ente of enti" (click)="openDetail(ente)">
                    <td class="align-middle pointer">{{ente.partita_iva}}</td>
                    <td class="align-middle pointer">{{ente.nome}}</td>
                    <td class="align-middle pointer">{{ente.address}}</td>
                    <td class="align-middle pointer">{{ente.phone }}</td>
                    <td class="align-middle pointer">{{ente.email}}</td>
                    <td class="align-middle pointer" [ngStyle]="styleOption(ente)">{{ setStatus(ente) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="font-14 text-center font-weight-bold">
        <div class="row" *ngIf="!enti?.length && filterSearch">
            <div class="col-xl-12 text-center errorIconPaddingTop">
                <svg class="icon icon-danger icon-xl">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-error"></use>
                </svg>
            </div>
            <div class="col-xl-12 text-center">
                <span class="searchError">Nessun risultato: modifica i tuoi criteri di ricerca</span>
            </div>
            <div class="col-sm-12 text-center">
                <button type="button" class="btn" (click)='refreshEnti()'>
                    <span class="resetFilterBtn">
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <svg class="icon icon-danger">
                                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close"></use>
                                </svg>
                            </div>
                            <div class="col-sm-10 ">Resetta filtri</div>
                        </div>
                    </span>
                </button>
            </div>
        </div>
        <div class="row" *ngIf="!enti?.length && !filterSearch">
            <div class="col-xl-12 text-center errorIconPaddingTop">
                <svg class="icon icon-lightGrey icon-xl">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-error"></use>
                </svg>
            </div>
            <div class="col-xl-12 text-center">
                <span class="searchError">Questa lista è vuota</span>
            </div>
            <div class="col-sm-12 text-center searchErrorMsg text-semibold">Puoi creare nuovi enti con il pulsante verde
                in alto a destra.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <cm-pagination [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"
            #cmPagination></cm-pagination>
    </div>
</div>