<div class="mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row m-left" *ngIf="ente">
        <div class="col-6 v-center">
            <span class="title">{{ente.nome}}</span>&nbsp;&nbsp;
            <span (click)="menuContentShow()" class="pointer">
                <svg *ngIf="!showContent" class="icon icon-primary icon-bg">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                </svg>
                <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon">
            </span>
        </div>
        <div class="col-6">
            <span class="float-right m-right">
                <button disabled *ngIf="!ente.registrazioneEnte" class="btn btn-success btn-icon btnCreate m-right" placement="bottom"  ngbTooltip="Attiva l’accesso ad EDIT" (click)="abilitaEnte()">
                    <span class="row btnText">
                        <span class="col-10 v-center">Attiva accesso</span>
                        <span class="col-2">
                            <svg class="icon icon-white icon-sm">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-external-link"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                <button disabled *ngIf="ente.registrazioneEnte && ente.registrazioneEnte.stato=='inviato'" class="btn btn-warning btn-icon btnClose m-right" placement="bottom"  ngbTooltip="Annulla l’accesso ad EDIT" (click)="annullaInvitoEnte()">
                    <span class="row btnText">
                        <span class="col-10 v-center">Annulla invito</span>
                        <span class="col-2">
                            <svg class="icon icon-white icon-sm">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                &nbsp;
                <button *ngIf="isModificable(ente)" class="btn btn-secondary btn-xs btn-icon py-1 pr-2 btnDelete" placement="bottom"  ngbTooltip="Cancella ente" (click)="delete()">
                    <span class="row btnText">
                        <span class="col-10 v-center">Elimina ente</span>
                        <span class="col-2">
                            <svg class="icon icon-white icon-sm">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-delete"></use>
                            </svg>
                        </span>
                    </span>
                </button>
              </span>
        </div>
    </div>
    <hr class="hr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use></svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight" (click)="menuContentShow()"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use></svg></div>
    </div>
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>
    <div class="card-body m-16" *ngIf="ente">
        <div class="title">
            Dati ente <br/>
            <button *ngIf="isModificable(ente)" class="btn btn-primary v-center-inline" placement="bottom"  ngbTooltip="Modifica i dati di questo ente" (click)="modifica()">
                Modifica dati ente&nbsp;&nbsp;&nbsp;<i class="material-icons">edit</i></button>
        </div>
        <br>
        <div class="row">
            <span class="col-12"><span class="text-semibold">Account:&nbsp;</span><span [ngStyle]="styleOption(ente)">{{
                    setStatus(ente) }}</span> </span>
        </div>
        <div class="p-1 middle-div row">
            <div class="col-6">
                <span class="row"><span class="text-semibold">Nome:&nbsp;</span>{{ente.nome}}</span>
                <span class="row"><span class="text-semibold">Partita Iva:&nbsp;</span>{{ente.partita_iva}}</span>
                <span class="row"><span class="text-semibold">Tipologia:&nbsp;</span>{{getTipologiaString(ente.idTipoAzienda)}}</span>
                <span class="row"><span class="text-semibold">Indirizzo:&nbsp;</span>{{ente.viaPiazza}}</span>
                <span class="row"><span class="text-semibold">CAP:&nbsp;</span>{{ente.cap}}</span>
                <span class="row"><span class="text-semibold">Comune:&nbsp;</span>{{ente.comune}}</span>
                <span class="row"><span class="text-semibold">Provincia:&nbsp;</span>{{ente.provincia}}</span>
            </div>
            <div class="col-6">
                <span class="row"><span class="text-semibold">Email:&nbsp;</span>{{ ente.email }}</span>
                <span class="row"><span class="text-semibold">PEC:&nbsp;</span>{{ente.pec}}</span>
                <span class="row"><span class="text-semibold">Telefono:&nbsp;</span>{{ente.phone}}</span>
                <span class="row"><span class="text-semibold">Legale rappresentante:&nbsp;</span>{{ente.legaleRappresentante}}</span>
                <span class="row"><span class="text-semibold">Responsabile della sicurezza:&nbsp;</span>{{ente.responsabileSicurezza}}</span>
                <span class="row"><span class="text-semibold">Medico competente:&nbsp;</span>{{ente.medicoCompetente}}</span>
            </div>    
        </div>
        <br>
        <div class="card-body m-16" *ngIf="ente">
            <div class="title">
                <span #tooltipStato="ngbTooltip"
                 placement="right" ngbTooltip="{{toolTipoStatoResponsabile}}"
                 (mouseenter)="showTipStatoRiga($event, toolTipoStatoResponsabile);"
                 class="align-middle">Responsabile ente</span>
                <br/>
                <button *ngIf="isModificable(ente)" class="btn btn-primary v-center-inline" placement="right" 
                ngbTooltip="Attenzione: la persona indicata in questa sezione, dopo l’attivazione, diventerà responsabile della gestione del profilo EDIT di questo ente."
                (click)="modificaResponsabile()">
                {{buttonLabelResponsabile()}} responsabile ente&nbsp;&nbsp;&nbsp;<i class="material-icons">edit</i></button>
            </div>
            <br>
            <div class="p-1 middle-div row" *ngIf="enteResponsabile">
                <div class="col-6">
                    <span class="row"><span class="text-semibold">Nome:&nbsp;</span>{{enteResponsabile.nomeReferente}}</span>
                    <span class="row"><span class="text-semibold">Codice fiscale:&nbsp;</span>{{enteResponsabile.cf}}</span>
                    <span class="row"><span class="text-semibold">Telefono:&nbsp;</span>{{enteResponsabile.telefonoReferente}}</span>
                </div>
                <div class="col-6">
                    <span class="row"><span class="text-semibold">Cognome:&nbsp;</span>{{enteResponsabile.cognomeReferente}}</span>
                    <span class="row"><span class="text-semibold">Email:&nbsp;</span>{{ enteResponsabile.email }}</span>
                </div>    
            </div>
        </div>
        <br>
        <div class="p-1 middle-div row" *ngIf="hasCoordinate()">
            <div class="col">
              <div id="map" style="height:300px;width:100%;z-index:0"></div>
            </div>
        </div>
        <br>
    <div *ngIf="this.dataService.validateRoles(['FUNZIONE_STRUMENTALE','DIRIGENTE_SCOLASTICO'])">
        <div class="title">
            Convenzioni <br />
            <button class="btn btn-primary v-center-inline" (click)="aggiungiConvenzione()" placement="right" ngbTooltip="Aggiungi una nuova convenzione stipulata tra {{ente.nome}} e {{dataService.istituto}} per permettere all’ente di gestire i tirocini tramite EDIT">
                Aggiungi nuova convenzione&nbsp;&nbsp;&nbsp;
                <svg class="icon icon-white icon-sm btnModificationIcon">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-plus-circle"></use>
                </svg>
            </button>
        </div>
        <br>
        <div class="list-group" *ngIf="convenzioni && convenzioni.length > 0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data inizio validità</th>
                        <th>Data fine validità</th>
                        <th>File convenzione</th>
                        <th>Stato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let conv of convenzioni" (click)="modificaConvenzione(conv, $event)">
                        <!-- Nome -->
                        <td class="pointer">
                            <span class="align-middle">{{ conv.nome }}</span>
                        </td>
                        <!-- Data inizio -->
                        <td class="pointer">
                            <span class="align-middle">{{ conv.dataInizio | date:'dd/MM/yyyy' }}</span>
                        </td>
                        <!-- Data fine -->
                        <td class="pointer">
                            <span class="align-middle">{{ conv.dataFine | date:'dd/MM/yyyy' }}</span>
                        </td>
                        <!-- File convenzione -->
                        <td class="pointer" onclick="return false;">
                            <span class="align-middle" ><a [routerLink]="">{{conv.nomeFile}}</a></span>
                        </td>
                        <!-- stato -->
                        <td class="pointer">
                            <span class="align-middle" [ngStyle]="styleOptionConvenzione(conv)">{{ setStatoConvenzione(conv) }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row p-1" *ngIf="!convenzioni?.length">
            <div class="warning-div col-xl-12">
                <span>La convenzione con l’ente <span class="text-bold">{{ente.nome}}</span> è <span class="text-bold revisione">ASSENTE</span>. L’ente non può visualizzare i dati degli studenti di questo istituto sul suo profilo EDIT.<br>
                    Puoi comunque creare e gestire attività presso queste ente tramite il portale scuola e la webapp studenti - ma senza la collaborazione diretta dell’ente tramite il suo profilo EDIT.<br> 
                    Per permettere all’ente di collaborare con la gestione dell’attività tramite la sua interfaccia EDIT inserisci una convenzione valida utilizzando il tasto "Aggiungi nuova convenzione."</span>
            </div>
        </div>
  </div>