<div class="mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row m-left" *ngIf="ente">
        <div class="col-6 v-center">
            <span class="title">{{ente.nome}}</span>&nbsp;&nbsp;
            <span (click)="menuContentShow()" class="pointer">
                <svg *ngIf="!showContent" class="icon icon-primary icon-bg">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                </svg>
                <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon">
            </span>
        </div>
        <div class="col-6">
            <span class="float-right m-right">
                <button *ngIf="ente.origin=='CONSOLE'" class="btn btn-secondary btn-xs btn-icon py-1 pr-2" placement="bottom"  ngbTooltip="Elimina questo ente" (click)="delete()">
                    <span class="row">
                        <span class="btn-txt v-center">Elimina ente</span>&nbsp;
                        <span>
                            <svg class="icon icon-white icon-sm">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-delete"></use>
                            </svg>
                        </span>
                    </span>
                </button>
              </span>
        </div>
    </div>
    <hr class="hr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use></svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight" (click)="menuContentShow()"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use></svg></div>
    </div>
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>
    <div class="card-body m-16" *ngIf="ente">
        <div class="title">
            Dati ente <br/>
            <button *ngIf="ente.origin=='CONSOLE'" class="btn btn-primary v-center-inline" placement="bottom"  ngbTooltip="Modifica i dati di questa attività" (click)="modifica()">
                Modifica dati ente&nbsp;&nbsp;&nbsp;<i class="material-icons">edit</i></button>
        </div>
        <br>
        <div class="p-1 middle-div row">
            <div class="col-6">
                <span class="row">Nome: {{ente.nome}}</span>
                <span class="row">Partita Iva: {{ente.partita_iva}}</span>
                <span class="row">Indirizzo: {{ente.address}}</span>
            </div>
            <div class="col-6">
                <span class="row">Email: {{ ente.email }}</span>
                <span class="row">PEC: {{ente.pec}}</span>
                <span class="row">Telefono: {{ente.phone}}</span>
            </div>    
        </div>
        <br>
        <div class="p-1 middle-div row" *ngIf="hasCoordinate()">
            <div class="col">
              <div id="map" style="height:300px;width:100%;"></div>
            </div>
          </div>
  </div>