<div class="card mb-3 list-container md-margin">

    <h3 class="card-header">
        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Attivita Storica
    </h3>

    <div class="card-body">

        <div class="row">
            <div class="col-md-3">
                <div class="detail-label">Dal:
                    <dp-date-picker [(ngModel)]="filterStart" [config]="filterDatePickerConfig" theme="dp-material"></dp-date-picker>
                    <span class="glyphicon glyphicon-calendar icon-size no-shadow calendar-icon"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="detail-label">Al:
                    <dp-date-picker [(ngModel)]="filterEnd" [config]="filterDatePickerConfig" theme="dp-material"></dp-date-picker>
                    <span class="glyphicon glyphicon-calendar icon-size no-shadow calendar-icon"></span>
                </div>
            </div>
            <div class="col-md-3 detail-label">Tipologia:
                <select class="col-md-8 filter-data" (change)="setSelectedTipo($event.target)">
                    <option *ngFor="let tipology of tipologiaAzienda" [ngValue]="tipology.id" [selected]="tipology.selected">
                        {{ tipology.titolo }}
                    </option>
                </select>
            </div>
            <div class="col-md-2 detail-label">
                <!-- <select class="col-md-8 filter-data" (change)="setSelectedStato($event.target)">
                    <option *ngFor="let stato of status" [ngValue]="stato.id" [selected]="stato.selected">{{stato.titolo}}</option>
                </select> -->
            </div>
            <div class="col-md-1">
                <div class="pull-right">
                    <button type="button" class="btn btn-secondary" (click)="cerca()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Cerca
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="attivitaAlternanzaList.length" class="table list-group">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Classe</th>
                        <th>Tipologia</th>
                        <th>Periodo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let activity of attivitaAlternanzaList">
                        <td class="custom_tr">
                            <a [routerLink]="['../incorso/viewAA', activity.id]">{{ activity.classe }}</a>
                        </td>
                        <td class="custom_tr">{{ getTipo(activity.tipologia) }}</td>
                        <td class="custom_tr">{{ activity.dataInizio | date: 'dd/MM/yyyy'}} - {{ activity.dataFine | date: 'dd/MM/yyyy'}}</td>
                        <td>
                            <div class="pull-right">
                                <div class="btn-group pull-right" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary btn-action" [routerLink]="['../incorso/viewAA', activity.id]">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;dettaglio
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <label *ngIf="!attivitaAlternanzaList.length" class="font-14 font-weight-bold">Nessuna attività trovata</label>
        </div>
        <div class="center">
            <cm-pagination #cmPagination [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"></cm-pagination>
        </div>
    </div>
</div>