<div class="home-container">

  <div class="row blu-row">
    <div class="col-1">
      <img class="blu-row-logo" src="assets/images/logo_Generale.svg">
    </div>
    <div class="col-2 m-top-logo-text">
      <div class="row"><span class="blu-row-text">Esperienze Didattiche</span></div>
      <div class="row"><span class="blu-row-text">Insieme al Territorio</span></div>
    </div>
    <div class="col-9"></div>
  </div>
  <br/>
  <br/>
  <div class="page-body" [ngClass]="{'border-selected': loginSelected, 'border-error': errMsg != '' }">
    <div class="row">
      <div class="col-5"></div>
      <div class="col-2 text-center">
        <img src="assets/images/provinciaTN.png" class="">
      </div>
      <div class="col-5"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center error-font" [innerHTML]="errMsg"></p>
      </div>
    </div>
    <div class="row m-top-body">
      <div class="col-12">
        <p class="text-center heading-1">Scopri EDIT - il portale che ti accompagna nel mondo dell’alternanza scuola lavoro</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center heading-2">Il servizio nasce per connettere Studentesse, Studenti, Scuole ed Enti del territorio trentino</p>
      </div>
    </div>
    <div class="row m-top20">
      <div class="col-4">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <label class="customradio">
              <input [disabled]="options[0].disabled" type="radio" [value]="options[0]" [(ngModel)]="actualOption"
                (change)="onChange(options[0])" #scuola="ngModel">
              <span class="option-1">{{options[0].name}}</span>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <div *ngIf="!loginSelected">
              <img class="option-row-logo" src="assets/images/Scuola_Azzurro.svg">
            </div>
            <div *ngIf="loginSelected">
              <img *ngIf="actualOption.id != 1" class="option-row-logo" src="assets/images/Scuola_Azzurro.svg">
              <img *ngIf="actualOption.id == 1" class="option-row-logo" src="assets/images/Transparent_Scuola.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <label class="customradio">
              <input [disabled]="options[1].disabled" type="radio" [value]="options[1]" [(ngModel)]="actualOption"
                (change)="onChange(options[1])">
              <span class="option-1">{{options[1].name}}</span>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <div *ngIf="!loginSelected">
              <img class="option-row-logo" src="assets/images/Studente_Azzurro.svg">
            </div>
            <div *ngIf="loginSelected">
              <img *ngIf="actualOption.id != 2" class="option-row-logo" src="assets/images/Studente_Azzurro.svg">
              <img *ngIf="actualOption.id == 2" class="option-row-logo" src="assets/images/Transparent_Studente.svg">
            </div>
          </div>
        </div>
      </div>
       <div class="col-4">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <label class="customradio">
              <input [disabled]="options[2].disabled" type="radio" [value]="options[2]" [(ngModel)]="actualOption"
                (change)="onChange(options[2])">
              <span class="option-1">{{options[2].name}}</span>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <div *ngIf="!loginSelected">
              <img class="option-row-logo" src="assets/images/Ente_Azzurro.svg">
            </div>
            <div *ngIf="loginSelected">
              <img *ngIf="actualOption.id != 3" class="option-row-logo" src="assets/images/Ente_Azzurro.svg">
              <img *ngIf="actualOption.id == 3" class="option-row-logo" src="assets/images/Transparent_Ente.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row text-center m-top20">
      <div class="col-5"></div>
      <div class="col-2">
        <button [disabled]="!loginSelected" class="btn btn-lg v-center btnModificationText"
          [ngClass]="{'btn-primary': loginSelected, 'btn-secondary':!loginSelected }"
          (click)="login()">
          <span class="row btnCreateTxt">
            <span class="col-4"></span>
            <span class="col-4">OK</span>
            <span class="col-4"></span>
          </span>
        </button>
      </div>
      <div class="col-5"></div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div>
      <p class="font-10 text-center">Questo servizio è stato progettato tramite un percorso di co-design da: Istituto Tecnico Tecnologico “Gugliemo Marconi” (Rovereto), Istituto Tecnico Economico e Tecnologico “Felice e Gregorio</p>
      <p class="font-10 text-center">Fontana” (Rovereto), Collegio Arcivescovile Celestino Endrici (Trento) e Istituto di Istruzione “Martino Martini” (Mezzolombardo)</p>
    </div>
  </div>
</div>
<cm-footer class="page-footer"></cm-footer>