.home-tiles .card-header {
    text-align: center;
}

.home-tiles .tile-icon {
    text-align: center;
    font-size: 72px;
    width: 100%
}

.home-tiles .tile-btn-container {
    width: 100%;
    text-align: center;
}

.home-container {
    min-height: calc(100vh - 170px);
}

.row-logo {
    /* height: 30%; */
    /* opacity: 0.8; */
}

.row-title {
    color: #4D4D4D;
    font-size: 24px;
    margin-top: 40px;
}

.row-buttons {
    margin: 30px;
}

.row-login {
    height: 25%;
}

.btn-login {
    width: 75%;
    height: 200px;
    color: #4D4D4D;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0px;
}

@media only screen and (max-width: 1140px) {
    .btn-login {
        width: 100%;
    }
}

.btn-scuola {
    border-bottom: 0px solid #2898ac;
    background-color: #3DBBD2;
}

.btn-scuola:hover {
    border-bottom: 20px solid #2898ac;
}

.btn-studente {
    border-bottom: 0px solid #689238;
    background-color: #99C567;
}

.btn-studente:hover {
    border-bottom: 20px solid #689238;
}

.btn-azienda {
    border-bottom: 0px solid #ce8d07;
    background-color: #F7AE19;
}

.btn-azienda:hover {
    border-bottom: 20px solid #ce8d07;
}

.form-login {
    color: white;
    width: 500px;
}

.form-login-label {
    font-size: 40px;
    margin: 16px;
}

.btn-enter {
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0px;
    background-color: #26c6da;
    padding: 16px 60px;
    margin-top: 16px;
    border-radius: 6px;
}

.form-login-input {
    border-radius: 12px;
}

.form-login-input {
    font-size: 26px;
}

.nav-logo {
    width: 200px;
    height: 120px;
    left: 20px;
    top: 10px;
    position: relative;
}

.nav-logo img {
    width: 100%;
    height: auto;
}

.blu-row {
    background: #0066CC 0% 0% no-repeat padding-box;
    opacity: 1;
    min-height: 96px;
}
.blu-row-logo{
    width: 98px !important;
    height: 83px !important;
    margin: 6px 6px 6px 16px;
}
.blu-row-text{
    text-align: left;
    font-family: Titillium Web;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.m-top-logo-text{
    margin-top: 20px;
}
.option-row-logo{
    width: 141px;
    height: 103px;
}
.m-top-body{
    margin-top: 55px;
}
.m-top-body100{
    margin-top: 138px;
}
.page-body {
    position: relative;
    top: 50px;
    /* height: 490px; */
    /* width: 1100px; */
    overflow-x: hidden;
    overflow-y: auto;
    width: 90%;
    border-radius: 12px;
    margin: 0 auto;
    background: #FAFDFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    padding: 26px
}

.page-body-center {
    left: 480px;
    position: relative;
}

.border-error {
    border: #F83E5A;
    size: 3px;
    border-radius: 25px;
    border-style: solid;
}

.border-selected {
    border: #0066CC;
    size: 3px;
    border-radius: 25px;
    border-style: solid;
}

.heading-1 {
    font: Bold 30px/59px Titillium Web;
    letter-spacing: 2.22px;
    color: #707070;
    opacity: 1;
}

.heading-2 {
    text-align: center;
    font: normal 25px/42px Titillium Web;
    letter-spacing: 1.39px;
    color: #707070;
    opacity: 1;
}

.option-1 {
    font: 600 30px/42px Titillium Web;
    letter-spacing: 1.94px;
    color: #707070;
    opacity: 1;
}

.error-font {
    font: normal 20px/42px Titillium Web;
    letter-spacing: 0;
    color: #D1344C;
    opacity: 1;
}

.page-footer {
    position: relative;
    top: 40px;
}

.customradio {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */

.customradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Hide the browser's default radio button */

.customradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 25%;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #BEBEBE;
}

/* On mouse-over, add a grey background color */

.customradio:hover input~.checkmark {
    background-color: transparent;
}

/* When the radio button is checked, add a blue background */

.customradio input:checked~.checkmark {
    background-color: white;
    border: 1px solid #0073e6;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.customradio input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.customradio .checkmark:after {
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0073e6;
}