<div class="home-container">

  <div class="row blu-row">
    <div class="col-1">
      <img class="blu-row-logo" src="assets/images/logo_Generale.svg">
    </div>
    <div class="col-2 m-top-logo-text">
      <div class="row"><span class="blu-row-text">Esperienze Didattiche</span></div>
      <div class="row"><span class="blu-row-text">Insieme al Territorio</span></div>
    </div>
    <div class="col-9"></div>
  </div>

  <div class="page-body" [ngClass]="{'border-selected': loginSelected, 'border-error': errMsg != '' }">

    <div class="row">
      <div class="col-5"></div>
      <div class="col-2 text-center">
        <img src="assets/images/provinciaTN.png" class="">
      </div>
      <div class="col-5"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center error-font" [innerHTML]="errMsg"></p>
      </div>
    </div>
    <div class="row m-top-body">
      <div class="col-12">
        <p class="text-center heading-1">Benvenuto nel portale Esperienze Didattiche Insieme al Territorio della
          Provincia di Trento</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p *ngIf="!loginSelected" class="text-center heading-2">Seleziona il tuo profilo prima di effettuare l’accesso
        </p>
        <p *ngIf="loginSelected" class="text-center heading-2">Premi ok e vai alla schermata di login</p>
      </div>
    </div>
    <div class="row m-top20">
      <div class="col-4">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <label class="customradio">
              <input [disabled]="options[0].disabled" type="radio" [value]="options[0]" [(ngModel)]="actualOption"
                (change)="onChange(options[0])" #scuola="ngModel">
              <span class="option-1">{{options[0].name}}</span>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <div *ngIf="!loginSelected">
              <img class="option-row-logo" src="assets/images/Scuola_Azzurro.svg">
            </div>
            <div *ngIf="loginSelected">
              <img *ngIf="actualOption.id != 1" class="option-row-logo" src="assets/images/Scuola_Azzurro.svg">
              <img *ngIf="actualOption.id == 1" class="option-row-logo" src="assets/images/Transparent_Scuola.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <label class="customradio">
              <input [disabled]="options[1].disabled" type="radio" [value]="options[1]" [(ngModel)]="actualOption"
                (change)="onChange(options[1])" #studente>
              <span class="option-1">{{options[1].name}}</span>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <div *ngIf="!loginSelected">
              <img class="option-row-logo" src="assets/images/Studente_Azzurro.svg">
            </div>
            <div *ngIf="loginSelected">
              <img *ngIf="actualOption.id != 2" class="option-row-logo" src="assets/images/Studente_Azzurro.svg">
              <img *ngIf="actualOption.id == 2" class="option-row-logo" src="assets/images/Transparent_Studente.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <label class="customradio">
              <input [disabled]="options[2].disabled" type="radio" [value]="options[2]" [(ngModel)]="actualOption"
                (change)="onChange(options[2])">
              <span class="option-1">{{options[2].name}}</span>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <div *ngIf="!loginSelected">
              <img class="option-row-logo" src="assets/images/Ente_Azzurro.svg">
            </div>
            <div *ngIf="loginSelected">
              <img *ngIf="actualOption.id != 3" class="option-row-logo" src="assets/images/Ente_Azzurro.svg">
              <img *ngIf="actualOption.id == 3" class="option-row-logo" src="assets/images/Transparent_Ente.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center m-top20">
      <div class="col-5"></div>
      <div class="col-2">
        <button type="button" class="btn btn-lg"
          [ngClass]="{'btn-primary': loginSelected, 'btn-secondary':!loginSelected }"
          (click)="login()">&nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>
      <div class="col-5"></div>
    </div>
  </div>
</div>

<cm-footer class="page-footer"></cm-footer>