
.modal-cartella {
   
    .modal-header {
        background: #7FB2E5 0% 0% no-repeat padding-box;
        border-radius: 5px 5px 0px 0px;
      
        .modal-title {
            font-size: 25px;
            font-weight: bold;
        }
     
    }

    .modal-body {

        .modal-title {
            font-size: larger;
            font-weight: bold;
        }

        padding: 30px;   
        background-color: aliceblue;
    }

}

