<div class=" mb-3 list-container md-margin sub-navbar-content-below m16">
  <div class="row" *ngIf="attivita">
    <div class="col-6 v-center">
      <span class="modifyTitleStyle m-left">{{attivita.titolo}}</span>&nbsp;&nbsp;
      <span (click)="menuContentShow()" class="pointer">
        <svg *ngIf="!showContent" class="icon icon-primary icon-bg">
            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
        </svg>
        <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon">
    </span>
    </div>
    <div class="col-6">
      <span class="float-right m-right mTop">
        <button type="button" class="btn btn-danger btn-xs btn-icon py-1 pr-2 btnAnnulla mLeft12" placement="bottom"
          ngbTooltip="Esci senza validare" (click)="cancel()">
          <span class="row btnModificationText">
            <span class="col-8 leftItem">Annulla</span>
            <span class="col-4 rightItem">
              <svg class="icon icon-white icon-sm btnModificationIcon">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
              </svg>
            </span>
          </span>
        </button>
        <button *ngIf="!isArchivio" class="btn btn-success btn-xs btn-icon py-1 pr-2 btnCreate mLeft12"
          placement="bottom" ngbTooltip="{{toolTipSave}}" (click)="saveValutazioni()">
          <span class="row btnCreateText">
            <span class="col-8 leftItem">Salva&nbsp;</span>
            <span class="col-4 rightItem">
              <i class="material-icons btnModificationIcon">save</i>
            </span>
          </span>
        </button>
      </span>
    </div>
  </div>
  <hr class="hr modifyHr" />
  <div *ngIf="showContent" class="row rectangle v-center-inline">
    <div class="col-1 helpMessageIcon-mRight">
        <svg class="icon icon-sm fill-darkblue"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use></svg>
    </div>
    <div class="col-10 helpMessage-mLeft">
        <span>{{menuContent}}</span>
    </div>
    <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight" (click)="menuContentShow()"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use></svg></div>
  </div>
  <div class="row m-subNav">
    <div class="col-8">
      <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
    </div>
    <div class="col-4 shadowDetails">
      <span class="float-right mRight">
      </span>
    </div>
  </div>
  <div class="card-body modify-card-body modify-card-body-height" *ngIf="report">
    <span class="title">Competenze da valutare</span><br />
    <span class="italic">Valuta in che misura "{{nominativo}}" ha acquisito le seguenti competenze durante il suo tirocinio</span>
    <br/>
    <br/>
    <div class="row header">
      <div class="col col-2">Creato da</div>
      <div class="col col-8">Definizione</div>
      <div class="col col-2">Valutazione</div>
    </div>
    <div class="row dashed" *ngFor="let valutazione of report.valutazioni">
      <div class="col col-2">{{valutazione.competenzaOwnerName}}</div>
      <div class="col col-8">{{valutazione.competenzaTitolo}}</div>
      <div class="col col-2">
        <select class="custom-select form-control" id="punteggio" [(ngModel)]="valutazione.punteggio" [disabled]="isArchivio">
          <option value="0" selected disabled hidden>Seleziona valutazione</option>
          <option value="1">Non acquisita</option>
          <option value="2">Base</option>
          <option value="3">Intermedio</option>
          <option value="4">Avanzato</option>
        </select>
      </div>
    </div>
  </div>
</div>