<div class="mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row m-left" *ngIf="ente">
        <div class="col-6 v-center">
            <span class="title">Scheda ente</span>&nbsp;&nbsp;
            <span (click)="menuContentShow()" class="pointer">
                <svg *ngIf="!showContent" class="icon icon-primary icon-bg">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                </svg>
                <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon">
            </span>
        </div>
    </div>
    <hr class="hr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use></svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight" (click)="menuContentShow()"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use></svg></div>
    </div>
    <div class="card-body m-16" *ngIf="ente">
        <div class="title">
            Dati ente <br/>
            <button class="btn btn-primary v-center-inline" placement="bottom"  ngbTooltip="Modifica i dati di questo ente" (click)="modifica()">
                Modifica dati ente&nbsp;&nbsp;&nbsp;
                <svg class="icon icon-white icon-sm btnModificationIcon">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-pencil"></use>
                </svg>
            </button>
        </div>
        <br>
        <div class="p-1 middle-div row">
            <div class="col-6">
                <span class="row "><strong>Nome ente:</strong>{{ente.nome}}</span>
                <span class="row"><strong>Partita Iva:</strong>{{ente.partita_iva}}</span>
                <span class="row"><strong>Indirizzo:</strong>{{ente.viaPiazza}}</span>
                <span class="row"><strong>CAP:</strong>{{ente.cap}}</span>
                <span class="row"><strong>Comune:</strong>{{ente.comune}}</span>
                <span class="row"><strong>Provincia:</strong>{{ente.provincia}}</span>
                <span class="row"><strong>Codice ATECO:</strong></span>
            </div>
            <div class="col-6">
                <span class="row"><strong>Email:</strong>{{ ente.email }}</span>
                <span class="row"><strong>PEC:</strong>{{ente.pec}}</span>
                <span class="row"><strong>Telefono:</strong>{{ente.phone}}</span>
                <span class="row"><strong>Legale rappresentante:</strong>{{ente.legaleRappresentante}}</span>
                <span class="row"><strong>Responsabile della sicurezza:</strong>{{ente.responsabileSicurezza}}</span>
                <span class="row"><strong>Medico competente:</strong>{{ente.medicoCompetente}}</span>
            </div>    
        </div>
        <div class="p-1 middle-div">
            <span class="row" *ngFor="let ateco of attachedAteco">
                <td class="col-sm-6">{{ateco.codice}} - {{ateco.descrizione}}</td>
            </span>
        </div>
        <br>
        <div class="title">
            Account abilitati <br />
            <!-- <button class="btn btn-primary v-center-inline" placement="right-bottom" ngbTooltip="Modifica o elimina gli account che possono operare su questo ente"
                (click)="modificaAbilitati()">
                Modifica account abilitati&nbsp;&nbsp;&nbsp;
                <svg class="icon icon-white icon-sm btnModificationIcon">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-pencil"></use>
                </svg>
            </button>&nbsp; -->
            <button class="btn btn-primary v-center-inline" placement="bottom" ngbTooltip="Aggiungi un account con i permessi per operare su questo ente"
                (click)="aggiungiAccount()">
                Aggiungi account&nbsp;&nbsp;&nbsp;
                <svg class="icon icon-white icon-sm btnModificationIcon">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-plus-circle"></use>
                </svg>
            </button>
        </div>
        <br>
        <div class="list-group" *ngIf="ruoli && ruoli.length > 0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Indirizzo email</th>
                        <th>Nome</th>
                        <th>Ruolo</th>
                        <th>Creato il</th>
                        <th>Creato da</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ruolo of ruoli">
                        <!-- Indirizzo email -->
                        <td class="pointer">
                            <span class="align-middle color-blu text-underline">{{ ruolo.email }}</span>
                        </td>
                        <!-- Nome -->
                        <td class="pointer">
                            <span class="align-middle">{{ ruolo.name }} {{ ruolo.surname }}</span>
                        </td>
                        <!-- Ruolo -->
                        <td class="pointer">
                            <span class="align-middle">{{ ruolo.role }}</span>
                        </td>
                        <!-- Creato il -->
                        <td class="pointer">
                            <span class="align-middle">{{ ruolo.dataAccettazione | date: 'dd/MM/yyyy'}}</span>
                        </td>
                        <!-- Creato da -->
                        <td class="pointer">
                            <span class="align-middle">{{ ruolo.nominativoInvito }}</span>
                        </td>
                        <!-- delete -->
                        <td class="pointer">
                            <div class='btn btn-primary btn-icon btn-xs float-right'>
                                <svg class="icon icon-white icon-sm" (click)="deleteRuolo(ruolo)">
                                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-delete"></use>
                                </svg>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="p-1 middle-div row" *ngIf="hasCoordinate()">
            <div class="col">
              <div id="map" style="height:300px;width:100%;"></div>
            </div>
          </div>
  </div>