<div class=" mb-3 list-container md-margin sub-navbar-content-below">
    <div class="row" *ngIf="attivita">
        <span class="v-center warning-text p-3 col-6">
            <p>ATTENZIONE: la lista iscrizioni visualizzata è riferita al {{attivita.annoScolastico}}, anno dell’attività</p>
        </span>
    </div> 
    <div class="row" *ngIf="studenti">
       <!-- left card -->
        <div class="col-6 card broderRight modify-card-bgcolor">
            <div class="card-body p0 modify-bgcolor">
                <div class="row v-center bg-white">
                    <div class="col-4">
                        <label class="complementary-3-color-a6 font-weight-bold" >Studenti associabili: {{totalRecords}}</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-6 input-group">
                        <div class="form-group center-formGroup">
                            <input type="text" id="cercaStudenteNome" class="form-control search-input"
                                [(ngModel)]="searchStudenteNome" (keyup.enter)="searchStudente()">
                            <label for="cercaStudenteNome" >Cerca studente da associare</label>
                        </div>
                        <button class="btn btn-icon v-center-inline" (click)="searchStudente()">
                            <svg class="icon icon-primary"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-search"></use></svg>
                        </button>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead class="bg-white">
                        <tr>
                            <th >Nome:</th>
                            <th>CF</th>
                            <th>Classe</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="modify-card-body">
                        <tr *ngFor="let studente of studenti" [class.disabled]="studente.disabled">
                            <td class="align-middle">{{studente.nominativoStudente}}</td>
                            <td class="align-middle">{{studente.cfStudente}}</td>
                            <td class="align-middle">{{studente.classeStudente}}</td>
                            <td class="align-middle">
                                <svg class="float-right icon icon-primary iconPrimaryColor icon-sm pointer" *ngIf="!studente.disabled" (click)="toggleStudente(studente)">
                                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-plus-circle"></use>
                                </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row empty-list" *ngIf="studenti.length==0">
                    <div class="col">
                        Nessuna studente trovata con il filtro selezionato
                    </div>
                </div>
            </div>
            <cm-pagination style="text-align:center" class="modify-bgcolor" #cmPagination [maxPages]="5" [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"></cm-pagination>
        </div>

        <!-- right card -->
        <div class="col-6 card broderLeft modify-card-bgcolor">
            <div class="card-body p0 modify-bgcolor">
                <div class="row v-center bg-white">
                    <div class="col-4">
                        <label class="primary-color font-weight-bold">Studenti associati: {{attachedStudenti.length}}</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-6 input-group">
                        <div class="form-group center-formGroup">
                            <input type="text" id="cercaStudenteAssociateNome" class="form-control search-input"
                                [(ngModel)]="searchStudenteAssociateNome" (keyup.enter)="searchStudenteAssociate()">
                            <label for="cercaStudenteAssociateNome" >Cerca studenti associati</label>
                        </div>
                        <button class="btn btn-icon v-center-inline" (click)="searchStudenteAssociate()">
                            <svg class="icon icon-primary"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-search"></use></svg>
                        </button>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead class="bg-white">
                        <tr>
                            <th >Nome:</th>
                            <th>CF</th>
                            <th>Classe</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="modify-card-body">
                        <tr *ngFor="let studente of studentiAssociateWindow" >
                            <td class="align-middle">{{studente.nominativoStudente}}</td>
                            <td class="align-middle">{{studente.cfStudente}}</td>
                            <td class="align-middle">{{studente.classeStudente}}</td>
                            <td class="align-middle">
                                <svg class="float-right icon icon-danger iconDangerColor icon-sm pointer" (click)="deleteStudente(studente)">
                                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-circle"></use>
                                </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row empty-list" *ngIf="!studentiAssociateWindow || studentiAssociateWindow.length==0">
                    <div class="col">
                        Nessuna studente trovata con il filtro selezionato
                    </div>
                </div>
            </div>
            <cm-pagination style="text-align:center" class="modify-bgcolor" #cmPaginationAssociate [maxPages]="5" [totalItems]="totalRecordsAssociate" [pageSize]="pageSize" (pageChanged)="pageChangedAssociate($event)"></cm-pagination>
        </div>

    </div>
</div>