<div class="container root-container">
    <div class="row">
        <div class="col-2 navigation-menu-left card">
            <h2>Attività</h2>
            <ul class="navigation-left">
                <li class="nav-item btn-secondary" routerLinkActive="active">
                    <a class="nav-link" routerLink="./tabs/incorso/individuali">Lista attività individuali</a>
                </li>
                <li class="nav-item btn-secondary" routerLinkActive="active">
                    <a class="nav-link" routerLink="./tabs/incorso/gruppo">Lista attività gruppo</a>
                </li>
                <!-- <li class="nav-item btn-secondary" routerLinkActive="active">
                    <a class="nav-link" routerLink="./tabs/archivo">Storico attivita</a>
                </li> -->
                <li class="nav-item btn-secondary nav-item-guide" routerLinkActive="active">
                    <a class="nav-link v-center" routerLink="./tabs/incorso/guida">
                        <!--<i class="material-icons">book</i>-->Guida
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-10 navigation-content-right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>