::ng-deep .tooltip-inner {
  font-size: 14px !important;
}

.card .code {
  background-color: ivory;
  padding: 5px;
}

.card .error {
  background-color:lightcoral;
  padding: 5px;
}

.pointer {
  cursor: pointer;
}

.right {
  float: right;
}