<div class="container root-container">
    <div class="row">
        <div class="col-2 navigation-menu-left card">
            <h2>Dashboard</h2>
            <ul class="navigation-left">
                <li class="nav-item btn-secondary" routerLinkActive="active">
                    <a class="nav-link v-center" routerLink="./esperienze">Esperienze</a>
                </li>
                <li class="nav-item btn-secondary" routerLinkActive="active">
                    <a class="nav-link v-center" routerLink="./registrazioni">Iscrizioni</a>
                </li>
                <li class="nav-item btn-secondary" routerLinkActive="active">
                    <a class="nav-link v-center" routerLink="./attivita">Attivtà</a>
                </li>
                <li class="nav-item btn-secondary" routerLinkActive="active">
                    <a class="nav-link v-center" routerLink="./sistema">Generale</a>
                </li>
                <li class="nav-item btn-secondary nav-item-guide" routerLinkActive="active">
                    <a class="nav-link v-center" routerLink="./guide">Guida</a>
                </li>
            </ul>
        </div>
        <div class="col-10 navigation-content-right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>