::ng-deep .tooltip-inner {
  font-size: 14px !important;
  max-width: 350px;
}
.long-text {
  text-overflow: ellipsis;
  overflow: hidden;
}
.material-icons.error { 
  color: #FF0000; 
}
.material-icons.ok { 
  color: #7aaf40; 
}
.material-icons.data { 
  color: #446bb3; 
}
.pointer {
  cursor: pointer;
}
