<div class="card md-margin">
    <h3 class="card-header">{{title}}</h3>
    <div class="card-body">
        <div class="row">
            <div class="col col-6">
                <div class="form-group">
                    <ng-template #rtIstituto let-r="result" let-t="term">
                        <div class="row">
                            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                        </div>
                    </ng-template>
                    <label for="istituto">Istituto</label>
                    <input type="text" class="form-control" [(ngModel)]="istituto"
                        id="istituto" name="istituto" [ngbTypeahead]="getIstituti" 
                        [resultTemplate]="rtIstituto" [inputFormatter]="formatterIstituto"
                        placeholder="Cerca nome istituto">
                    <small *ngIf="searchingIstituto" class="progress-spinner progress-spinner-active size-sm">
                        <span class="sr-only">Caricamento...</span>
                    </small>
                </div>
            </div>
            <div class="col col-2">
                <div class="form-group">
                    <label for="annoScolastico">Anno scolastico</label>
                    <input type="text" class="form-control" id="annoScolastico" placeholder="2019-20" 
                        [(ngModel)]="annoScolastico">
                </div>
            </div>
            <div class="col col-3">
                <div class="form-group">
                    <label for="text">Cerca</label>
                    <input type="text" class="form-control" id="text" placeholder="studente o classe o cf" 
                        [(ngModel)]="text" (keyup.enter)="getReport()">
                </div>
            </div>
            <div class="col col-1">
                <div class="form-group">
                    <label for="errors" ngbTooltip="cerca tutti gli errori di allineamento">Errori</label>
                    <input type="checkbox" class="form-control" id="errors" [(ngModel)]="findErrors">
                </div>
            </div>
        </div>
        <div class="pull-right">
            <div class="btn-group" role="group">
                <button class="btn btn-secondary v-center mr-3" (click)="getReport()">
                    <i class="material-icons">refresh</i> Aggiorna
                </button>    
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-secondary v-center mr-3" (click)="getEsperienzeCsv()"
                *ngIf="esperienze.length > 0">
                <i class="material-icons">save_alt</i> CSV
            </button>    
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Esp</th>
                    <th>Att</th>
                    <th>Studente</th>
                    <th>CF</th>
                    <th>Classe</th>
                    <th>Esperienza</th>
                    <th>Tipologia</th>
                    <th>Periodo</th>
                    <th>Ore</th>
                    <th>Stato</th>
                    <th>TnDigit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let esp of esperienze">
                    <td><span ngbTooltip="id esperienza">{{esp.esperienzaId}}</span></td>
                    <td><span ngbTooltip="id attività">{{esp.attivitaAlternanzaId}}</span></td>
                    <td>{{esp.nominativoStudente}}</td>
                    <td>{{esp.cfStudente}}</td>
                    <td>{{esp.classeStudente}}</td>
                    <td>{{esp.titolo}}</td>
                    <td>{{getTipologia(esp.tipologia)}}</td>
                    <td>{{esp.dataInizio}} <br/> {{esp.dataFine}}</td>
                    <td><span ngbTooltip="validate / totali">{{esp.oreValidate}} / {{esp.oreTotali}}</span></td>
                    <td><span ngbTooltip="{{getDataAllineamento(esp)}}">{{esp.stato}}</span></td>
                    <td>
                        <i *ngIf="esp.stato=='valida' && esp.allineato" class="material-icons ok"
                        ngbTooltip="esperienza allineata">check_circle_outline</i> 
                        <i *ngIf="esp.stato=='valida' && !esp.allineato && (esp.numeroTentativi == 0)" class="material-icons"
                        ngbTooltip="esperienza da allineare">arrow_circle_up</i> 
                        <i *ngIf="esp.stato=='valida' && !esp.allineato && (esp.numeroTentativi > 0)" class="material-icons error"
                        ngbTooltip="copia errore di allineamento nella clipboard" (click)="copyText(esp.errore)">highlight_off</i>
                        &nbsp;
                        <i *ngIf="esp.invio" class="material-icons pointer data" 
                        ngbTooltip="copia dati di invio nella clipboard" (click)="copyText(esp.invio)">content_copy</i>
                        &nbsp;
                        <i class="material-icons pointer error" ngbTooltip="cancella esperienza"
                        (click)="deleteEsperienza(esp)">delete_forever</i> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>