::ng-deep .tooltip-inner {
  font-size: 14px !important;
  max-width: 350px;
}
.material-icons.error { 
  color: #FF0000; 
}
.material-icons.ok { 
  color: #7aaf40; 
}
.pointer {
  cursor: pointer;
}
.grey {
  background-color: lightgray;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}