<div class="mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row" *ngIf="ente">
        <div class="col-6 v-center">
            <span class="modifyTitleStyle m-left">{{ente.nome}}</span>&nbsp;&nbsp;
        </div>
        <div class="col-6">
            <div class="row v-center float-right">
                <button type="button" class="btn btn-danger btn-icon btn-xs btnAnnulla m-top22" placement="bottom"
                    ngbTooltip="Annulla le modifiche" (click)="cancel()">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Annulla</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-success btn-icon btn-xs btnSave m-top22" placement="bottom"
                    ngbTooltip="Salva le modifiche" (click)="save(myForm)">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Salva</span>
                        <span class="col-4 rightItem">
                            <i class="material-icons btnModificationIcon">save</i>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <hr class="hr modifyHr" />
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>
    <div class="card-body modify-card-body">
        <div class="errorMsg" [hidden]="!forceErrorDisplay">Compila i campi necessari</div>
        <span class="row v-center modal-title modalSubject">Dati Responsabile Ente</span>
        <span class="warning-text">
         <p><b>&nbsp;ATTENZIONE: Assicurarsi che i dati del responsabile ente siano corretti. L’autenticazione avverrà tramite SPID, e non funzionerà se il CODICE FISCALE inserito non è corretto.</b></p>
        </span>
        <div class="row m16">
            <div class="col-12">
                <div class="row v-center form-group">
                    <div class="col-sm-5"
                        [class.has-danger]="NomeInput.invalid && (NomeInput.dirty || NomeInput.touched || forceErrorDisplay)">
                        <label for="nome" *ngIf="nome" class="active">Nome</label>
                        <input type="text" class="form-control" [(ngModel)]="nome" id="nome" name="nome"
                            #NomeInput="ngModel" placeholder="Nome" (keyup)="trimValue($event, 'nome')" (focusout)="trimValue($event, 'trim')" required>
                        <div class="invalid-feedback"
                            [class.d-block]="forceNameErrorDisplay || (NomeInput.invalid && (NomeInput.dirty || NomeInput.touched || forceErrorDisplay))">
                            Campo necessario.</div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-sm-5"
                        [class.has-danger]="CognomeInput.invalid && (CognomeInput.dirty || CognomeInput.touched || forceErrorDisplay)">
                        <label for="cognome" *ngIf="cognome" class="active">Cognome</label>
                        <input type="text" class="form-control" [(ngModel)]="cognome" id="cognome" name="cognome"
                            #CognomeInput="ngModel" placeholder="Cognome"  (keyup)="trimValue($event, 'cognome')" (focusout)="trimValue($event, 'trim')" required>
                        <div class="invalid-feedback"
                            [class.d-block]="forceCognomeErrorDisplay || (CognomeInput.invalid && (CognomeInput.dirty || CognomeInput.touched || forceErrorDisplay))">
                            Campo necessario.</div>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-sm-5"
                        [class.has-danger]="CFInput.invalid && (CFInput.dirty || CFInput.touched || forceErrorDisplay)">
                        <label for="cf" *ngIf="cf" class="active">CF</label>
                        <input type="text" class="form-control" [(ngModel)]="cf" id="cf" name="cf" #CFInput="ngModel"
                            placeholder="CF" minlength="16" maxlength="16" (keyup)="trimValue($event, 'cf')" (focusout)="trimValue($event, 'trim')" required>
                        <div class="invalid-feedback"
                            [class.d-block]="forceCFErrorDisplay || (CFInput.invalid && (CFInput.dirty || CFInput.touched || forceErrorDisplay))">
                            Campo necessario.
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-sm-5"
                        [class.has-danger]="EmailInput.invalid && (EmailInput.dirty || EmailInput.touched || forceErrorDisplay)">
                        <label for="email" *ngIf="email" class="active">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="email" id="email" name="email"
                            #EmailInput="ngModel" placeholder="Email" pattern="^[^ ]+@[^ ]+\.[a-z]{2,6}$" (keyup)="trimValue($event, 'email')" (focusout)="trimValue($event, 'trim')" required>
                        <div class="invalid-feedback"
                            [class.d-block]="(EmailInput.invalid && (EmailInput.dirty || EmailInput.touched || forceErrorDisplay))">
                            Campo necessario.
                        </div>
                    </div>
                </div>
                <div class="row v-center form-group">
                    <div class="col-sm-5"
                        [class.has-danger]="TelefonoInput.invalid && (TelefonoInput.dirty || TelefonoInput.touched || forceErrorDisplay)">
                        <label for="phone" *ngIf="telefono" class="active">Telefono</label>
                        <input type="text" class="form-control" [(ngModel)]="telefono" id="phone" name="phone"
                            #TelefonoInput="ngModel" placeholder="Telefono"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0 ||  event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                    onpaste="return false">
                    </div>
                </div>
            </div>
        </div>
    </div>