<div class="footer">
  <div class="row">
    <div class="col-1">
      <div class="row">
        <div class="col-5">
          <a target="_blank" href="http://www.provincia.tn.it/" >
            <img src="assets/images/provinciaTN.png" class="footer-imgTN">
          </a>
        </div>
        <div class="col-7">
          <a target="_blank" href="http://www.fbk.eu/" >
            <img src="assets/images/fbk.png" class="footer-imgFBK">
          </a>
        </div>
      </div>
    </div>
    <div class="col-11">
      <span class="footer-text">Copyright Smart Communities 2020 - Fondazione Bruno Kessler - Provincia Autonoma di Trento - 
        <a href="mailto:cartella-help@smartcommunitylab.it" class="footer-textUnderline">ASSISTENZA</a>
      </span>
    </div>
  </div>
</div>