<div class=" mb-3 list-container md-margin sub-navbar-content-below m16">
  <div class="row" *ngIf="attivita">
    <div class="col-6 v-center">
      <span class="modifyTitleStyle">{{attivita.titolo}}</span>
    </div>
    <div class="col-6">
      <span class="float-right m-right mTop">
        <button type="button" class="btn btn-danger btn-xs btn-icon py-1 pr-2 btnAnnulla" placement="bottom"
          ngbTooltip="Annulla associazioni" (click)="cancel()">
          <span class="row btnModificationText">
            <span class="col-8 leftItem">Annulla</span>
            <span class="col-4 rightItem">
                <svg class="icon icon-white icon-sm btnModificationIcon">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                </svg>
            </span>
          </span>
        </button>
        &nbsp;&nbsp;
        <button class="btn-success btn btn-xs btn-icon py-1 pr-2 btnCreate" 
          placement="bottom" ngbTooltip="{{toolTipSave}}"
          *ngIf="!isArchivio" (click)="savePresences()">
          <span class="row btnCreateText">
            <span class="col-8">Valida presenze&nbsp;</span>
            <span class="col-4">
              <svg class="icon icon-white icon-sm m-right36">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-note"></use>
              </svg>
            </span>
          </span>
        </button>
      </span>
    </div>
  </div>
  <hr class="hr modifyHr" />
  <div class="row m-subNav">
    <div class="col-8">
        <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
    </div>
    <div class="col-4 shadowDetails">
      <span class="float-right mRight">
        <button *ngIf="!isArchivio" class="btn btn-warning btn-xs btn-icon py-1 pr-2 btnArchivia"
          placement="bottom" ngbTooltip="Archivia definitivamente l’attività" (click)="archivia()">
          <span class="row btnModificationText">
            <span class="col-8 leftItem">Archivia</span>
            <span class="col-4 rightItem">
                <svg class="icon icon-white icon-sm btnModificationIcon">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-box"></use>
                </svg>
            </span>                       
          </span>
        </button>
      </span>
    </div>
  </div>
  <br>
  
  <div class="row m-16 pTop" *ngIf="attivita && (studentiIds && studentiIds.length > 0)">
    <div class="col-12" *ngIf="studenti">
      <table class="table">
        <thead>
          <tr class="center default">
            <th width="15%">
              <div class="row mBottom22">
                <span class="col-12">
                  <label class="titleDate">Seleziona data</label>&nbsp;
                  <div #calendarStart class="col-sm-12 m-left" [class.has-danger]="!date.dataInizio || date.dataInizio < limitMin || date.dataInizio > limitMax">
                    <dp-date-picker (onChange)="refresh()" [(ngModel)]="date.dataInizio" [config]="datePickerConfig"
                      theme="dp-material" id="dataInizio" required></dp-date-picker>
                    <div class="invalid-feedback" [class.d-block]="!date.dataInizio">
                      Seleziona data richiesta.
                    </div>
                    <div class="invalid-feedback" [class.d-block]="date.dataInizio < limitMin || date.dataInizio > limitMax">
                      Seleziona data fuori del periodo della attività
                    </div>
                  </div>
                </span>
              </div>
              <div class="row">
                <span class="col-12 thStyle">Nome</span>
              </div>
            </th>
            <th width="7%"><span class="thStyle">Classe</span></th>
            <th width="58%">
              <div class="row">
                <div class="col-1 v-center">
                  <button class="btn" [disabled]="!isDaysBackAvailable()" (click)="navigateDaysBack()">
                    <svg class="icon icon-primary icon-bg">
                      <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-arrow-left-triangle"></use>
                    </svg>
                  </button>
                </div>
                <div class="col-1 p-0 m-auto text-center default" *ngFor="let giornata of calendar; let i=index">
                  <span *ngIf="isDayBetween(giornata)" >
                    {{giornata.valueOf()| date:'dd-MM-yyyy'}} <br> {{giornata.valueOf()| date:'EEE'}}
                  </span>
                  <span *ngIf="!isDayBetween(giornata)" class="inactiveDate">
                    {{giornata.valueOf()| date:'dd-MM-yyyy'}} <br> {{giornata.valueOf()| date:'EEE'}}
                  </span>
                </div>
                <div class="col-1 v-center">
                  <button class="btn" [disabled]="!isDaysForwardAvailable()" (click)="navigateDaysForward()">
                    <svg class="icon icon-primary icon-bg">
                      <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-arrow-right-triangle"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-1 p-0 m-auto text-center" *ngFor="let giornata of calendar; let i=index">
                  <span *ngIf="isDayBetween(giornata)">
                    <button type="button" [disabled]="isArchivio || !isDayBetween(giornata)" class="btn btn-outline-primary btnSize"
                    (click)="setDefaultHourToAllStudents(i)">{{defaultHour}} ore</button>
                  </span>
                  <span *ngIf="!isDayBetween(giornata)">
                    <button type="button" [disabled]="isArchivio || !isDayBetween(giornata)" class="btn btn-outline-primary inactiveBtn btnSize"
                    (click)="setDefaultHourToAllStudents(i)">{{defaultHour}} ore</button>
                  </span>
                </div>
                <div class="col-1"></div>
              </div>
            </th>
            <th width="20%">
              <div *ngIf="report" class="float-right callNoteGruppo default noteFont">
                <span class="row"><span class="font-weight-bold">Da validare: </span>&nbsp;{{report.giornateDaValidare}} giornate</span>
                <span class="row"><span class="font-weight-bold">Validate: </span>&nbsp;{{report.giornateValidate}} giornate</span>
                <span class="row"><span class="font-weight-bold">Inizio attività: </span>&nbsp;{{report.dataInizio | date:'dd/MM/yyyy'}}</span>
                <span class="row"><span class="font-weight-bold">Fine attività: </span>&nbsp;{{report.dataFine | date:'dd/MM/yyyy'}}</span>
                <span class="row"><span class="font-weight-bold">Studenti con ore da validare: </span>&nbsp;{{report.studentiDaValidare}}</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="modify-table-body">
          <tr *ngFor="let studenteId of studentiIds; let i = index">
            <td>
              <div class="default tdData" #tooltip="ngbTooltip" placement="right" ngbTooltip="{{studenti[studenteId].toolTipRiga}}" (mouseenter)="showTipRiga($event, studenti[studenteId]);" >
                {{studenti[studenteId].nominativoStudente}}
              </div>
            </td>
            <td>
              <div class="default tdData" #tooltip="ngbTooltip" placement="bottom" ngbTooltip="{{studenti[studenteId].toolTipRiga}}" (mouseenter)="showTipRiga($event, studenti[studenteId]);" >
                {{studenti[studenteId].classeStudente}}
              </div>
            </td>
            <td>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-1 p-0 m-auto text-center" *ngFor="let giornata of presenzaStudenti[studenteId]">
                  <input *ngIf="isDayBetween(giornata.giornata)" type="number" class="form-control text-center w-100 tdDataInput" min="0" max="12"
                    oninput="this.value = Math.abs(this.value)" 
                    [disabled]="isArchivio || !isDayBetween(giornata.giornata)"
                    [(ngModel)]="giornata.oreSvolte"
                    [ngStyle]="(giornata.verificata) ? { 'color': '#435a70' } : { 'color': '#F83E5A' }"
                    (ngModelChange)="edit(giornata)" />
                  <input *ngIf="!isDayBetween(giornata.giornata)" type="text" class="form-control text-center w-100 tdDataInput" 
                    [disabled]="true" value="-"
                    [ngStyle]="(giornata.verificata) ? { 'color': '#435a70' } : { 'color': '#a2adb8' }"/>
                </div>
                <div class="col-1"></div>
              </div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="row" *ngIf="attivita && (studentiIds && studentiIds.length > 0)">
    <div class="col-9">
      <div class="list-group" *ngIf="studenti">
        <div class="list-group-item">
          <div class="row">
            <div class="col-2 v-center default">Nome</div>
            <div class="col-1 v-center default">Classe</div>
            <div class="col-1 v-center">
              <button class="btn" [disabled]="!isDaysBackAvailable()" (click)="navigateDaysBack()">
                <svg class="icon icon-primary icon-bg">
                  <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-arrow-left-triangle"></use>
                </svg>
              </button>
            </div>
            <div class="col-1 p-0 m-auto text-center default" *ngFor="let giornata of calendar; let i=index">
              <span>{{giornata.valueOf()| date:'dd-MM-yyyy'}} <br> {{giornata.valueOf()| date:'EEE'}}
              </span>
            </div>
            <div class="col-1 v-center">
              <button class="btn" [disabled]="!isDaysForwardAvailable()" (click)="navigateDaysForward()">
                <svg class="icon icon-primary icon-bg">
                  <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-arrow-right-triangle"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-1 p-0 m-auto text-center" *ngFor="let giornata of calendar; let i=index">
              <button type="button" [disabled]="isArchivio || !isDayBetween(giornata)" class="btn btn-outline-primary"
                (click)="setDefaultHourToAllStudents(i)">{{defaultHour}} ore</button>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
        <div class="list-group-item list-group-item-action" *ngFor="let studenteId of studentiIds; let i = index">
          <div class="row">
            <div class="col-2 default" #tooltip="ngbTooltip" placement="bottom" ngbTooltip="{{studenti[studenteId].toolTipRiga}}" (mouseenter)="showTipRiga($event, studenti[studenteId]);" >
              {{studenti[studenteId].nominativoStudente}}
            </div>
            <div class="col-1 default"#tooltip="ngbTooltip" placement="bottom" ngbTooltip="{{studenti[studenteId].toolTipRiga}}" (mouseenter)="showTipRiga($event, studenti[studenteId]);" >
              {{studenti[studenteId].classeStudente}}
            </div>
            <div class="col-1"></div>
            <div class="col-1 p-0 m-auto text-center" *ngFor="let giornata of presenzaStudenti[studenteId]">
              <input type="number" class="form-control text-center w-100" min="0" max="12"
                oninput="this.value = Math.abs(this.value)" [disabled]="isArchivio || !isDayBetween(giornata.giornata)"
                [(ngModel)]="giornata.oreSvolte"
                [ngStyle]="(giornata.verificata) ? { 'color': 'black' } : { 'color': 'red' }"
                (ngModelChange)="edit(giornata)" />
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div> -->