
.list-container{
    margin-top: 40px;

    >.row {
        margin: 0px;
    }

    .card-body {
        >.row {
            align-items: center;
            .filter-data {
                span {
                    position: absolute;
                    right: 20px;
                    bottom: 0px;
                    font-size: 15px;
                }
            }
        }
        button {
            span {
                margin: 4px;
            }
        }
    }

    .list-group {
        margin-top: 20px;
        .row {
            align-items: center;
        }
        .title {
            font-size: 18px;
            font-weight: bold;
        }
        .content {
            font-size: 20px;
        }
    }

    .menu-content {
        border-bottom: 10px solid #3DBBD2;
    }

    .middle-table {
        position: relative;
        max-width: 50%;        
        left: 20%;
    }

    .title{
        text-align: left;
        letter-spacing: 0;
        color: #5A6772;
        opacity: 1;
        font-size: larger;
        font-weight: bold;
    }
    .titleDate{
        text-align: left;
        font-family: Titillium Web;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #707070;
    }
    div.dp-input-container> input.dp-picker-input{
        font-family: Titillium Web;
        font-size: 20px !important;
        font-weight: bold;
    }
    .noteFont{
        font-family: Titillium Web;
        font-size: 18px;
        font-weight: normal;
    }
    .thStyle{
        text-align: left;
        font-family: Titillium Web;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #19191A;
    }
    .inactiveDate{
        color: #a2adb8;
    }
    .inactiveBtn{
        color: white;
        background-color: #a2adb8;
        border-radius: 6px;
    }
    .tdData{
        color: #435a70;
    }
    .tdDataInput{
        font-weight: bold;
    }
    .btnSize{
        min-width: 90px;
    }
    .hourInput {
        height: 30px;
        font-family: Titillium Web;
        font-size: 20px !important;
        font-weight: bold;
        color: #707070;
    }
    .box {
        width:20px; 
        height:20px;        
    }
    .red {
        background:#F83E5A;    
    }
    .purple {
        background:#7A73FF;
    }
    .grey {
        background:#707070;
    } 
}

.form-control:disabled {
    background-color: #E0E0E0;
}