.details-image {
    height:100px;width:100px;margin-top:10px;
}

.font-10 {
    font-weight: normal
}

.detail_label {
    font-size: 18px;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}