<div class=" mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row" *ngIf="piano">
        <div class="col-6 v-center">
            <span class="modifyTitleStyle m-left">Piano alternanza {{piano.corsoDiStudio}}</span>&nbsp;&nbsp;
            <span (click)="menuContentShow()" class="pointer">
                <svg *ngIf="!showContent" class="icon icon-primary icon-bg pointer">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                </svg>
                <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon pointer">
            </span>
        </div>
        <div class="col-6">
            <span class="row v-center float-right m0">
                <button type="button" class="btn btn-danger btn-icon btn-xs btnAnnulla" [routerLink]="['../../']" placement="bottom"  ngbTooltip="Annulla le modifiche">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Annulla</span>
                        <span class="col-4 rightItem">
                            <svg class="icon icon-white icon-sm btnModificationIcon">
                                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                            </svg>
                        </span>
                    </span>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-success btn-icon btn-xs btnSave" (click)="save()" placement="bottom"  ngbTooltip="Salva le modifiche">
                    <span class="row btnModificationText">
                        <span class="col-8 leftItem">Salva</span>
                        <span class="col-4 rightItem">
                            <i class="material-icons btnModificationIcon">save</i>
                        </span>
                    </span>
                </button>
            </span>
        </div>
    </div>
    <hr class="hr modifyHr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use></svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight" (click)="menuContentShow()"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use></svg></div>
    </div>
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>

    <div class="card-body modify-card-body modify-card-body-height" *ngIf="piano">
        <div class="titleBody">
            Aggiungi tipologie attività
        </div>
        <br>
        <div class="errorMsg" [hidden]="!forceErrorDisplay">Compila i campi necessari</div>
        <div class="row">
            <div class="col-4">
                <select class="browser-default form-control" [(ngModel)]="tipologia" id="tipologia"
                    #tipologiaInput="ngModel" required>
                    <option selected="selected">Tipologie</option>
                    <option [value]="tipologia.id" *ngFor="let tipologia of tipologie">
                        {{tipologia.titolo}}
                    </option>
                </select>
                <div class="invalid-feedback" [class.d-block]="tipologiaInput.value==='Tipologie' && forceErrorDisplay">
                    Tipologia richiesto.
                </div>
            </div>
            <div class="col-4">
                <select class="browser-default form-control" [(ngModel)]="annoRiferimento" id="annoRiferimento"
                    #annoRiferimentoInput="ngModel" required>
                    <option [value]="anno" *ngFor="let anno of anni">
                        {{anno}}° anno
                    </option>
                </select>
                <div class="invalid-feedback" [class.d-block]="forceErrorDisplay && ((annoRiferimentoInput.value > 5) || (annoRiferimentoInput.value < 3))">
                    Anno di riferimento richiesto (es. 3,4,5)
                </div>
                <!-- [class.has-danger]="annoRiferimentoInput.invalid && (annoRiferimentoInput.dirty || annoRiferimentoInput.touched || forceErrorDisplay || (annoRiferimentoInput.value > 5 ))">
                <input type="number" class="form-control" [(ngModel)]="annoRiferimento" id="annoRiferimento"
                    #annoRiferimentoInput="ngModel" placeholder="Anno di riferimento (es. 3,4,5)"  min="3" max="5" required>
                <div class="invalid-feedback"
                    [class.d-block]="forceErrorDisplay && ((annoRiferimentoInput.value > 5) || (annoRiferimentoInput.value < 3))">
                    Anno di riferimento richiesto (es. 3,4,5)
                 
                </div>-->
            </div>
            <div class="col-4"
                [class.has-danger]="monteOreInput.invalid && (monteOreInput.dirty || monteOreInput.touched || forceErrorDisplay || monteOreInput.value <= 0)">
                <input type="number" class="form-control" [(ngModel)]="monteOre" id="monteOre"
                    #monteOreInput="ngModel" placeholder="Monte ore" required>
                <div class="invalid-feedback"
                    [class.d-block]="forceErrorDisplay && (monteOreInput.value <= 0)">
                    Monte ore richiesto.</div>
            </div>
        </div>
        <div class="row btnAdd">
            <div class="col-4"></div>
            <div class="col-4">
                <button *ngIf="tipologia != 'Tipologie' && monteOre" class="btn btn-primary v-center-inline activeBtn" placement="bottom"  ngbTooltip="Aggiungi la tipologia selezionata al piano" (click)="addNewTipologie()">
                    Aggiungi tipologia attività&nbsp;&nbsp;&nbsp;<i class="material-icons">save</i></button>
                <button *ngIf="tipologia == 'Tipologie' || !monteOre" class="btn btn-primary disabled v-center-inline auto inactivebtn" placement="bottom"  ngbTooltip="Aggiungi la tipologia selezionata al piano">
                    Aggiungi tipologia attività&nbsp;&nbsp;&nbsp;<i class="material-icons">save</i></button>
            </div>
            
            <div class="col-4"></div>
        </div>
        <br>
        <div class="titleBody">
            Tipologie attività
        </div>
        <div class="row mBottom">
            <div class="col-4"><span class="tableName">3º anno</span></div>
            <div class="col-4"><span class="tableName">4º anno</span></div>
            <div class="col-4"><span class="tableName">5º anno</span></div>
        </div>
        <div class="row">
            <!-- 3º anno -->
            <div class="col-4" >
                <div class="table-responsive">
                    <table class="table table-fixed"  >
                        <thead>
                            <tr>
                                <th class="tableHeader" style="width: 70%;">Tipologia</th>
                                <th class="tableHeader" style="width: 15%;">Ore</th>
                                <th class="tableHeader" style="width: 5%;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pianoTipology of painoTipologieTerza">
                                <td style="width: 70%;">
                                    {{getTipologia(pianoTipology.tipologia).titolo}}
                                </td>
                                <td style="width: 15%;">
                                    {{pianoTipology.monteOre}}
                                </td>
                                <td style="width: 5%;">
                                    <div placement="bottom"  ngbTooltip="Rimuovi">
                                        <svg class="icon icon-danger icon-sm pointer m-left" (click)="removeTipologie(pianoTipology)">
                                            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-circle"></use>
                                        </svg>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="tableTotalBG" style="width: 70%;">
                                    <span class="tableTotal">Tot</span>
                                </td>
                                <td class="tableTotalBG" style="width: 15%;">
                                    <span class="tableTotal">{{totale[3]}}</span>
                                </td>
                                <td class="tableTotalBG" style="width: 5%;"> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 4º anno -->
            <div class="col-4" >
                <div class="table-responsive">
                    <table class="table table-fixed" >
                        <thead>
                            <tr>
                                <th class="tableHeader" style="width: 70%;">Tipologia</th>
                                <th class="tableHeader" style="width: 15%;">Ore</th>
                                <th class="tableHeader" style="width: 5%;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pianoTipology of painoTipologieQuarto">
                                <td style="width: 70%;">{{getTipologia(pianoTipology.tipologia).titolo}}</td>
                                <td style="width: 15%;">{{pianoTipology.monteOre}}</td>
                                <td style="width: 5%;">
                                    <div class="col-1" placement="bottom"  ngbTooltip="Rimuovi">
                                        <svg class="icon icon-danger icon-sm pointer m-left12" (click)="removeTipologie(pianoTipology)">
                                            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-circle"></use>
                                        </svg>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="tableTotalBG" style="width: 70%;">
                                    <span class="tableTotal">Tot</span>
                                </td>
                                <td class="tableTotalBG" style="width: 15%;">
                                    <span class="tableTotal">{{totale[4]}}</span>
                                </td>
                                <td class="tableTotalBG" style="width: 5%;"> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 5º anno -->
            <div class="col-4">
                <div class="table-responsive">
                    <table class="table table-fixed" >
                        <thead>
                            <tr>
                                <th class="tableHeader" style="width: 70%;">Tipologia</th>
                                <th class="tableHeader" style="width: 15%;">Ore</th>
                                <th class="tableHeader" style="width: 5%;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pianoTipology of painoTipologieQuinto">
                                <td style="width: 70%;">{{getTipologia(pianoTipology.tipologia).titolo}}</td>
                                <td style="width: 15%;">{{pianoTipology.monteOre}}</td>
                                <td style="width: 5%;">
                                    <div class="col-1" placement="bottom"  ngbTooltip="Rimuovi">
                                        <svg class="icon icon-danger icon-sm pointer m-left12" (click)="removeTipologie(pianoTipology)">
                                            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-circle"></use>
                                        </svg>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="tableTotalBG" style="width: 70%;">
                                    <span class="tableTotal">Tot</span>
                                </td>
                                <td class="tableTotalBG" style="width: 15%;">
                                    <span class="tableTotal">{{totale[5]}}</span>
                                </td>
                                <td class="tableTotalBG" style="width: 5%;"> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- old table -->
        <!-- <div class="table list-group">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>3º anno</th>
                        <th>4º anno</th>
                        <th>5º anno</th>
                    </tr>
                    <tr>
                        <th>
                            <div class="row">
                                <div class="col-10">Tipologia</div>
                                <div class="col-1">Ore</div>
                            </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-10">Tipologia</div>
                                <div class="col-1">Ore</div>
                            </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-10">Tipologia</div>
                                <div class="col-1">Ore</div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="row" *ngFor="let pianoTipology of painoTipologieTerza">
                                <div class="col-10">{{getTipologia(pianoTipology.tipologia).titolo}}</div>
                                <div class="col-1">{{pianoTipology.monteOre}}</div>
                                <div class="col-1" placement="bottom"  ngbTooltip="Rimuovi">
                                    <svg class="icon icon-sm" (click)="removeTipologie(pianoTipology)">
                                        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-circle"></use>
                                    </svg>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row" *ngFor="let pianoTipology of painoTipologieQuarto">
                                <div class="col-10">{{getTipologia(pianoTipology.tipologia).titolo}}</div>
                                <div class="col-1">{{pianoTipology.monteOre}}</div>
                                <div class="col-1" placement="bottom"  ngbTooltip="Rimuovi">
                                    <svg class="icon icon-sm" (click)="removeTipologie(pianoTipology)">
                                        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-circle"></use>
                                    </svg>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row" *ngFor="let pianoTipology of painoTipologieQuinto">
                                <div class="col-10">{{getTipologia(pianoTipology.tipologia).titolo}}</div>
                                <div class="col-1">{{pianoTipology.monteOre}}</div>
                                <div class="col-1" placement="bottom"  ngbTooltip="Rimuovi">
                                    <svg class="icon icon-sm" (click)="removeTipologie(pianoTipology)">
                                        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-circle"></use>
                                    </svg>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="row">
                                <div class="col-10">Tot</div>
                                <div class="col-1">{{totale[3]}}</div>
                            </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-10">Tot</div>
                                <div class="col-1">{{totale[4]}}</div>
                            </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-10">Tot</div>
                                <div class="col-1">{{totale[5]}}</div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>


</div>