<div class="card mb-3 list-container md-margin">
  <h3 class="card-header">Guida</h3>
  <div class="card-body">
    <h1>Lista offerte</h1>
    <p>Per assegnare un’attività esterna ad uno studente o ad un gruppo la stessa deve essere presente nel basket delle
      attività. Attraverso questa funziona e’ possibile inserire, modificare o eliminare un’attività esterna facendo in
      modo che l’istituto interpreti il ruolo del soggetto esterno. Questa funziona e’ utile ad esempio nel momento in
      cui un’azienda che intende proporre un’attività di tirocinio ne e’ interessata ad usare direttamente il sistema
      informativo.</p>
  </div>
</div>