<div class=" mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row m-left" *ngIf="studente">
        <div class="col-6 v-center">
            <span class="title">{{studente.name}} {{studente.surname}}</span>&nbsp;&nbsp;
            <span (click)="menuContentShow()">
                <svg *ngIf="!showContent" class="icon icon-primary icon-bg pointer">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                </svg>
                <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon pointer">
            </span> 
        </div>
    </div>
    <hr class="hr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use></svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight" (click)="menuContentShow()"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use></svg></div>
    </div>
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>
    <br>
  <div class="row" *ngIf="studente">
    
    <div class="row square">
        <div class="col-6">
            <span class="row">
                <svg class="custom icon icon-xl">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-user">
                    </use>
                </svg>
                &nbsp;&nbsp;
                <span class="sub-div-data">
                    <span class="row"><span class="text-semibold">Nome:</span>&nbsp;{{studente.name}} {{studente.surname}}</span>
                    <span class="row"><span class="text-semibold">Data di nascita:</span>&nbsp;{{studente.birthdate}}</span>
                    <span class="row"><span class="text-semibold">Codice Fiscale:</span>&nbsp;{{studente.cf}}</span>
                    <span class="row"><span class="text-semibold">Classe:</span>&nbsp;{{studente.classroom}}</span>
                    <span class="row"><span class="text-semibold">Telefono:</span>&nbsp;{{studente.phone}}</span>
                    <span class="row"><span class="text-semibold">Mail:</span>&nbsp;{{studente.email}}</span>
                </span>
            </span>            
        </div>
        <div class="col-4">
            <div class="sub-div-circle">
                <circle-progress 
                [percent]="percentage"
                [radius]="100"
                [outerStrokeWidth]="30"
                [innerStrokeWidth]="50"
                [space] = "-30"
                [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'"
                [titleFontSize]= "30"
                [unitsFontSize]= "24"
                [showSubtitle] = "true"
                [animation]="true"
                [animationDuration]="300"
                [startFromZero]="false"
                [responsive]="true"
                [subtitle]="getSubTitle()"
                [subtitleFontSize]="20"></circle-progress>
                <!-- <span class="row">{{oreValidate}} / {{oreTotali}} h</span> -->
            </div>
        </div>
        
        <div class="col-2 sub-div">
            <label class="col-12 btn btn-primary v-center-inline btn-icon btn-csv" (click)="getEsperienzeStudenteCsv()"
            placement="bottom" ngbTooltip="Esporta le attività dello studente">
                CSV dati studente
                <svg class="icon icon-white icon-sm">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-download"></use>
                </svg>
            </label>
            <label class="col-12 btn btn-primary v-center-inline btn-icon btn-csv" (click)="getEsperienzeClasseCsv()"
            placement="bottom" ngbTooltip="Esporta le attività della classe">
                CSV dati classe
                <svg class="icon icon-white icon-sm">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-download"></use>
                </svg>
            </label>
        </div>
    </div>
    
    
     
</div>

<div class="card-body" >
    <span class="title">Piano attivo:</span>
    <span class="piano" *ngIf="pianoId" [routerLink]="['/piani/detail/', pianoId]">{{titoloPiano}}</span>
    <span class="nopiano" *ngIf="!pianoId">Attenzione: non ci sono piani associati a questo corso di studio!</span>
</div>


    <div class="card-body" *ngIf="studente">
        <div class="title">
            Lista Attività <br />
        </div>
        <div *ngIf="esperienze.length > 0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Titolo</th>
                        <th>Tipologia</th>
                        <th>Ente</th>
                        <th>Ore svolte</th>
                        <th>Periodo</th>
                        <th>Stato</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let esp of esperienze">
                        <!-- Titolo -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)">{{ esp.titolo }}</span>
                        </td>
                        <!-- Tipologia -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)">{{ getTipologia(esp.tipologia).titolo }}</span>
                        </td>
                        <!-- Ente -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)">{{ esp.nomeEnte }}</span>
                        </td>
                        <!-- Ore svolte -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)">{{ esp.oreValidate }} / {{ esp.oreTotali }}</span>
                        </td>
                        <!-- Periodo -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)">{{ esp.dataInizio | date: 'dd/MM/yy'}} - {{ esp.dataFine | date: 'dd/MM/yy'}}</span>
                        </td>
                        <!-- Stato -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)" class="{{esp.stato}}">{{ getStatoNome(esp.stato) }}</span>
                        </td>
                        <!-- button -->
                        <td class="pointer">
                            <span *ngIf="esp.stato == 'in_attesa' && esp.stato == 'archiviata'" class="align-middle"></span>
                            <span *ngIf="esp.stato != 'in_attesa' && esp.stato != 'archiviata'" class="align-middle">
                                <span #tooltip="ngbTooltip" placement="bottom" ngbTooltip="{{esp.toolTipButton}}"
                                    (mouseenter)="showTipButton($event, esp, tooltip);"
                                    (mouseleave)="hideTipButton($event, esp, tooltip);">
                                    <div class='btn btn-primary btn-icon btn-xs' (click)="gestionePresenze(esp)">
                                        <svg class="icon icon-white icon-sm">
                                            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-note"></use>
                                        </svg>
                                    </div>
                                    <div *ngIf="esp.fetchingToolTipButton && (esp.toolTipButton == null || esp.toolTipButton=='')"
                                        class="progress-spinner progress-spinner-active size-sm">
                                        <span class="sr-only">Caricamento...</span>
                                    </div>
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="card-body" *ngIf="studente && competenze.length > 0">
        <div class="title">
            Competenze associate
        </div>
        <div class="table list-group">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th width="20%">Creato da</th>
                        <th width="80%">Definizione</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let competenza of competenze">
                        <td>{{competenza.ownerName}}</td>
                        <td>{{competenza.titolo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
</div>