<div class=" mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row m-left" *ngIf="studente">
        <div class="col-6 v-center">
            <span class="title">{{studente.name}} {{studente.surname}}</span>&nbsp;&nbsp;
            <span (click)="menuContentShow()">
                <svg *ngIf="!showContent" class="icon icon-primary icon-bg pointer">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                </svg>
                <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon pointer">
            </span> 
        </div>
    </div>
    <hr class="hr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use></svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight" (click)="menuContentShow()"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use></svg></div>
    </div>
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>
    <br>
  <div class="row" *ngIf="studente">
    
    <div class="row square col-6">
        <svg class="custom icon icon-xl">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-user">
                </use>
        </svg>
        &nbsp;&nbsp;&nbsp;
        <span class="sub-div">
            <span class="row">{{studente.name}} {{studente.surname}}</span>
            <span class="row">{{studente.birthdate}}</span>
            <span class="row">{{studente.cf}}</span>
            <span class="row">{{studente.classroom}}</span>
        </span>
    </div>
    
    <div class="col-4">
        <div class="sub-div-circle">
            <circle-progress 
            [percent]="percentage"
            [radius]="100"
            [outerStrokeWidth]="30"
            [innerStrokeWidth]="50"
            [space] = "-30"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [titleFontSize]= "30"
            [unitsFontSize]= "24"
            [showSubtitle] = "true"
            [animation]="true"
            [animationDuration]="300"
            [startFromZero]="false"
            [responsive]="true"
            [subtitle]="getSubTitle()"
            [subtitleFontSize]="20"></circle-progress>
            <!-- <span class="row">{{oreValidate}} / {{oreTotali}} h</span> -->
        </div>
    </div>
    
    <div class="col-2">
        <button (click)="getEsperienzeStudenteCsv()">   
            <i class="material-icons">insert_drive_file</i>
            Dati dello studente
        </button>
        <button (click)="getEsperienzeClasseCsv()">   
            <i class="material-icons">insert_drive_file</i>
            Dati della classe
        </button>
    </div>
     
</div>

    <div class="card-body" *ngIf="studente">
        <div class="title">
            Lista Attività <br />
        </div>
        <div *ngIf="esperienze.length > 0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Titolo</th>
                        <th>Tipologia</th>
                        <th>Ente</th>
                        <th>Ore svolte</th>
                        <th>Periodo</th>
                        <th>Stato</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let esp of esperienze">
                        <!-- Titolo -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)">{{ esp.titolo }}</span>
                        </td>
                        <!-- Tipologia -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)">{{ getTipologia(esp.tipologia).titolo }}</span>
                        </td>
                        <!-- Ente -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)">{{ esp.nomeEnte }}</span>
                        </td>
                        <!-- Ore svolte -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)">{{ esp.oreValidate }} / {{ esp.oreTotali }}</span>
                        </td>
                        <!-- Periodo -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)">{{ esp.dataInizio | date: 'dd/MM/yy'}} - {{ esp.dataFine | date: 'dd/MM/yy'}}</span>
                        </td>
                        <!-- Stato -->
                        <td class="pointer">
                            <span (click)="goAttivitaDetail(esp)" class="{{esp.stato}}">{{ getStatoNome(esp.stato) }}</span>
                        </td>
                        <!-- button -->
                        <td class="pointer">
                            <span *ngIf="esp.stato == 'in_attesa' && esp.stato == 'archiviata'" class="align-middle"></span>
                            <span *ngIf="esp.stato != 'in_attesa' && esp.stato != 'archiviata'" class="align-middle">
                                <span #tooltip="ngbTooltip" placement="bottom" ngbTooltip="{{esp.toolTipButton}}"
                                    (mouseenter)="showTipButton($event, esp, tooltip);"
                                    (mouseleave)="hideTipButton($event, esp, tooltip);">
                                    <div class='btn btn-primary btn-icon btn-xs' (click)="gestionePresenze(esp)">
                                        <svg class="icon icon-white icon-sm">
                                            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-note"></use>
                                        </svg>
                                    </div>
                                    <div *ngIf="esp.fetchingToolTipButton && (esp.toolTipButton == null || esp.toolTipButton=='')"
                                        class="progress-spinner progress-spinner-active size-sm">
                                        <span class="sr-only">Caricamento...</span>
                                    </div>
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>