<div class="card md-margin">
    <h3 class="card-header">{{title}}</h3>
    <div class="card-body">
        <div class="mb-3">
            <button class="btn btn-success v-center ml-auto mr-3" [routerLink]="['detail']">
                <i class="material-icons">add</i> Nuovo utente
            </button>
        </div>
        <h2>Ricerca utente:</h2>
        <div class="row">
            <div class="col col-5">
                <div class="form-group">
                    <label for="text">Nominativo o codice fiscale o email</label>
                    <input type="text" class="form-control" id="cf" placeholder="Ricerca tramite nome, cognome, codice fiscale o email" 
                    [(ngModel)]="filtro.text" (keyup.enter)="searchUser()">
                </div>
            </div>
            <div class="col col-3">
                <div class="form-group">
                    <label for="ruolo">Ruolo</label>
                    <select class="form-control" id="ruolo" [(ngModel)]="filtro.role"
                        (ngModelChange)="searchUser()">
                        <option [ngValue]="undefined">TUTTI</option>
                        <option [ngValue]="ruolo" *ngFor="let ruolo of ruoli">{{ruolo}}</option>
                    </select>
                </div>
            </div>
            <div class="col col-4">
                <div class="form-group">
                    <ng-template #rtIstituto let-r="result" let-t="term">
                        <div class="row">
                                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                        </div>
                    </ng-template>    
                    <label for="ruolo">Istituto</label>
                    <div class="row" [style.margin-left]="0">
                        <input type="text" class="form-control col col-10" [(ngModel)]="istituto"
                            id="istituto" name="istituto" [ngbTypeahead]="getIstituti" 
                            [resultTemplate]="rtIstituto" [inputFormatter]="formatterIstituto"
                            placeholder="Cerca per nome istituto">
                        <i class="material-icons pointer col col-2" ngbTooltip="cancella istituto"
                            (click)="resetIstituto()">cancel</i>
                    </div>
                    <small *ngIf="searchingIstituto" class="progress-spinner progress-spinner-active size-sm">
                            <span class="sr-only">Caricamento...</span>
                    </small>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-secondary v-center ml-auto mr-3" (click)="searchUser()">
                <i class="material-icons">search</i> Ricerca
            </button>
        </div>
        <div class="table list-group hidden-sm-down">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Codice fiscale</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let utente of utenti">
                        <td class="align-self-center custom_tr">{{utente.name}} {{utente.surname}}</td>
                        <td class="align-self-center custom_tr">{{utente.cf}}</td>
                        <td class="align-self-center custom_tr">{{utente.email}}</td>
                        <td>
                            <div class="pull-right">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-secondary btn-action" [routerLink]="['detail', utente.id]" [queryParams]="{roleback: filtro.role}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Vedi
                                    </a>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-danger btn-action v-center" (click)="deleteUser(utente.id)">
                                        <i class="material-icons">delete</i> Elimina
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <cm-pagination [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)" #cmPagination></cm-pagination>
        </div>
    </div>
</div>