<div class="md-margin home-tiles root-container">
  <div class="row justify-content-center">
      <div class="col-3 m-auto">
        <div class="card">
          <div class="card-header" (click)="openTile('utenti')">
            <h1>Gestisci utenti</h1>
          </div>
          <div class="card-body">
              <i class="material-icons tile-icon">book</i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut vulputate diam, ac interdum nibh. Donec vestibulum eros at massa fermentum ultricies. Proin pulvinar semper tristique. Phasellus sagittis arcu et ex scelerisque, maximus fermentum tortor egestas. Suspendisse ut dapibus mi. Nullam placerat orci at vulputate ultrices. Morbi interdum ultrices facilisis. Vivamus et blandit sem, ut euismod turpis. Ut tristique aliquet justo, non feugiat purus aliquet sed.</p>          
              <div class="tile-btn-container">
                <button class="btn btn-primary" (click)="openTile('utenti')">Entra</button>
              </div>
          </div>          
        </div>
      </div>
  </div>
</div>