<div class="card mb-3 list-container md-margin">
  <h3 class="card-header">Guida</h3>
  <div class="card-body">
    <h1>Lista attività individuali</h1>
    <p>Questa vista riporta e permette di gestire la lista delle attività definite dall’istituto come soggetto esterno
      e assegnate agli studenti. In particolare e’ possibile gestire le presenze, verificare il diario di bordo e
      caricare la scheda di valutazione.</p>
    <h1>Lista attività di gruppo</h1>
    <p>Questa vista riporta e permette di gestire la lista delle attività di gruppo definite dall’istituto come
      soggetto esterno e assegnate agli studenti. In particolare e’ possibile gestire le presenze, verificare il diario
      di bordo e caricare la scheda di valutazione.</p>
  </div>
</div>