<div class="modal-cartella">
    <div class="modal-header">
        <div class="row modal-title">
            <span class="modalHeaderText">crea nuova attività</span>
        </div>
        <div class="row v-center float-right">
            <button type="button" class="btn btn-danger btn-icon btn-xs btnAnnulla m-top22" placement="bottom"
                ngbTooltip="Annulla la creazione" (click)="activeModal.close('Close click')">
                <span class="row btnModificationText">
                    <span class="col-8 leftItem">Annulla</span>
                    <span class="col-4 rightItem">
                        <svg class="icon icon-white icon-sm btnModificationIcon">
                            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                        </svg>
                    </span>
                </span>
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-success btn-icon btn-xs btnSave m-top22" placement="bottom"
                ngbTooltip="Crea una nuova attività" (click)="create()">
                <span class="row btnModificationText">
                    <span class="col-8 leftItem">Salva</span>
                    <span class="col-4 rightItem">
                        <i class="material-icons btnModificationIcon">save</i>
                    </span>
                </span>
            </button>
        </div>
    </div>

    <div class="modal-body">

        <div class="errorMsg" [hidden]="!forceErrorDisplay">Compila i campi necessari</div>

        <span class="row v-center modal-title modalBodyHeaderText">Dati attività</span>

        <div class="row v-center form-group">
            <div class="col-sm-4"
                [class.has-danger]="titoloInput.invalid && (titoloInput.dirty || titoloInput.touched || forceErrorDisplay)">
                <label for="titolo" *ngIf="titolo" class="active">Titolo</label>
                <input type="text" class="form-control" [(ngModel)]="titolo" id="titolo" #titoloInput="ngModel"
                    placeholder="Titolo" (keyup)="trimValue($event, 'titolo')" (focusout)="trimValue($event, 'trim')"
                    required>
                <div class="invalid-feedback"
                    [class.d-block]="forceErrorDisplayTitolo || titoloInput.invalid && (titoloInput.dirty || titoloInput.touched || forceErrorDisplay)">
                    Campo necessario.
                </div>
            </div>

            <div class="col-sm-4"
                [class.has-danger]="tipologiaInput.invalid && (tipologiaInput.dirty || tipologiaInput.touched || forceErrorDisplay)">
                <select class="custom-select form-control" style="width: 300px;" [(ngModel)]="tipologia" id="tipologia"
                    #tipologiaInput="ngModel" (change)="onChange($event.target.value)" required>
                    <option selected="selected">Tipologia</option>
                    <option [value]="tipologia.id" *ngFor="let tipologia of tipologie">{{tipologia.titolo}}</option>
                </select>
                <div class="invalid-feedback" [class.d-block]="tipologiaInput.value==='Tipologia' && forceErrorDisplay">
                    Campo necessario.</div>
            </div>
            <div class="col-sm-4">
                <ng-template #rtReferente let-riferente="result" let-term="term">
                    <div class="row">
                        <ngb-highlight [result]="riferente.nominativoDocente" [term]="term"></ngb-highlight>
                    </div>
                </ng-template>
                <input type="text" class="form-control" [(ngModel)]="riferente" value="riferente.nominativoDocente" id="referente" name="referente"
                    [ngbTypeahead]="getRiferente" [resultTemplate]="rtReferente" [inputFormatter]="formatterReferente" (selectItem)="selectedRiferente($event)">
                    <small *ngIf="searching" class="progress-spinner progress-spinner-active size-sm">
                        <span  class="sr-only">Caricamento...</span>
                    </small>
                <label for="referente" *ngIf="riferente" class="active">Referente scolastico</label>
                <label for="referente" *ngIf="!riferente">Referente scolastico</label>
                <div class="invalid-feedback" [class.d-block]="forcereferenteDisplay">Campo necessario.</div>
            </div>
        </div>

        <div class="row v-center form-group">
            <div class="col-sm-3">
                Dal:
                <dp-date-picker #calendarStart [(ngModel)]="date.dataInizio" [config]="datePickerConfig"
                    theme="dp-material" id="dataInizio" (ngModelChange)="myHandler()"></dp-date-picker>
                <svg (click)="openStart()" class="icon icon-sm">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-calendar"></use>
                </svg>
                <div class="invalid-feedback" [class.d-block]="!date.dataInizio">Campo necessario.</div>
                <div class="invalid-feedback" [class.d-block]="date.dataInizio > date.dataFine">La data inizio deve
                    essere anteriore alla data fine</div>
            </div>

            <div class="col-sm-3">
                Al:
                <dp-date-picker #calendarEnd [(ngModel)]="date.dataFine" [config]="datePickerConfig" theme="dp-material"
                    id="dataFine" (onChange)="myHandler()" minDate="date.minFine" maxDate="date.maxFine"></dp-date-picker>
                <svg (click)="openEnd()" class="icon icon-sm">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-calendar"></use>
                </svg>
                <div class="invalid-feedback" [class.d-block]="!date.dataFine">Campo necessario.</div>
                <div class="invalid-feedback" [class.d-block]="date.dataFine < date.dataInizio">La
                    data fine deve essere posteriore alla data inizio</div>
                <div class="invalid-feedback" [class.d-block]="date.dataFine > date.maxFine">La
                    data fine non deve eccedere il {{date.maxFine.format('DD-MM-YYYY')}}</div>
            </div>
            <div class="col-sm-3"
                [class.has-danger]="oraInizioInput.invalid && (oraInizioInput.dirty || oraInizioInput.touched || forceErrorDisplay)">
                <span class="row v-center">
                    Dalle:
                    <select class="custom-select form-control" style="width: 213px;" [(ngModel)]="oraInizio"
                        id="oraInizio" #oraInizioInput="ngModel" required>
                        <option [value]="ora" *ngFor="let ora of orari">{{ora}}</option>
                    </select>
                </span>
                <div class="invalid-feedback" [class.d-block]="forceErrorDisplayOraInizio">
                    Campo necessario.</div>
                <div class="invalid-feedback" [class.d-block]="oraFineInput.value < oraInizioInput.value">La ora fine
                    deve essere posteriore alla ora inizio</div>
                </div>
            <div class="col-sm-3"
                [class.has-danger]="oraFineInput.invalid && (oraFineInput.dirty || oraFineInput.touched || forceErrorDisplay)">
                <span class="row v-center">
                    Alle:
                    <select class="custom-select form-control" style="width: 213px;" [(ngModel)]="oraFine" id="oraFine"
                        #oraFineInput="ngModel" required>
                        <option [value]="ora" *ngFor="let ora of orari">{{ora}}</option>
                    </select>
                </span>
                <div class="invalid-feedback" [class.d-block]="forceErrorDisplayOraFine">
                    Campo necessario.</div>
                <div class="invalid-feedback" [class.d-block]="oraFineInput.value < oraInizioInput.value">La ora fine
                    deve essere posteriore alla ora inizio</div>
            </div>
        </div>

        <div class="row v-center form-group">
            <div class="col-sm-4"
                [class.has-danger]="oreInput.invalid && (oreInput.dirty || oreInput.touched || forceErrorDisplay)">
                <label for="ore" *ngIf="ore" class="active">Ore totali</label>
                <input type="number" class="form-control" [(ngModel)]="ore" id="ore" #oreInput="ngModel"
                    placeholder="Ore totali" required>
                <div class="invalid-feedback"
                    [class.d-block]="oreInput.invalid && (oreInput.dirty || oreInput.touched || forceErrorDisplay)">
                    Campo necessario.</div>
            </div>

            <ng-template #rt let-r="result" let-t="term">
                <div class="row">
                    <ngb-highlight [result]="r.nome" [term]="t"></ngb-highlight>&nbsp; PIVA(
                    <ngb-highlight [result]="r.partita_iva" [term]="t"></ngb-highlight>)
                </div>
            </ng-template>
            <div class="col-sm-4">
                <label for="azienda" *ngIf="azienda" class="active">Cerca nome ente o partita iva</label>
                <input [disabled]="tipoInterna" id="azienda" placeHolder="Cerca nome ente o partita iva" type="text"
                    class="form-control" [(ngModel)]="azienda" [ngbTypeahead]="search" [resultTemplate]="rt"
                    [inputFormatter]="formatter" />
                <small *ngIf="!tipoInterna && searchingAZ" class="progress-spinner progress-spinner-active size-sm">
                    <span class="sr-only">Caricamento...</span>
                </small>
                <div class="invalid-feedback" [class.d-block]="!tipoInterna && forceEnteDisplay">Campo necessario.</div>
            </div>
            <div class="col-sm-4"
                [class.has-danger]="referenteEsternoInput.invalid && (referenteEsternoInput.dirty || referenteEsternoInput.touched || forceErrorDisplay)">
                <label for="referenteEsterno" *ngIf="referenteEsterno" class="active">Referente esterno</label>
                <input [disabled]="tipoInterna" type="text" class="form-control" [(ngModel)]="referenteEsterno"
                    id="referenteEsterno" #referenteEsternoInput="ngModel" placeholder="Referente esterno"
                    (keyup)="trimValue($event, 'esterno')" (focusout)="trimValue($event, 'trim')" required>
                <div class="invalid-feedback"
                    [class.d-block]="forceErrorDisplayRE || (!tipoInterna && referenteEsternoInput.invalid && (referenteEsternoInput.dirty || referenteEsternoInput.touched || forceErrorDisplay))">
                    Campo necessario.</div>
            </div>
        </div>
        <div class="row v-center form-group">
            <div class="col-sm-4"
                [class.has-danger]="schoolYearInput.invalid && (schoolYearInput.dirty || schoolYearInput.touched || forceErrorDisplay)">
                <label for="schoolYear" class="active">Anno accademico</label>
                <select class="custom-select form-control" [(ngModel)]="schoolYear" id="schoolYear"
                    #schoolYearInput="ngModel" (change)="onChange($event.target.value)" required>
                    <option [value]="year" *ngFor="let year of schoolYears">{{year}}</option>
                </select>
                <div class="invalid-feedback" [class.d-block]="!schoolYear && forceErrorDisplay">
                    Campo necessario.</div>
            </div>
        </div>

    </div>