.modal-body {
    padding: 30px; 
    .color-1 {
        color: #707070
     }
    .card-wrapper {
        margin: 10px;
    }
    .card-inner {
        // border: 3px solid #FF9700;
        // left: 10%;
        // width: 80%;
        // opacity: 1;
        // position: relative;
    }
    .card-body {
        background: #F0F6FC 0% 0% no-repeat padding-box;
        font-size: 25px;
    }
    
}
.custom-size {
    width: 200px!important;
    height: 40px!important;
}
.vl {
    position: relative;
    width: 0px;
    border-left: 1px solid #000000;
    // left: 1%;
}
.conv-body {
    color: #707070;
}
