    .growler {
      position: fixed;
      z-index: 999999;
    }
    
    .growler.close-button:focus {
      outline: 0;
    }
    
    .growler.top-left {
      top: 12px;
      left: 12px;
    }
    
    .growler.top-right {
      top: 12px;
      right: 12px;
    }
    
    .growler.bottom-right {
      bottom: 12px;
      right: 12px;
    }
    
    .growler.bottom-left {
      bottom: 12px;
      left: 12px;
    }
    
    .growler.top-center {
      top: 12px;
      left: 50%;
      -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);
    }
    
    .growler.bottom-center {
      bottom: 12px;
      left: 50%;
      -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);
    }
    .growler.center-center {
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
    
    .growl {
      cursor: pointer;
      padding: 5;
      width: 516px;
      height: 100%;
      min-height: 91px !important; 
      opacity: 0;      
      display: flex;
      align-items: left;
      justify-content: left;
      
      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s; 
      -o-transition: opacity 1s;
      transition: opacity 1s;        
    }   
    
    .growl.active {        
      opacity: 1;
    } 
    
    .growl-message {

    }
    .alert-message{
      width: 110%; 
      height: 100%;
      margin-top: 2% !important;
      margin-left: -10% !important;
    }
    .alert-warning {
      background-color: #FFFFFF;
      background-image: none;
    }
    .alert-warning>div>div.bg-image{
      background-repeat: no-repeat;
      background-image: url("assets/images/it-warning-circle.svg");
      margin-bottom: -10px;
    }
    .alert-danger{
      background-color: #FFFFFF;
      background-image: none;
    }
    .alert-danger>div>div.bg-image{
      background-repeat: no-repeat;
      background-image: url("assets/images/it-error.svg");
      margin-bottom: -10px;
    }
    .alert-success {
      background-color: #FFFFFF;
      background-image: none;
    }
    .alert-success>div>div.bg-image{
      background-repeat: no-repeat;
      background-image: url("assets/images/it-check-circle.svg");
      margin-bottom: -10px;
    }