
.list-container{
    margin-top: 40px;
    >.row {
        margin: 0px;
    }
    .card-body {
        >.space-row {
            margin-bottom:5px;
        }
        >.row {
            margin-bottom: 5px;
            align-items: center;
            .filter-data {
                span {
                    position: absolute;
                    right: 20px;
                    bottom: 0px;
                    font-size: 15px;
                }
            }
        }
        button {
            span {
                margin: 4px;
            }
        }
        .btnZeroStudent{
            background-color: #E7EAED;
            color: white;
        }
    }
    .list-group {
        margin-top: 20px;
        .row {
            align-items: center;
        }
        .title {
            font-size: 18px;
            font-weight: bold;
        }
        .content {
            font-size: 20px;
        }
    }
    .menu-content {
        border-bottom: 10px solid #3DBBD2;
    }
    .middle-table {
        position: relative;
        max-width: 50%;        
        left: 20%;
    }
    .title{
        text-align: left;
        letter-spacing: 0;
        color: #5A6772;
        opacity: 1;
        font-size: larger;
        font-weight: bold;
    }
    .underline {
       text-decoration: underline
    }
}
.valutazione.non_compilata{
    color: #F83E5A;
    font-weight: bold;
}
.valutazione.incompleta{
    color: #858586;
}
.valutazione.compilata{
    color: #858586;
}
.btn-val {
    width: 25px!important; 
}
.centerItem{
    text-align: center;
}
.valutazione.non_acquisita{
    color: #858586;
    font-weight: bold;
}
.valutazione.acquisita{
    color: #332e2e;
    font-weight: bold;
}
.valutazione.link {
    color: #0073e6;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}