<div class="md-margin home-tiles root-container">
  <div class="row justify-content-center">
    <div class="col-6 ">
      <div class="card">
        <div class="card-header" (click)="openTile('definizioni/attivita/incorso')">
          <h1>Definisci Attività</h1>
        </div>
        <div class="card-body">
          <i class="material-icons tile-icon">school</i>
          <p>Registra le attività di Scuola Lavoro direttamente organizzate dall'istituto in modo poi da poterle selezionare
            nella fase di Programmazione: Visita Aziendale, Corso, Azienda Simulata, ....</p>
          <div class="tile-btn-container">
            <button class="btn btn-primary" (click)="openTile('definizioni/attivita/incorso')">Entra</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 ">
      <div class="card">
        <div class="card-header" (click)="openTile('studenti')">
          <h1>Studenti</h1>
        </div>
        <div class="card-body">
          <i class="material-icons tile-icon">person</i>
          <p>Visualizza i dettagli degli studenti della scuola, il loro avanzamento e le loro eccezioni.</p>
          <div class="tile-btn-container">
            <button class="btn btn-primary" (click)="openTile('studenti')">Entra</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row md-margin"></div>

  <div class="row justify-content-center">
    <div class="col-3 ">
      <div class="card">
        <div class="card-header" (click)="openTile('definizioni/pianifica/incorso')">
          <h1>Definisci Piano</h1>
        </div>
        <div class="card-body">
          <i class="material-icons tile-icon">book</i>
          <p>Definisci un Piano Attività Alternanza e assegnalo al Corso di Studi specifico, distribuisci le ore di alternanza
            sugli anni scolastici e proponi un impianto di sviluppo del percorso.</p>
          <div class="tile-btn-container">
            <button class="btn btn-primary" (click)="openTile('definizioni/pianifica/incorso')">Entra</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 ">
      <div class="card">
        <div class="card-header" (click)="openTile('gestione/programma/incorso')">
          <h1>Programma Piano</h1>
        </div>
        <div class="card-body">
          <i class="material-icons tile-icon">domain</i>
          <p>Programma le attività di Alternanza per classe e per alunno selezionandole tra quelle messe a disposizione dalle
            aziende del territorio o dal tuo istituto di appartenenza.</p>
          <div class="tile-btn-container">
            <button class="btn btn-primary" (click)="openTile('gestione/programma/incorso')">Entra</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 ">
      <div class="card">
        <div class="card-header" (click)="openTile('gestione/corsi/incorso')">
          <h1>Gestisci Attività</h1>
        </div>
        <div class="card-body">
          <i class="material-icons tile-icon">today</i>
          <p>Gestisci le attività previste dal Piano Attività Alternanza di gruppo ed individuali, controlla lo stato di avanzamento
            del Piano e gestisci le eccezioni, le assenze e le valutazioni.</p>
          <div class="tile-btn-container">
            <button class="btn btn-primary" (click)="openTile('gestione/corsi/incorso')">Entra</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 ">
      <div class="card">
        <div class="card-header" (click)="openTile('azienda/opportunita/list')">
          <h1>Azienda</h1>
        </div>
        <div class="card-body">
          <i class="material-icons tile-icon">work</i>
          <p>Gestisci le attivita' e le offerte per tutte le aziende ed enti che non hanno accesso al sistema in modo diretto.</p>
          <div class="tile-btn-container">
            <button class="btn btn-primary" (click)="openTile('azienda/opportunita/list')">Entra</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>