<nav>
    <div *ngIf="menuText" class="sub-navbar container">
        <div class="content">{{menuText}}</div>
    </div>
    <div *ngIf="breadcrumbItems" class="row col-12 v-center container">
        <ol class="breadcrumb dark">
            <li class="breadcrumb-item" *ngFor="let item of breadcrumbItems">
                <a *ngIf="item.location" [routerLink]="[item.location]" class="underline" [queryParams]="item.queryParams"
                    (click)="customAction(item)">{{item.title}}</a>
                <a *ngIf="!item.location">{{item.title}}</a>
                <span class="separator"></span>
            </li>
        </ol>
    </div>
</nav>