<div class="mb-3 list-container md-margin">
    <div class="row">
        <div class="col-4">
            <div class="row v-center">
                <span class="title m-left2">{{title}}</span>&nbsp;&nbsp;
                <span (click)="menuContentShow()">
                    <svg *ngIf="!showContent" class="icon icon-primary icon-bg pointer">
                        <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
                    </svg>
                    <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon pointer">
                </span>
            </div>
        </div>
        <div class="col-8">
            <button class="btn btn-success btn-icon float-right m-right btnCreate mTop10" (click)="openCreate()">
                <span class="row btnCreateText">
                    <span class="col-10 m-left18" placement="bottom" ngbTooltip="Crea un nuovo piano">Crea nuovo
                        piano</span>
                    <span class="col-2">
                        <svg class="icon icon-white icon-sm m-right36">
                            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-plus-circle"></use>
                        </svg>
                    </span>
                </span>
            </button>
        </div>
    </div>
    <hr class="hr" />
    <div *ngIf="showContent" class="row rectangle v-center-inline">
        <div class="col-1 helpMessageIcon-mRight">
            <svg class="icon icon-sm fill-darkblue">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use>
            </svg>
        </div>
        <div class="col-10 helpMessage-mLeft">
            <span>{{menuContent}}</span>
        </div>
        <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight"
                (click)="menuContentShow()">
                <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
            </svg></div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-4 v-center-inline">
            <div class="form-group center-formGroup">
                <input type="text" id="cercaPiani" class="form-control search-input" [ngStyle]="customSearchOption()" [(ngModel)]="filtro.titolo"
                    (keyup.enter)="cerca()">
                <label for="cercaPiani">Cerca Titolo...</label>
            </div>
            <it-button class="v-center-inline" (click)="cerca()">
                <svg class="icon icon-primary">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-search"></use>
                </svg>
            </it-button>
        </div>
        <div class="col-4">
            <select class="custom-select form-control" style="width: 300px;" [ngStyle]="customCorsoOption()" [(ngModel)]="corsodistudio"
                (ngModelChange)="selectCorsoFilter()">
                <option [ngValue]="undefined">Seleziona corso di studio</option>
                <option [ngValue]="corsodistudio.courseId" *ngFor="let corsodistudio of corsiStudio">
                    {{corsodistudio.nome}}</option>
            </select>
        </div>
        <div class="col-4">
            <select class="float-right custom-select form-control" style="width: 300px;" [ngStyle]="customStatoOption()" [(ngModel)]="stato"
                (ngModelChange)="selectStatoFilter()">
                <option [ngValue]="undefined">Seleziona stato</option>
                <option [ngValue]="stato.value" *ngFor="let stato of stati">{{stato.name}}</option>
            </select>
        </div>
    </div>
    <br />
    <div class="table list-group" *ngIf="pianiAlternanza && pianiAlternanza.length">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Titolo</th>
                    <th>Anni</th>
                    <th>Corso di studio</th>
                    <th>Periodo</th>
                    <th>Ore</th>
                    <th>Stato</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let piano of pianiAlternanza" (click)="openDetail(piano)">
                    <td class="align-middle pointer">{{piano.titolo}}</td>
                    <td class="align-middle pointer">{{getAnniString(piano)}}</td>
                    <td class="align-middle pointer">{{getCorsoDiStudioString(piano.corsoDiStudio)}}</td>
                    <td class="align-middle pointer">{{piano.periodo }}</td>
                    <td class="align-middle pointer">{{piano.oreTerzoAnno + piano.oreQuartoAnno + piano.oreQuintoAnno}}
                    </td>
                    <td class="align-middle pointer">
                        <span #tooltip="ngbTooltip" class="{{piano.stato}}" placement="bottom"
                            ngbTooltip="{{piano.toolTip}}" (mouseenter)="showTip($event, piano, tooltip);"
                            (mouseleave)="hideTooltip($event, piano, tooltip);">{{getStatoNome(piano.stato)}}
                            <div *ngIf="piano.fetchingToolTip && (piano.toolTip == null || piano.toolTip=='')"
                                class="progress-spinner progress-spinner-active size-sm">
                                <span class="sr-only">Caricamento...</span>
                            </div>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="font-14 text-center font-weight-bold">
        <div class="row" *ngIf="!pianiAlternanza?.length && filterSearch">
            <div class="col-xl-12 text-center errorIconPaddingTop">
                <svg class="icon icon-danger icon-xl">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-error"></use>
                </svg>
            </div>
            <div class="col-xl-12 text-center">
                <span class="searchError">Nessun risultato: modifica i tuoi criteri di ricerca</span>
            </div>
            <div class="col-sm-12 text-center">
                <button type="button" class="btn" (click)='refreshPiani()'>
                    <span class="resetFilterBtn">
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <svg class="icon icon-danger">
                                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close"></use>
                                </svg>
                            </div>
                            <div class="col-sm-10 ">Resetta filtri</div>
                        </div>
                    </span>
                </button>
            </div>
        </div>
        <div class="row" *ngIf="!pianiAlternanza?.length && !filterSearch">
            <div class="col-xl-12 text-center errorIconPaddingTop">
                <svg class="icon icon-lightGrey icon-xl">
                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-error"></use>
                </svg>
            </div>
            <div class="col-xl-12 text-center">
                <span class="searchError">Questa lista è vuota</span>
            </div>
            <div class="col-sm-12 text-center searchErrorMsg text-semibold">Puoi creare nuovi piani con il pulsante
                verde in alto a destra.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <!-- <span>{{currentpage + 1}} - {{pageSize}} di {{totalRecords}} items</span> -->
        <cm-pagination [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"
            #cmPagination></cm-pagination>
    </div>
</div>