<sub-navbar [titolo]="navTitle" [breadcrumbItems]="breadcrumbItems"></sub-navbar>
<div class="sub-navbar-content-below mx-auto">

    <div class="card md-margin">
        <div class="card-header">
            <div class="card-title">Dettaglio attività</div>
        </div>
        <div class="card-body" *ngIf="esperienzaSvolta">
            <div>
                <div class="row">
                    <label class="col-sm-4 detail-label">Titolo</label>
                    <div class="col-sm-8" *ngIf="esperienzaSvolta.attivitaAlternanza.individuale">{{ esperienzaSvolta.studente.name | capitalize }} {{ esperienzaSvolta.studente.surname | capitalize }}</div>
                    <div class="col-sm-8" *ngIf="!esperienzaSvolta.attivitaAlternanza.individuale">{{ esperienzaSvolta.attivitaAlternanza.classe | capitalize }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-4 detail-label">Istituto</label>
                    <div class="col-sm-8">{{esperienzaSvolta.attivitaAlternanza.istituto}}</div>
                </div>
                <div class="row">
                    <label class="col-sm-4 detail-label">Tipologia</label>
                    <div class="col-sm-8">{{ getTipo(esperienzaSvolta.attivitaAlternanza.tipologia) }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-4 detail-label">Periodo</label>
                    <div class="col-sm-8">{{esperienzaSvolta.attivitaAlternanza.dataInizio | date: 'dd/MM/yyyy'}} - {{esperienzaSvolta.attivitaAlternanza.dataFine
                        | date: 'dd/MM/yyyy'}}</div>
                </div>
                <!-- <div class="row">
                                <label class="col-sm-4 detail-label">Referente Formazione</label>
                                <div *ngIf="esperienzaSvolta.attivitaAlternanza.corsoInterno" class="col-sm-8">{{esperienzaSvolta.attivitaAlternanza.corsoInterno.referenteFormazione}}</div>
                              </div> -->
                <div class="row">
                    <label class="col-sm-4 detail-label">Referente Azienda</label>
                    <div *ngIf="esperienzaSvolta.attivitaAlternanza.opportunita" class="col-sm-8">{{esperienzaSvolta.attivitaAlternanza.opportunita.referente}}</div>
                </div>
                <div class="row">
                    <label class="col-sm-4 detail-label">Note Azienda:</label>
                    <div class="col-sm-8">{{esperienzaSvolta.noteAzienda}}</div>
                </div>
            </div>
            <div>
                <ngb-tabset class="custom-tabset">
                    <ngb-tab>
                        <ng-template ngbTabTitle>Competenze</ng-template>
                        <ng-template ngbTabContent>
                            <div class="mb-3 clearfix">
                                <h2>Competenze associate al corso</h2>
                            </div>
                            <ul class="list-group" *ngIf="esperienzaSvolta && esperienzaSvolta.attivitaAlternanza.opportunita.competenze && esperienzaSvolta.attivitaAlternanza.opportunita.competenze.length>0">
                                <li class="list-group-item" *ngFor="let competenza of esperienzaSvolta.attivitaAlternanza.opportunita.competenze">
                                    <div class="row">
                                        <div class="col-11">
                                            <h2 class="competenza-title">{{competenza.titolo}}</h2>
                                            <div class="competenza-description">{{competenza.descrizione}}</div>
                                        </div>
                                        <div class="mr-4 ml-auto v-center-inline">
                                            <button class="btn btn-flat" (click)="openDetailCompetenza(competenza)">
                                                <i class="material-icons">info_outline</i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row" *ngIf="!esperienzaSvolta || !esperienzaSvolta.attivitaAlternanza.opportunita.competenze || esperienzaSvolta.attivitaAlternanza.opportunita.competenze.length==0">
                                <div class="col col-md-12 text-center">
                                    Non sono presenti competenze
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Presenze</ng-template>
                        <ng-template ngbTabContent>
                            <activity-simple-diary [esperienzaSvolta]="esperienzaSvolta"></activity-simple-diary>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Scheda Valutazione</ng-template>
                        <ng-template ngbTabContent>
                            <activity-evaluation [esperienzaSvolta]="esperienzaSvolta"></activity-evaluation>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>

        </div>

    </div>
    <div class="card md-margin">
        <h3 class="card-header v-center">
            <i class="material-icons">note</i> Note azienda
        </h3>
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary v-center" (click)="editAziendaNote()">
                    <i class="material-icons">mode_edit</i> Modifica nota
                </button>
            </div>
            <p>
                {{esperienzaSvolta?.noteAzienda}}
            </p>
        </div>
    </div>
</div>
<!-- <ngb-tabset class="sub-navbar-content-below mx-auto">
    <ngb-tab title="Attivita dettagli">
        <ng-template ngbTabContent>
            <activity-details [esperienzaSvolta]="esperienzaSvolta"></activity-details>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Attivita Giornaliore" *ngIf="(esperienzaSvolta && esperienzaSvolta.attivitaAlternanza && esperienzaSvolta.attivitaAlternanza.individuale &&
        ((esperienzaSvolta.attivitaAlternanza.tipologia == 7) || (esperienzaSvolta.attivitaAlternanza.tipologia == 8) || (esperienzaSvolta.attivitaAlternanza.tipologia == 9)
        || (esperienzaSvolta.attivitaAlternanza.tipologia == 10)) )">
        <ng-template ngbTabContent>
            <activity-simple-diary [esperienzaSvolta]="esperienzaSvolta"></activity-simple-diary>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Scheda Valutazione" *ngIf="(esperienzaSvolta && esperienzaSvolta.attivitaAlternanza && esperienzaSvolta.attivitaAlternanza.individuale &&
            ( (esperienzaSvolta.attivitaAlternanza.tipologia == 7) || (esperienzaSvolta.attivitaAlternanza.tipologia == 8) || (esperienzaSvolta.attivitaAlternanza.tipologia == 9)
            || (esperienzaSvolta.attivitaAlternanza.tipologia == 10)) )">
        <ng-template ngbTabContent>
            <activity-evaluation [esperienzaSvolta]="esperienzaSvolta"></activity-evaluation>
        </ng-template>
    </ngb-tab>
</ngb-tabset> -->