<div class=" mb-3 list-container md-margin sub-navbar-content-below m16">
  <div class="row" *ngIf="piano">
      <div class="col-6 v-center">
          <span class="modifyTitleStyle m-left2">Piano alternanza {{piano.corsoDiStudio}}</span>&nbsp;&nbsp;
          <span (click)="menuContentShow()" class="pointer">
            <svg *ngIf="!showContent" class="icon icon-primary icon-bg pointer">
              <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-help-circle"></use>
            </svg>
            <img *ngIf="showContent" src="assets/images/it-help-circle-FULL.svg" class="helpIcon pointer">
          </span>
      </div>
      <div class="col-6">
          <span class="row v-center float-right mOf">
              <button type="button" class="btn btn-danger btn-icon btn-xs btnAnnulla mLeft12" [routerLink]="['../../']" placement="bottom"  ngbTooltip="Annulla le modifiche">
                <span class="row btnModificationText">
                  <span class="col-8 leftItem">Annulla</span>
                  <span class="col-4 rightItem">
                      <svg class="icon icon-white icon-sm btnModificationIcon">
                          <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                      </svg>
                  </span>
                </span>
              </button>
              <button class="btn btn-success btn-icon btn-xs btnSave mLeft12" (click)="update()" placement="bottom"  ngbTooltip="Salva le modifiche">
                <span class="row btnModificationText">
                  <span class="col-8 leftItem">Salva</span>
                  <span class="col-4 rightItem">
                      <i class="material-icons btnModificationIcon">save</i>
                  </span>
                </span>
              </button>
          </span>
      </div>
  </div>
  <hr class="hr modifyHr" />
  <div *ngIf="showContent" class="row rectangle v-center-inline mOf">
    <div class="col-1 helpMessageIcon-mRight">
        <svg class="icon icon-sm fill-darkblue"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-info-circle"></use></svg>
    </div>
    <div class="col-10 helpMessage-mLeft">
        <span>{{menuContent}}</span>
    </div>
    <div class="col-1"><svg class="icon float-right fill-darkblue pointer helpMessageClose-mRight" (click)="menuContentShow()"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use></svg></div>
  </div>
  <div class="row m-subNav">
      <div class="col-12">
          <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
      </div>
  </div>

  <div class="card-body modify-card-body modify-card-body-height" *ngIf="piano">
    <!-- <div class="errorMsg" [hidden]="!forceErrorDisplay">Compila i campi necessari</div> -->
    <span class="row v-center modal-title modalSubject">Dati piano</span>
    <div class="row m16">
      <div class="col-5">
        <!-- titolo -->
        <div class="row v-center form-group">
          <div class="col-10" [class.has-danger]="titoloInput.invalid && (titoloInput.dirty || titoloInput.touched || forceErrorDisplay)">
            <input type="text" class="form-control" [(ngModel)]="piano.titolo" id="titolo" #titoloInput="ngModel" (keyup)="trimValue($event)" required>
            <label for="titolo" class="active">Titolo</label>
            <div class="invalid-feedback" [class.d-block]="!titoloInput.value || forceErrorDisplay || forceErrorDisplayTitolo">
                Campo necessario.
            </div>
          </div>
          <div class="col-2"></div>
        </div>
        <!-- Stato -->
        <div class="row v-center form-group">
          <div class="col-10" [class.has-danger]="definizioneInput.invalid && (definizioneInput.dirty || definizioneInput.touched || forceErrorDisplay)">
            <input type="text" [disabled]=true class="form-control bg-transparent" [(ngModel)]="piano.stato" id="stato" #definizioneInput="ngModel"
                 required>
            <label for="stato" class="active">Stato</label>
            <div class="invalid-feedback"
                [class.d-block]="definizioneInput.invalid && (definizioneInput.dirty || definizioneInput.touched || forceErrorDisplay)">
                Campo necessario.
            </div>
          </div>
          <div class="col-2"></div>
        </div>
        <!-- Corso di studio -->
        <div class="row v-center form-group">
          <div class="col-10" [class.has-danger]="corsoStudioInput.invalid && (corsoStudioInput.dirty || corsoStudioInput.touched || forceErrorDisplay)">
            <label for="corsoStudio" class="active">Corso di studio</label>
            <select [disabled]=true class="browser-default form-control" [(ngModel)]="piano.corsoDiStudioId" id="corsoStudio"
                #corsoStudioInput="ngModel" required>
                <option [value]="corsodistudio.courseId" *ngFor="let corsodistudio of corsiStudio">
                    {{corsodistudio.nome}}
                </option>
            </select>
            <div class="invalid-feedback"
                [class.d-block]="corsoStudioInput.value==='Corso di studio' && forceErrorDisplay">Corso di studio
                richiesto.</div>
          </div>
          <div class="col-2"></div>
        </div>
        <!-- Note -->
        <div class="row v-center form-group">
          <div class="col-10" [class.has-danger]="definizioneInput.invalid && (definizioneInput.dirty || definizioneInput.touched || forceErrorDisplay)">
            <input type="text" class="form-control" [(ngModel)]="piano.note" id="note" #definizioneInput="ngModel">
            <label for="note" *ngIf="piano.note" class="active">Note</label>
            <label for="note" *ngIf="!piano.note">Note</label>
          </div>
          <div class="col-2"></div>
        </div>
        <!-- Anno -->
        <div class="row v-center form-group">
          <div class="col-10" [class.has-danger]="definizioneInput.invalid && (definizioneInput.dirty || definizioneInput.touched || forceErrorDisplay)">
            <input type="text" [disabled]=true class="form-control bg-transparent" [(ngModel)]="piano.periodo" id="anno" #definizioneInput="ngModel">
            <label for="anno" *ngIf="piano.periodo" class="active">Anni riferimento</label>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
      <div class="col-4">
        <!-- Monte ore 3º anno -->
        <div class="row v-center form-group">
          <div class="col-10" [class.has-danger]="monte3annoInput.invalid && (monte3annoInput.dirty || monte3annoInput.touched || forceErrorDisplay)">
            <label for="monte3anno" class="active">Monte ore 3º anno</label>
            <input type="number" min="0" class="form-control" [(ngModel)]="piano.oreTerzoAnno" id="monte3anno" #monte3annoInput="ngModel" placeholder="Monte ore 3º anno" required>
            <div class="invalid-feedback" [class.d-block]="monte3annoInput.invalid || (forceErrorDisplay && (monte3annoInput.value <= 0))">
              Monte 3º anno richiesto.
            </div>
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row v-center form-group"> </div>
        <!-- Monte ore 4º anno -->
        <div class="row v-center form-group">
          <div class="col-10" [class.has-danger]="monte4annoInput.invalid && (monte4annoInput.dirty || monte4annoInput.touched || forceErrorDisplay)">
            <label for="monte4anno" class="active">Monte ore 4º anno</label>
            <input type="number" min="0" class="form-control" [(ngModel)]="piano.oreQuartoAnno" id="monte4anno" #monte4annoInput="ngModel" placeholder="Monte ore 4º anno" required>
            <div class="invalid-feedback" [class.d-block]="monte4annoInput.invalid || (forceErrorDisplay && (monte4annoInput.value <= 0))">
                Monte 4º anno richiesto.
            </div>
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row v-center form-group"></div>
        <!-- Monte ore 5º anno -->
        <div class="row v-center form-group">
          <div class="col-10" [class.has-danger]="monte5annoInput.invalid && (monte5annoInput.dirty || monte5annoInput.touched || forceErrorDisplay)">
            <label for="monte5anno" class="active">Monte ore 5º anno</label>
            <input type="number" min="0" class="form-control" [(ngModel)]="piano.oreQuintoAnno" id="monte5anno" #monte5annoInput="ngModel" placeholder="Monte ore 5º anno" required>
            <div class="invalid-feedback" [class.d-block]="monte5annoInput.invalid || (forceErrorDisplay && (monte5annoInput.value <= 0))">
              Monte 5º anno richiesto.
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
      <div class="col-3">
        <div class="row v-center form-group"></div>
        <div class="row v-center form-group"></div>
        <!--  Totale ore: -->
        <div class="row v-center form-group">
          <div class="col-10">
            <label for="totalAnno" class="active">Totale ore:</label>
            <input [disabled]=true type="number" id="totalAnno" class="form-control bg-transparent" value="{{piano.oreQuartoAnno + piano.oreTerzoAnno + piano.oreQuintoAnno}}">
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>