<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>RipresaTrentino activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Your RipresaTrentino account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <a href="${baseUrl}/account/activate?key=${token}">Activation link</a>
        </p>
        <p>
            <span>Saluti, </span>
            <br/>
            <em>RipresaTrentino.</em>
        </p>
    </body>
</html>
