<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>EDIT activation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Buongiorno,<br/> 
		Questa è una mail automatica inviata dal sistema EDIT per la gestione delle esperienze di alternanza scuola lavoro
		degli istituti secondari superiori della Provincia Autonoma di Trento.
	</p>
	<p>
		Le comunichiamo che il Suo indirizzo email è stato indicato da {{nomeIstituto}} per la gestione 
		delle attività nel portale EDIT.
	</p>
	<p>
		Tramite un account EDIT potrà ...
	</p>
	<p>
		<a href="{{baseUrl}}">CLICCARE QUI PER ACCEDERE AL PORTALE EDIT</a>
	</p>
	<p>
		<span>Distinti saluti, </span> <br /> 
		<em>Il team di EDIT</em>
	</p>
</body>
</html>
