<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>EDIT activation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Buongiorno,<br/> 
		Questa è una mail automatica inviata dal sistema EDIT per la gestione delle esperienze di alternanza scuola lavoro
		degli istituti secondari superiori della Provincia Autonoma di Trento.
	</p>
	<p>
		Le comunichiamo che il Suo indirizzo email è stato indicato da <strong>{{nomeIstituto}}</strong> come delegato 
		per la gestione dell’ente <strong>{{nomeEnte}}</strong> nel portale EDIT.
	</p>
	<p>
		Se vuole accettare l’invito, <strong>clicchi sul link in calce alla mail</strong>, che La condurrà verso la procedura di registrazione in EDIT.
	</p>
	<p>
		Tramite un account EDIT potrà gestire i tirocini di alternanza scuola lavoro presso il suo ente: organizzare e condividere i documenti, 
		certificare le presenze e formulare offerte di tirocinio per le scuole.
	</p>
	<p>
		<a href="{{baseUrl}}/account/activate?key={{token}}">CLICCARE QUI PER ATTIVARE IL PROFILO EDIT</a>
	</p>
	<p>
		<span>Distinti saluti, </span> <br /> 
		<em>Il team di EDIT</em>
	</p>
</body>
</html>
