<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>EDIT activation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Gentile Professore/Professoressa,<br/> 
		con la presente La informiamo che questo indirizzo email è stato abilitato su EDIT - Esperienze Didattiche Insieme al Territorio. 
		Si tratta del sistema ufficiale di gestione delle esperienze di alternanza scuola-lavoro della Provincia Autonoma di Trento.
	<p>
		L’accesso è stato attivato dall’istituto {{nomeIstituto}}, e durerà fino alla fine dell’anno scolastico.
	</p>
	<p>
		Potrà accedere al sistema con il link in calce, utilizzando le credenziali che già utilizza per l’accesso alla presente casella email.
	</p>
	<p>
		<a href="{{baseUrl}}/cartella">CLICCARE QUI PER ACCEDERE AL PORTALE EDIT</a>
	</p>
	<p>
		<span>Distinti saluti, </span> <br /> 
		<em>Il team di EDIT</em>
	</p>
</body>
</html>
