<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>EDIT activation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Gentile Professore/Professoressa,<br/> 
		con la presente La informiamo che questo indirizzo email è stato abilitato su EDIT - Esperienze Didattiche Insieme al Territorio,
		il sistema ufficiale di gestione delle esperienze di alternanza scuola-lavoro della Provincia Autonoma di Trento.
	<p>
		L’accesso è stato attivato da {{nomeIstituto}}, e durerà fino alla fine dell’anno scolastico.
	</p>
	<p>
		Potrà accedere al sistema con il link in calce, utilizzando le credenziali che già utilizza per l’accesso alla presente casella email.
	</p>
	<p>
		Le ricordiamo che con il Suo account non potrà creare o archiviare attività, ma soltanto gestire quelle degli studenti/studentesse a Lei assegnati/e. 
		Potrà anche visualizzare tutte le attività di Alternanza Scuola Lavoro.
	</p>
	<p>
		Qualora invece Lei venga assegnato come tutor relativo ad una specifica attività, 
		potrà visualizzare soltanto i dati degli studenti/studentesse associati/e a quell’attività.
	</p>
	<p>
		Se incontra problemi o necessita di chiarimenti, non esiti a contattarci al seguente indirizzo:</p><br/>
		Email assitenza: <a href="mailto:cartella-help@smartcommunitylab.it">cartella-help@smartcommunitylab.it</a>
	</p>
	<p>
		Link d’accesso: <a href="{{baseUrl}}/asl-scuola">{{baseUrl}}/asl-scuola</a>
	</p>
	<p>
		Tutorial per l’uso di EDIT: <a href="https://sites.google.com/fbk.eu/videotutorialedit/home">https://sites.google.com/fbk.eu/videotutorialedit/home</a>   
	</p>
	<p>
		<span>Distinti saluti, </span> <br /> 
		<em>Il team di EDIT</em>
	</p>
</body>
</html>
