<div class="modal-cartella">
    <div class="modal-header">
        <div class="row modal-title v-center">
            <span class="modalHeaderText m-top22">crea nuova competenza</span>
        </div>
        <div class="row v-center float-right">
            <button type="button" class="btn btn-danger btn-icon btn-xs btnAnnulla m-top22" placement="bottom"  ngbTooltip="Annulla creazione competenza" (click)="activeModal.close('Close click')">
                <span class="row btnModificationText">
                    <span class="col-8 leftItem">Annulla</span>
                    <span class="col-4 rightItem">
                        <svg class="icon icon-white icon-sm btnModificationIcon">
                            <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use>
                        </svg>
                    </span>
                </span>
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-success btn-icon btn-xs btnSave m-top22" placement="bottom"  ngbTooltip="{{(definizione && livelloEQF)? 'Crea nuova competenza' : 'Inserisci i dati necessari'}}" (click)="create()">
                <span class="row btnModificationText">
                    <span class="col-8 leftItem">Salva</span>
                    <span class="col-4 rightItem">
                        <i class="material-icons btnModificationIcon">save</i>
                    </span>
                </span>
            </button>
        </div>
    </div>

    <div class="modal-body">

        <div class="errorMsg" [hidden]="!forceErrorDisplay">Compila i campi necessari</div>

        <span class="row v-center modal-title modalBodyHeaderText">Dati competenza</span>

        <div class="row v-center form-group">
            <div class="col-4" [class.has-danger]="definizioneInput.invalid && (definizioneInput.dirty || definizioneInput.touched || forceErrorDisplay)">
                <input type="text" class="form-control" [(ngModel)]="definizione" id="definizione" #definizioneInput="ngModel"
                     required>
                    <label for="definizione">Nome competenza</label>
                <div class="invalid-feedback"
                    [class.d-block]="definizioneInput.invalid && (definizioneInput.dirty || definizioneInput.touched || forceErrorDisplay)">
                    Campo necessario.</div>
            </div>
        </div>
        <div class="row v-center form-group">
            <!-- <div class="col-6" [class.has-danger]="livelloEQFInput.invalid && (livelloEQFInput.dirty || livelloEQFInput.touched || forceErrorDisplay)">
                <input type="text" class="form-control" [(ngModel)]="livelloEQF" id="livelloEQF" #livelloEQFInput="ngModel"
                     required>
                    <label for="livelloEQF">Livello EQF</label>
                <div class="invalid-feedback"
                    [class.d-block]="livelloEQFInput.invalid && (livelloEQFInput.dirty || livelloEQFInput.touched || forceErrorDisplay)">
                    Campo necessario.</div>
            </div> -->
            <div class="col-sm-4" [class.has-danger]="livelloEQFInput.invalid && (livelloEQFInput.dirty || livelloEQFInput.touched || forceErrorDisplay)">
                <select class="custom-select form-control pointer"  [(ngModel)]="livelloEQF" id="livelloEQF"
                    #livelloEQFInput="ngModel" (change)="onChange($event.target.value)" required placement="bottom"  ngbTooltip="Quadro Europeo delle Qualifiche">
                    <option selected="selected" value="livelloEQF">Livello EQF</option>
                    <option [value]="eqf" *ngFor="let eqf of arrEQF">{{eqf}}</option>
                </select>
                <div class="invalid-feedback"
                [class.d-block]="livelloEQFInput.value==='livelloEQF' && forceErrorDisplay">
                    Campo necessario.
                </div>
            </div>

        </div>

    </div>