<div class="footer d-flex justify-content-between p-5">
  <div class="align-self-start footer-images">
    <a target="_blank" href="http://www.provincia.tn.it/" class="mr-5">
      <img src="assets/images/provincia_bianco.png">
    </a>
    <a target="_blank" href="http://www.fbk.eu/" class="ml-5">
      <img src="assets/images/fbk_bianco.png">
    </a>
  </div>
  <div class="align-self-end footer-content">
    <div class="d-inline mr-5">
      © 2018 Smart Community
    </div>
    <a href="mailto:cartella-help@smartcommunitylab.it" class="d-inline mr-5">Assistenza</a>
    <!-- <a href="" class="d-inline">Condizioni e Privacy</a> -->
  </div>

</div>