<div class="mb-3 list-container md-margin sub-navbar-content-below m16">
    <div class="row" *ngIf="ente">
        <div class="col-6 v-center">
            <span class="modifyTitleStyle m-left">{{ente.nome}}</span>&nbsp;&nbsp;
        </div>
        <div class="col-6">
            <div class="row v-center float-right">
                <button type="button" class="btn btn-danger btn-icon btn-xs" placement="bottom"
                    ngbTooltip="Annulla le modifiche" (click)="cancel()">
                    <span class="row modalButtonTextStyle">
                        <span class="v-center">Annulla&nbsp;</span>&nbsp;
                        <span>
                            <i class="material-icons">close</i>
                        </span>
                    </span>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-success btn-icon btn-xs" placement="bottom" ngbTooltip="Modifica o elimina gli account che possono operare su questo ente"
                    (click)="save()">
                    <span class="row modalButtonTextStyle">
                        <span class="v-center">Salva&nbsp;</span>&nbsp;
                        <span>
                            <i class="material-icons">save</i>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <hr class="hr modifyHr" />
    <div class="row m-subNav">
        <div class="col-12">
            <sub-navbar [breadcrumbItems]="breadcrumbItems"></sub-navbar>
        </div>
    </div>
    <div class="card-body modify-card-body">
        <span class="row v-center modal-title modalSubject">Account abilitati</span>
        <div class="list-group" *ngIf="ruoli && ruoli.length > 0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Indirizzo email</th>
                        <th>Nome</th>
                        <th>Ruolo</th>
                        <th>Creato il</th>
                        <th>Creato da</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ruolo of ruoli">
                        <!-- Indirizzo email -->
                        <td class="pointer">
                            <span class="align-middle color-blu text-underline">{{ ruolo.email }}</span>
                        </td>
                        <!-- Nome -->
                        <td class="pointer">
                            <span class="align-middle">{{ ruolo.name }} {{ ruolo.surname }}</span>
                        </td>
                        <!-- Ruolo -->
                        <td class="pointer">
                            <span class="align-middle">{{ ruolo.role }}</span>
                        </td>
                        <!-- Creato il -->
                        <td class="pointer">
                            <span class="align-middle">{{ ruolo.dataAccettazione | date: 'dd/MM/yyyy'}}</span>
                        </td>
                        <!-- Creato da -->
                        <td class="pointer">
                            <span class="align-middle">{{ ruolo.nominativoInvito }}</span>
                        </td>
                        <!-- delete -->
                        <td class="pointer">
                            <div class='btn btn-primary btn-icon btn-xs float-right'>
                                <svg class="icon icon-white icon-sm" (click)="deleteRuolo(ruolo)">
                                    <use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-delete"></use>
                                </svg>
                            </div>
                        </td>
                     </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>